In [1]:
# This project follows the same structure as Oscar_Winners.ipynb but it focuses on all nominees not just the winners

In [2]:
# Import functions from file
from functions import loadPage, extractYears, extractFilmData, createDataFrame

In [3]:
# Page 1- Best Picture
# Call function to read in URL and retrieve data from the page
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Picture")
# From the data get all the tables that have the following class
tables = data.findAll("table", class_= "wikitable")

In [4]:
# Call function to get the years and the number of films nominated for each year
yearData = extractYears("picture", tables, False)
# Create lists from the dictionary columns
years = yearData['years']
numFilms = yearData['numFilms']

In [5]:
# Call function to get the film data from tables. 
# Notice the third parameter False. This is to change its default value of True so that the function returns all data not just 
# the winners
data = extractFilmData("picture", tables, False)
# Create lists from the dictionary columns
producers = data['names']
films = data['films']
winners = data['winners']

In [6]:
# Check the length of each lists. Producers and films are the same length.
print("Years:      %d" % (len(years)))
print("Producers:  %d" % (len(producers)))
print("Films:      %d" % (len(films)))

Years:      92
Producers:  563
Films:      563

In [7]:
# Call function to create a dataframe by passing in the lists
df_picture = createDataFrame("picture", {"films": films, "producers": producers}, {"years": years, "numFilms": numFilms}, winners)

In [8]:
# Show the first 5 rows of dataframe
df_picture.head()

   Year                 Film               Producers Winner
0  1928                Wings  Paramount Famous Lasky    Yes
1  1928           The Racket       The Caddo Company     No
2  1928           7th Heaven                     Fox     No
3  1929  The Broadway Melody     Metro-Goldwyn-Mayer    Yes
4  1929                Alibi     Feature Productions     No

In [9]:
# Show the last 5 rows of dataframe
df_picture.tail()

,Year,Film,Producers,Winner
558,2019,Joker,"Todd Phillips, Bradley Cooper, and Emma Tillin...",No
559,2019,Little Women,Amy Pascal,No
560,2019,Marriage Story,Noah Baumbach and David Heyman,No
561,2019,1917,"Sam Mendes, Pippa Harris, Jayne-Ann Tenggren, ...",No
562,2019,Once Upon a Time in Hollywood,"David Heyman, Shannon McIntosh, and Quentin Ta...",No

In [10]:
# Page2 - Best Director
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Director")
tables = data.findAll("table", class_= "wikitable sortable")

In [11]:
yearData = extractYears("director", tables, False)
years = yearData['years']
numFilms = yearData['numFilms']

In [12]:
data = extractFilmData("director", tables, False)
directors = data['names']
films = data['films']
winners = data['winners']

In [13]:
# Check the length of each list. Directors and films are not the same. 
# This is because in the years 1929, 1930 and 1938 the same director was nominated twice
print("Years:      %d" % (len(years)))
print("Directors:  %d" % (len(directors)))
print("Films:      %d" % (len(films)))

Years:      92
Directors:  452
Films:      455

In [14]:
# Lets amend this by inserting the necessary director at each position
directors.insert(45, directors[44])
directors.insert(13, directors[12])
directors.insert(10, directors[9])

In [15]:
# Now they are the same length
print("Years:      %d" % (len(years)))
print("Directors:  %d" % (len(directors)))
print("Films:      %d" % (len(films)))

Years:      92
Directors:  455
Films:      455

In [16]:
df_directors = createDataFrame("director", {"directors": directors, "films": films}, {"years": years, "numFilms": numFilms}, winners)

In [17]:
df_directors.head()

   Year                           Director                 Film Winner
0  1928   Frank Borzage (Dramatic Picture)           7th Heaven    Yes
1  1928  Herbert Brenon (Dramatic Picture)      Sorrell and Son     No
2  1928      King Vidor (Dramatic Picture)            The Crowd     No
3  1928   Lewis Milestone (Comedy Picture)  Two Arabian Knights    Yes
4  1928         Ted Wilde (Comedy Picture)               Speedy     No

In [18]:
df_directors.tail()

     Year           Director                           Film Winner
450  2019       Bong Joon-ho                       Parasite    Yes
451  2019         Sam Mendes                           1917     No
452  2019      Todd Phillips                          Joker     No
453  2019    Martin Scorsese                   The Irishman     No
454  2019  Quentin Tarantino  Once Upon a Time in Hollywood     No

In [19]:
# Now check the years 1929, 1930 and 1938 and see the directors nominated twice
df_directors.loc[(df_directors['Year'].isin([1929, 1930, 1938])) & (df_directors['Winner'] == "No")]

    Year           Director                     Film Winner
6   1929   Lionel Barrymore                 Madame X     No
7   1929     Harry Beaumont      The Broadway Melody     No
8   1929    Irving Cummings           In Old Arizona     No
9   1929        Frank Lloyd                     Drag     No
10  1929        Frank Lloyd              Weary River     No
11  1929     Ernst Lubitsch              The Patriot     No
13  1930     Clarence Brown            Anna Christie     No
14  1930     Clarence Brown                  Romance     No
15  1930  Robert Z. Leonard             The Divorcee     No
16  1930     Ernst Lubitsch          The Love Parade     No
17  1930         King Vidor              Hallelujah!     No
46  1938     Michael Curtiz  Angels with Dirty Faces     No
47  1938     Michael Curtiz           Four Daughters     No
48  1938      Norman Taurog                Boys Town     No
49  1938         King Vidor              The Citadel     No

In [20]:
# Page 3- Best Actor
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor")
tables = data.findAll("table", class_= "wikitable sortable")

In [21]:
yearData = extractYears("actor", tables, False)
years = yearData['years']
numFilms = yearData['numFilms']

In [22]:
data = extractFilmData("actor", tables, False)
actors = data['names']
films = data['films']
winners = data['winners']

In [23]:
# Check the length of the lists. Actors and films are not the same. 
# This is due to several years having actors nominated for multiple films and several films having multiple actors nominated
print("Years:   %d" % (len(years)))
print("Actors:  %d" % (len(actors)))
print("Films:   %d" % (len(films)))

Years:   92
Actors:  452
Films:   451

In [24]:
# To amend this we have to insert several times in both lists
actors.insert(1, actors[0])
actors.insert(3, actors[2])
actors.insert(13, actors[12])
actors.insert(15, actors[14])
films.insert(33, films[32])
films.insert(125, films[124])
films.insert(178, films[177])
films.insert(218, films[217])
films.insert(275, films[274])

In [25]:
# Now they are the same length
print("Years:   %d" % (len(years)))
print("Actors:  %d" % (len(actors)))
print("Films:   %d" % (len(films)))

Years:   92
Actors:  456
Films:   456

In [26]:
# Because of the actors we just inserted, we need to update numFilms to accomodate this
numFilms[0] = int(numFilms[0]) + 2
numFilms[2] = int(numFilms[2]) + 2

In [27]:
df_actors = createDataFrame("actor", {"films": films, "actors": actors}, {"years": years, "numFilms": numFilms}, winners)

In [28]:
df_actors.head()

   Year                Actor                    Film Winner
0  1928        Emil Jannings        The Last Command    Yes
1  1928        Emil Jannings    The Way of All Flesh    Yes
2  1928  Richard Barthelmess               The Noose     No
3  1928  Richard Barthelmess  The Patent Leather Kid     No
4  1929        Warner Baxter          In Old Arizona    Yes

In [29]:
df_actors.tail()

     Year              Actor                           Film Winner
451  2019    Joaquin Phoenix                          Joker    Yes
452  2019   Antonio Banderas                 Pain and Glory     No
453  2019  Leonardo DiCaprio  Once Upon a Time in Hollywood     No
454  2019        Adam Driver                 Marriage Story     No
455  2019     Jonathan Pryce                  The Two Popes     No

In [30]:
# Now check the years 1928 and 1930 and see the actors that were nominated twice
df_actors.loc[(df_actors["Year"].isin([1928, 1930])) & (df_actors["Winner"] == "No")]

    Year                Actor                    Film Winner
2   1928  Richard Barthelmess               The Noose     No
3   1928  Richard Barthelmess  The Patent Leather Kid     No
10  1930        George Arliss       The Green Goddess     No
11  1930        Wallace Beery           The Big House     No
12  1930    Maurice Chevalier            The Big Pond     No
13  1930    Maurice Chevalier         The Love Parade     No
14  1930        Ronald Colman        Bulldog Drummond     No
15  1930        Ronald Colman               Condemned     No
16  1930     Lawrence Tibbett          The Rogue Song     No

In [31]:
# Now check the years inserted and see that multiple actor nominations for the same films
years = [1935, 1953, 1964, 1972, 1983]
df_actors.loc[(df_actors["Year"].isin(years)) & (df_actors["Winner"] == "No")]

     Year             Actor                   Film Winner
32   1935       Clark Gable   Mutiny on the Bounty     No
33   1935  Charles Laughton   Mutiny on the Bounty     No
34   1935         Paul Muni             Black Fury     No
35   1935     Franchot Tone   Mutiny on the Bounty     No
122  1953     Marlon Brando          Julius Caesar     No
123  1953    Richard Burton               The Robe     No
124  1953  Montgomery Clift  From Here to Eternity     No
125  1953    Burt Lancaster  From Here to Eternity     No
177  1964    Richard Burton                 Becket     No
178  1964     Peter O'Toole                 Becket     No
179  1964     Anthony Quinn        Zorba the Greek     No
180  1964     Peter Sellers        Dr. Strangelove     No
217  1972     Michael Caine                 Sleuth     No
218  1972  Laurence Olivier                 Sleuth     No
219  1972     Peter O'Toole       The Ruling Class     No
220  1972     Paul Winfield                Sounder     No
272  1983     Michael Caine         Educating Rita     No
273  1983         Tom Conti         Reuben, Reuben     No
274  1983     Tom Courtenay            The Dresser     No
275  1983     Albert Finney            The Dresser     No

In [32]:
# Page 4 - Best Actress
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actress")
tables = data.findAll("table", class_= "wikitable sortable")

In [33]:
yearData = extractYears("actress", tables, False)
years = yearData['years']
numFilms = yearData['numFilms']

In [34]:
data = extractFilmData("actress", tables, False)
actresses = data['names']
films = data['films']
winners = data['winners']

In [35]:
# Check the lengths of the lists. They are not the same. The reasons for this are 
# 1. The same actress receiving multiple nominations for different films in the same year
# 2. Different actresses receiving nominations for the same film
print("Years:       %d" % (len(years)))
print("Actressess:  %d" % (len(actresses)))
print("Films:       %d" % (len(films)))

Years:       92
Actressess:  456
Films:       457

In [36]:
actresses.insert(1, actresses[0])
actresses.insert(2, actresses[0])
actresses.insert(15, actresses[14])
films.insert(111, films[110])
films.insert(158, films[157])

In [37]:
# Now they are the same length
print("Years:       %d" % (len(years)))
print("Actressess:  %d" % (len(actresses)))
print("Films:       %d" % (len(films)))

Years:       92
Actressess:  459
Films:       459

In [38]:
# Because of the actresses we just inserted, we need to update numFilms to accomodate this
numFilms[0] = int(numFilms[0]) +2
numFilms[2] = int(numFilms[2]) +1

In [39]:
df_actresses = createDataFrame("actress", {"films": films, "actresses": actresses}, {"years": years, "numFilms": numFilms}, winners)

In [40]:
df_actresses.head()

   Year         Actress                           Film Winner
0  1928    Janet Gaynor                     7th Heaven    Yes
1  1928    Janet Gaynor                   Street Angel    Yes
2  1928    Janet Gaynor  Sunrise: A Song of Two Humans    Yes
3  1928  Louise Dresser                A Ship Comes In     No
4  1928  Gloria Swanson                 Sadie Thompson     No

In [41]:
df_actresses.tail()

     Year             Actress            Film Winner
454  2019     Renée Zellweger            Judy    Yes
455  2019       Cynthia Erivo         Harriet     No
456  2019  Scarlett Johansson  Marriage Story     No
457  2019       Saoirse Ronan    Little Women     No
458  2019     Charlize Theron       Bombshell     No

In [42]:
# Now check the year 1930 and see Greta Garbo received two nominations
df_actresses.loc[(df_actresses["Year"] == 1930) & (df_actresses["Winner"] == "No")]

    Year          Actress                 Film Winner
12  1930    Nancy Carroll  The Devil's Holiday     No
13  1930  Ruth Chatterton        Sarah and Son     No
14  1930      Greta Garbo        Anna Christie     No
15  1930      Greta Garbo              Romance     No
16  1930    Norma Shearer     Their Own Desire     No
17  1930   Gloria Swanson       The Trespasser     No

In [43]:
# Now check the years 1950 and 1959 and see that multiple actress nominations for the same films
df_actresses.loc[(df_actresses["Year"].isin([1950, 1959])) & (df_actresses["Winner"] == "No")]

     Year            Actress                   Film Winner
110  1950        Anne Baxter          All About Eve     No
111  1950        Bette Davis          All About Eve     No
112  1950     Eleanor Parker                  Caged     No
113  1950     Gloria Swanson       Sunset Boulevard     No
155  1959          Doris Day            Pillow Talk     No
156  1959     Audrey Hepburn        The Nun's Story     No
157  1959  Katharine Hepburn  Suddenly, Last Summer     No
158  1959   Elizabeth Taylor  Suddenly, Last Summer     No

In [44]:
# Page 5 - Best Supporting Actor
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Supporting_Actor")
tables = data.findAll("table", class_= "wikitable sortable")

In [45]:
yearData = extractYears("supporting actor", tables, False)
years = yearData['years']
numFilms = yearData['numFilms']

In [46]:
data = extractFilmData("supporting actor", tables, False)
actors = data['names']
films = data['films']
winners = data['winners']

In [47]:
# Check the length of the lists. 
# Actors and films are not the same because in several years multiple actors were nominated for
# the same film
print("Years:   %d" % (len(years)))
print("Actors:  %d" % (len(actors)))
print("Films:   %d" % (len(films)))

Years:   84
Actors:  420
Films:   408

In [48]:
films.insert(88, films[87])
films.insert(92, films[91])
films.insert(93, films[91])
films.insert(109, films[108])
films.insert(117, films[116])
films.insert(129, films[128])
films.insert(183, films[182])
films.insert(184, films[182])
films.insert(194, films[193])
films.insert(252, films[251])
films.insert(278, films[277])
films.insert(419, films[418])

In [49]:
# Now they are the same length
print("Years:   %d" % (len(years)))
print("Actors:  %d" % (len(actors)))
print("Films:   %d" % (len(films)))

Years:   84
Actors:  420
Films:   420

In [50]:
df_supActors = createDataFrame("supporting actor", {"films": films, "actors": actors}, {"years": years, "numFilms": numFilms}, winners)

In [51]:
df_supActors.head()

   Year           Actor                      Film Winner
0  1936  Walter Brennan           Come and Get It    Yes
1  1936     Mischa Auer            My Man Godfrey     No
2  1936    Stuart Erwin            Pigskin Parade     No
3  1936  Basil Rathbone          Romeo and Juliet     No
4  1936   Akim Tamiroff  The General Died at Dawn     No

In [52]:
df_supActors.tail()

     Year            Actor                                 Film Winner
415  2019        Brad Pitt        Once Upon a Time in Hollywood    Yes
416  2019        Tom Hanks  A Beautiful Day in the Neighborhood     No
417  2019  Anthony Hopkins                        The Two Popes     No
418  2019        Al Pacino                         The Irishman     No
419  2019        Joe Pesci                         The Irishman     No

In [53]:
# Now check each of the years that were inserted and see that each one has two or more occurrences of the same film
years = [1953, 1954, 1957, 1959, 1961, 1972, 1974, 1986, 1991, 2019]
df_supActors.loc[(df_supActors["Year"].isin(years)) & (df_supActors["Winner"] == "No")]

     Year             Actor                                 Film Winner
86   1953      Eddie Albert                        Roman Holiday     No
87   1953   Brandon deWilde                                Shane     No
88   1953      Jack Palance                                Shane     No
89   1953    Robert Strauss                            Stalag 17     No
91   1954       Lee J. Cobb                    On the Waterfront     No
92   1954       Karl Malden                    On the Waterfront     No
93   1954       Rod Steiger                    On the Waterfront     No
94   1954         Tom Tully                     The Caine Mutiny     No
106  1957  Vittorio De Sica                   A Farewell to Arms     No
107  1957   Sessue Hayakawa         The Bridge on the River Kwai     No
108  1957    Arthur Kennedy                         Peyton Place     No
109  1957      Russ Tamblyn                         Peyton Place     No
116  1959  Arthur O'Connell                  Anatomy of a Murder     No
117  1959   George C. Scott                  Anatomy of a Murder     No
118  1959     Robert Vaughn             The Young Philadelphians     No
119  1959           Ed Wynn              The Diary of Anne Frank     No
126  1961  Montgomery Clift                Judgment at Nuremberg     No
127  1961        Peter Falk                Pocketful of Miracles     No
128  1961    Jackie Gleason                          The Hustler     No
129  1961   George C. Scott                          The Hustler     No
181  1972      Eddie Albert                   The Heartbreak Kid     No
182  1972        James Caan                        The Godfather     No
183  1972     Robert Duvall                        The Godfather     No
184  1972         Al Pacino                        The Godfather     No
191  1974      Fred Astaire                 The Towering Inferno     No
192  1974      Jeff Bridges            Thunderbolt and Lightfoot     No
193  1974  Michael V. Gazzo                The Godfather Part II     No
194  1974     Lee Strasberg                The Godfather Part II     No
251  1986      Tom Berenger                              Platoon     No
252  1986      Willem Dafoe                              Platoon     No
253  1986   Denholm Elliott                   A Room with a View     No
254  1986     Dennis Hopper                             Hoosiers     No
276  1991   Tommy Lee Jones                                  JFK     No
277  1991     Harvey Keitel                                Bugsy     No
278  1991      Ben Kingsley                                Bugsy     No
279  1991    Michael Lerner                          Barton Fink     No
416  2019         Tom Hanks  A Beautiful Day in the Neighborhood     No
417  2019   Anthony Hopkins                        The Two Popes     No
418  2019         Al Pacino                         The Irishman     No
419  2019         Joe Pesci                         The Irishman     No

In [54]:
# Page 6 - Best Supporting Actress
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Supporting_Actress")
tables = data.findAll("table", class_= "wikitable sortable")

In [55]:
yearData = extractYears("supporting actress", tables, False)
years = yearData['years']
numFilms = yearData['numFilms']

In [56]:
data = extractFilmData("supporting actress", tables, False)
actresses = data['names']
films = data['films']
winners = data['winners']

In [57]:
# Check the length of the lists. 
# Actresses and films are not the same because in several years multiple actresses were nominated 
# for the same film
print("Years:      %d" % (len(years)))
print("Actresses:  %d" % (len(actresses)))
print("Films:      %d" % (len(films)))

Years:      84
Actresses:  420
Films:      405

In [58]:
films.insert(28, films[27])
films.insert(47, films[46])
films.insert(62, films[61])
films.insert(68, films[67])
films.insert(94, films[93])
films.insert(109, films[108])
films.insert(118, films[117])
films.insert(137, films[136])
films.insert(138, films[136])
films.insert(148, films[147])
films.insert(267, films[266])
films.insert(323, films[322])
films.insert(327, films[326])
films.insert(362, films[361])
films.insert(414, films[413])

In [59]:
# Now they are the same length
print("Years:      %d" % (len(years)))
print("Actresses:  %d" % (len(actresses)))
print("Films:      %d" % (len(films)))

Years:      84
Actresses:  420
Films:      420

In [60]:
df_supActresses = createDataFrame("supporting actress", {"films": films, "actresses": actresses}, {"years": years, "numFilms": numFilms}, winners)

In [61]:
df_supActresses.head()

   Year            Actress                Film Winner
0  1936   Gale Sondergaard     Anthony Adverse    Yes
1  1936       Beulah Bondi  The Gorgeous Hussy     No
2  1936        Alice Brady      My Man Godfrey     No
3  1936   Bonita Granville         These Three     No
4  1936  Maria Ouspenskaya           Dodsworth     No

In [62]:
df_supActresses.tail()

     Year             Actress            Film Winner
415  2019          Laura Dern  Marriage Story    Yes
416  2019         Kathy Bates  Richard Jewell     No
417  2019  Scarlett Johansson     Jojo Rabbit     No
418  2019       Florence Pugh    Little Women     No
419  2019       Margot Robbie       Bombshell     No

In [63]:
# Now check each of the years that were inserted and see that each one has two or more occurrences of the same film
years = [1941, 1945, 1948, 1949, 1954, 1957, 1959, 1963, 1965, 1989, 2000, 2001, 2008, 2018]
df_supActresses.loc[(df_supActresses["Year"].isin(years)) & (df_supActresses["Winner"] == "No")]

     Year             Actress                                 Film Winner
26   1941        Sara Allgood              How Green Was My Valley     No
27   1941   Patricia Collinge                     The Little Foxes     No
28   1941       Teresa Wright                     The Little Foxes     No
29   1941   Margaret Wycherly                        Sergeant York     No
46   1945           Eve Arden                       Mildred Pierce     No
47   1945           Ann Blyth                       Mildred Pierce     No
48   1945     Angela Lansbury           The Picture of Dorian Gray     No
49   1945        Joan Lorring                    The Corn is Green     No
61   1948  Barbara Bel Geddes                      I Remember Mama     No
62   1948         Ellen Corby                      I Remember Mama     No
63   1948     Agnes Moorehead                       Johnny Belinda     No
64   1948        Jean Simmons                               Hamlet     No
66   1949     Ethel Barrymore                                Pinky     No
67   1949        Celeste Holm                   Come to the Stable     No
68   1949     Elsa Lanchester                   Come to the Stable     No
69   1949        Ethel Waters                                Pinky     No
91   1954           Nina Foch                      Executive Suite     No
92   1954         Katy Jurado                         Broken Lance     No
93   1954        Jan Sterling              The High and the Mighty     No
94   1954       Claire Trevor              The High and the Mighty     No
106  1957       Carolyn Jones                   The Bachelor Party     No
107  1957     Elsa Lanchester          Witness for the Prosecution     No
108  1957          Hope Lange                         Peyton Place     No
109  1957         Diane Varsi                         Peyton Place     No
116  1959   Hermione Baddeley                      Room at the Top     No
117  1959        Susan Kohner                    Imitation of Life     No
118  1959       Juanita Moore                    Imitation of Life     No
119  1959       Thelma Ritter                          Pillow Talk     No
136  1963       Diane Cilento                            Tom Jones     No
137  1963         Edith Evans                            Tom Jones     No
138  1963        Joyce Redman                            Tom Jones     No
139  1963         Lilia Skala                  Lilies of the Field     No
146  1965         Ruth Gordon                  Inside Daisy Clover     No
147  1965        Joyce Redman                              Othello     No
148  1965        Maggie Smith                              Othello     No
149  1965          Peggy Wood                   The Sound of Music     No
266  1989     Anjelica Huston                Enemies, A Love Story     No
267  1989           Lena Olin                Enemies, A Love Story     No
268  1989       Julia Roberts                      Steel Magnolias     No
269  1989        Dianne Wiest                           Parenthood     No
321  2000          Judi Dench                             Chocolat     No
322  2000         Kate Hudson                        Almost Famous     No
323  2000   Frances McDormand                        Almost Famous     No
324  2000       Julie Walters                         Billy Elliot     No
326  2001        Helen Mirren                         Gosford Park     No
327  2001        Maggie Smith                         Gosford Park     No
328  2001        Marisa Tomei                       In the Bedroom     No
329  2001        Kate Winslet                                 Iris     No
361  2008           Amy Adams                                Doubt     No
362  2008         Viola Davis                                Doubt     No
363  2008    Taraji P. Henson  The Curious Case of Benjamin Button     No
364  2008        Marisa Tomei                         The Wrestler     No
411  2018           Amy Adams                                 Vice     No
412  2018    Marina de Tavira                                 Roma     No
413  2018          Emma Stone                        The Favourite     No
414  2018        Rachel Weisz                        The Favourite     No

In [64]:
# Look at the number of rows in each data frame
print("Total best picture winners:             %d" % (df_picture.shape[0]))
print("Total best director winners:            %d" % (df_directors.shape[0]))
print("Total best actor winners:               %d" % (df_actors.shape[0]))
print("Total best actress winners:             %d" % (df_actresses.shape[0]))
print("Total best supporting actor winners:    %d" % (df_supActors.shape[0]))
print("Total best supporting actress winners:  %d" % (df_supActresses.shape[0]))

Total best picture winners:             563
Total best director winners:            455
Total best actor winners:               456
Total best actress winners:             459
Total best supporting actor winners:    420
Total best supporting actress winners:  420

In [65]:
# Now all the data has been read into data frames, the next step is to connect to MYSQL and store it in the database
from sqlalchemy import create_engine    # For connecting to MySQL
from MySQL_connect import config        # Import connection parameters from file

# Use the parameters to create connection variables
user = config['user']
password = config['password']
host = config['host']
db = config['db']

# Connection object for MySQL
engine = create_engine("mysql+mysqldb://"+user+":"+password+"@"+host+"/"+db+"?charset=utf8")

In [66]:
# Create table nominee_best_picture and add data to it
# Check if table already exists, if it does then delete it
if(engine.execute("SHOW TABLES LIKE 'nominee_best_picture'").fetchone()):
    engine.execute("DROP TABLE nominee_best_picture")

# Create table by defining its structure and column data types
# Character set utf8 is used to prevent errors caused by non ascii characters
engine.execute("CREATE TABLE nominee_best_picture ( \
               Id INT NOT NULL AUTO_INCREMENT, \
               Year INT, \
               Film CHAR(255) CHARACTER SET UTF8, \
               Producers CHAR(255) CHARACTER SET UTF8, \
               Winner CHAR(5), \
               PRIMARY KEY(Id) )")

# Loop through each row of the dataframe and add it to the table
for index, row in df_picture.iterrows():
    engine.execute("INSERT INTO nominee_best_picture (Year, Film, Producers, Winner) \
    VALUES(%s, %s, %s, %s)", (row[0], row[1], row[2], row[3]))

In [67]:
# Create table nominee_best_director and add data to it

if(engine.execute("SHOW TABLES LIKE 'nominee_best_director'").fetchone()):
    engine.execute("DROP TABLE nominee_best_director")

engine.execute("CREATE TABLE nominee_best_director ( \
               Id INT NOT NULL AUTO_INCREMENT, \
               Year INT, \
               Director CHAR(255) CHARACTER SET UTF8, \
               Film CHAR(255) CHARACTER SET UTF8, \
               Winner CHAR(5), \
               PRIMARY KEY(Id) )")

for index, row in df_directors.iterrows():
    engine.execute("INSERT INTO nominee_best_director (Year, Director, Film, Winner) \
    VALUES(%s, %s, %s, %s)", (row[0], row[1], row[2], row[3]))

In [68]:
# Create table nominee_best_actor and add data to it

if(engine.execute("SHOW TABLES LIKE 'nominee_best_actor'").fetchone()):
    engine.execute("DROP TABLE nominee_best_actor")

engine.execute("CREATE TABLE nominee_best_actor ( \
               Id INT NOT NULL AUTO_INCREMENT, \
               Year INT, \
               Actor CHAR(255) CHARACTER SET UTF8, \
               Film CHAR(255) CHARACTER SET UTF8, \
               Winner CHAR(5), \
               PRIMARY KEY(Id) )")

for index, row in df_actors.iterrows():
    engine.execute("INSERT INTO nominee_best_actor (Year, Actor, Film, Winner) \
    VALUES(%s, %s, %s, %s)", (row[0], row[1], row[2], row[3]))

In [69]:
# Create table nominee_best_actress and add data to it

if(engine.execute("SHOW TABLES LIKE 'nominee_best_actress'").fetchone()):
    engine.execute("DROP TABLE nominee_best_actress")

engine.execute("CREATE TABLE nominee_best_actress ( \
               Id INT NOT NULL AUTO_INCREMENT, \
               Year INT, \
               Actress CHAR(255) CHARACTER SET UTF8, \
               Film CHAR(255) CHARACTER SET UTF8, \
               Winner CHAR(5), \
               PRIMARY KEY(Id) )")

for index, row in df_actresses.iterrows():
    engine.execute("INSERT INTO nominee_best_actress (Year, Actress, Film, Winner) \
    VALUES(%s, %s, %s, %s)", (row[0], row[1], row[2], row[3]))

In [70]:
# Create table nominee_best_supporting_actor and add data to it

if(engine.execute("SHOW TABLES LIKE 'nominee_best_supporting_actor'").fetchone()):
    engine.execute("DROP TABLE nominee_best_supporting_actor")

engine.execute("CREATE TABLE nominee_best_supporting_actor ( \
               Id INT NOT NULL AUTO_INCREMENT, \
               Year INT, \
               Actor CHAR(255) CHARACTER SET UTF8, \
               Film CHAR(255) CHARACTER SET UTF8, \
               Winner CHAR(5), \
               PRIMARY KEY(Id) )")

for index, row in df_supActors.iterrows():
    engine.execute("INSERT INTO nominee_best_supporting_actor (Year, Actor, Film, Winner) \
    VALUES(%s, %s, %s, %s)", (row[0], row[1], row[2], row[3]))

In [71]:
# Create table nominee_best_supporting_actress and add data to it

if(engine.execute("SHOW TABLES LIKE 'nominee_best_supporting_actress'").fetchone()):
    engine.execute("DROP TABLE nominee_best_supporting_actress")

engine.execute("CREATE TABLE nominee_best_supporting_actress ( \
               Id INT NOT NULL AUTO_INCREMENT, \
               Year INT, \
               Actress CHAR(255) CHARACTER SET UTF8, \
               Film CHAR(255) CHARACTER SET UTF8, \
               Winner CHAR(5), \
               PRIMARY KEY(Id) )")

for index, row in df_supActresses.iterrows():
    engine.execute("INSERT INTO nominee_best_supporting_actress (Year, Actress, Film, Winner) \
    VALUES(%s, %s, %s, %s)", (row[0], row[1], row[2], row[3]))

In [72]:
# Now lets run some queries on the tables
# First return the number of rows in each table
num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_picture")
print("Nominee Best Picture number of rows:            %d" % (num_res.scalar()))

num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_director")
print("Nominee Best Director number of rows:           %d" % (num_res.scalar()))

num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_actor")
print("Nominee Best Actor number of rows:              %d" % (num_res.scalar()))

num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_actress")
print("Nominee Best Actress number of rows:            %d" % (num_res.scalar()))

num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_supporting_actor")
print("Nominee Best Supporting Actor number of rows:   %d" % (num_res.scalar()))

num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_supporting_actress")
print("Nominee Best Supporting Actress number of rows: %d" % (num_res.scalar()))

Nominee Best Picture number of rows:            563
Nominee Best Director number of rows:           455
Nominee Best Actor number of rows:              456
Nominee Best Actress number of rows:            459
Nominee Best Supporting Actor number of rows:   420
Nominee Best Supporting Actress number of rows: 420

In [73]:
# For displaying results in a table format
from prettytable import PrettyTable

In [74]:
# Query: Return a list of actors ordered by most nominations and wins
# Explained: We are using two tables - nominee_best_actor and nominee_best_supporting_actor. 
# Therefore we use UNION inside a subquery to combine the results of two queries into one set. 
# Each query counts the number of nominatins for each actor as well as the number of times they won. 
# We get the total for each actor by summing the results of each query.
actor_mostNom = engine.execute("\
SELECT actor, SUM(total_wins) AS total_wins, SUM(total_nom) AS total_nom \
FROM( \
    SELECT actor, \
           COUNT(actor) AS total_nom, \
           COUNT(IF(winner = 'Yes', 1, null)) AS total_wins \
    FROM nominee_best_actor \
    GROUP BY actor \
    UNION \
    SELECT actor, \
           COUNT(actor) AS total_nom, \
           COUNT(IF(winner = 'Yes', 1, null)) AS total_wins \
    FROM nominee_best_supporting_actor \
    GROUP BY actor \
) AS res \
GROUP BY actor \
ORDER BY total_nom DESC, total_wins DESC, actor ASC")

table = PrettyTable(['Actor', 'Nominations', 'Wins'])
for row in actor_mostNom:
    table.add_row([row['actor'], row['total_nom'], row['total_wins']])
print(table)

+------------------------+-------------+------+
|         Actor          | Nominations | Wins |
+------------------------+-------------+------+
|     Jack Nicholson     |      12     |  3   |
|    Laurence Olivier    |      10     |  1   |
|     Spencer Tracy      |      9      |  2   |
|       Al Pacino        |      9      |  1   |
|      Paul Newman       |      9      |  1   |
|   Denzel Washington    |      8      |  2   |
|      Jack Lemmon       |      8      |  2   |
|     Marlon Brando      |      8      |  2   |
|     Peter O'Toole      |      8      |  0   |
|     Dustin Hoffman     |      7      |  2   |
|     Robert De Niro     |      7      |  2   |
|      Jeff Bridges      |      7      |  1   |
|     Robert Duvall      |      7      |  1   |
|     Richard Burton     |      7      |  0   |
|    Daniel Day-Lewis    |      6      |  3   |
|     Michael Caine      |      6      |  2   |
|       Tom Hanks        |      6      |  2   |
|   Leonardo DiCaprio    |      6      |  1   |
|       Paul Muni        |      6      |  1   |
|     Fredric March      |      5      |  2   |
|      Gary Cooper       |      5      |  2   |
|      Gene Hackman      |      5      |  2   |
|       Sean Penn        |      5      |  2   |
|    Anthony Hopkins     |      5      |  1   |
|      Gregory Peck      |      5      |  1   |
|     James Stewart      |      5      |  1   |
|     Morgan Freeman     |      5      |  1   |
|     Albert Finney      |      5      |  0   |
|     Arthur Kennedy     |      5      |  0   |
|     Walter Brennan     |      4      |  3   |
|     Anthony Quinn      |      4      |  2   |
|       Alan Arkin       |      4      |  1   |
|     Alec Guinness      |      4      |  1   |
|      Ben Kingsley      |      4      |  1   |
|       Brad Pitt        |      4      |  1   |
|     Burt Lancaster     |      4      |  1   |
|     Christian Bale     |      4      |  1   |
|     Geoffrey Rush      |      4      |  1   |
|    George C. Scott     |      4      |  1   |
|     George Clooney     |      4      |  1   |
|    Joaquin Phoenix     |      4      |  1   |
|       Jon Voight       |      4      |  1   |
| Philip Seymour Hoffman |      4      |  1   |
|     Robin Williams     |      4      |  1   |
|     Ronald Colman      |      4      |  1   |
|    Tommy Lee Jones     |      4      |  1   |
|     Walter Huston      |      4      |  1   |
|      William Hurt      |      4      |  1   |
|     Bradley Cooper     |      4      |  0   |
|     Charles Boyer      |      4      |  0   |
|      Claude Rains      |      4      |  0   |
|       Ed Harris        |      4      |  0   |
|    Montgomery Clift    |      4      |  0   |
|     Warren Beatty      |      4      |  0   |
|      Willem Dafoe      |      4      |  0   |
|     Jason Robards      |      3      |  2   |
|     Melvyn Douglas     |      3      |  2   |
|     Peter Ustinov      |      3      |  2   |
|      Bing Crosby       |      3      |  1   |
|     Charles Coburn     |      3      |  1   |
|    Charles Laughton    |      3      |  1   |
|  Christopher Plummer   |      3      |  1   |
|      Clark Gable       |      3      |  1   |
|       Gig Young        |      3      |  1   |
|    Humphrey Bogart     |      3      |  1   |
|      Jack Palance      |      3      |  1   |
|      James Cagney      |      3      |  1   |
|     Javier Bardem      |      3      |  1   |
|       Joe Pesci        |      3      |  1   |
|      José Ferrer       |      3      |  1   |
|     Martin Landau      |      3      |  1   |
|   Maximilian Schell    |      3      |  1   |
|      Rod Steiger       |      3      |  1   |
|     Russell Crowe      |      3      |  1   |
|     Walter Matthau     |      3      |  1   |
|     William Holden     |      3      |  1   |
|    Charles Bickford    |      3      |  0   |
|      Clifton Webb      |      3      |  0   |
|     Edward Norton      |      3      |  0   |
|      James Mason       |      3      |  0   |
|      Johnny Depp       |      3      |  0   |
|      Kirk Douglas      |      3      |  0   |
|  Marcello Mastroianni  |      3      |  0   |
|      Mark Ruffalo      |      3      |  0   |
|       Matt Damon       |      3      |  0   |
|       Nick Nolte       |      3      |  0   |
|       Tom Cruise       |      3      |  0   |
|    Viggo Mortensen     |      3      |  0   |
|     William Powell     |      3      |  0   |
|    Woody Harrelson     |      3      |  0   |
|    Christoph Waltz     |      2      |  2   |
|     Emil Jannings      |      2      |  2   |
|     Mahershala Ali     |      2      |  2   |
|    Barry Fitzgerald    |      2      |  1   |
|    Benicio del Toro    |      2      |  1   |
|     Casey Affleck      |      2      |  1   |
|   Christopher Walken   |      2      |  1   |
|      Colin Firth       |      2      |  1   |
|     Eddie Redmayne     |      2      |  1   |
|     Edmond O'Brien     |      2      |  1   |
|      Edmund Gwenn      |      2      |  1   |
|     Frank Sinatra      |      2      |  1   |
|      Gary Oldman       |      2      |  1   |
|     George Arliss      |      2      |  1   |
|      Heath Ledger      |      2      |  1   |
|      Henry Fonda       |      2      |  1   |
|     Hugh Griffith      |      2      |  1   |
|       Jamie Foxx       |      2      |  1   |
|      John Gielgud      |      2      |  1   |
|       John Wayne       |      2      |  1   |
|      Karl Malden       |      2      |  1   |
|      Nicolas Cage      |      2      |  1   |
|     Paul Scofield      |      2      |  1   |
|      Peter Finch       |      2      |  1   |
|      Rex Harrison      |      2      |  1   |
|    Richard Dreyfuss    |      2      |  1   |
|      Robert Donat      |      2      |  1   |
|      Sam Rockwell      |      2      |  1   |
|     Sidney Poitier     |      2      |  1   |
|    Thomas Mitchell     |      2      |  1   |
|    Victor McLaglen     |      2      |  1   |
|     Wallace Beery      |      2      |  1   |
|     Akim Tamiroff      |      2      |  0   |
|    Arthur O'Connell    |      2      |  0   |
|     Basil Rathbone     |      2      |  0   |
|    Burgess Meredith    |      2      |  0   |
|       Cary Grant       |      2      |  0   |
|     Cecil Kellaway     |      2      |  0   |
|    Charles Durning     |      2      |  0   |
|     Clint Eastwood     |      2      |  0   |
|     Djimon Hounsou     |      2      |  0   |
|      Eddie Albert      |      2      |  0   |
|      Ethan Hawke       |      2      |  0   |
|    J. Carrol Naish     |      2      |  0   |
|      Jack Warden       |      2      |  0   |
|       James Dean       |      2      |  0   |
|      John Lithgow      |      2      |  0   |
|     John Malkovich     |      2      |  0   |
|     John Travolta      |      2      |  0   |
|       Jonah Hill       |      2      |  0   |
|      Lee J. Cobb       |      2      |  0   |
|     Leslie Howard      |      2      |  0   |
|   Maurice Chevalier    |      2      |  0   |
|    Michael Shannon     |      2      |  0   |
|     Mickey Rooney      |      2      |  0   |
|       Peter Falk       |      2      |  0   |
|     Peter Sellers      |      2      |  0   |
|    Ralph Richardson    |      2      |  0   |
|  Richard Barthelmess   |      2      |  0   |
|     Richard Harris     |      2      |  0   |
|   Robert Montgomery    |      2      |  0   |
|      Ryan Gosling      |      2      |  0   |
|       Sal Mineo        |      2      |  0   |
|    Vincent Gardenia    |      2      |  0   |
|     Walter Pidgeon     |      2      |  0   |
|       Will Smith       |      2      |  0   |
|      Adrien Brody      |      1      |  1   |
|       Art Carney       |      1      |  1   |
|      Ben Johnson       |      1      |  1   |
|   Broderick Crawford   |      1      |  1   |
|       Burl Ives        |      1      |  1   |
|    Charlton Heston     |      1      |  1   |
|      Chris Cooper      |      1      |  1   |
|    Cliff Robertson     |      1      |  1   |
|    Cuba Gooding Jr.    |      1      |  1   |
|      David Niven       |      1      |  1   |
|      Dean Jagger       |      1      |  1   |
|       Don Ameche       |      1      |  1   |
|      Donald Crisp      |      1      |  1   |
|       Ed Begley        |      1      |  1   |
|    Ernest Borgnine     |      1      |  1   |
|   F. Murray Abraham    |      1      |  1   |
|    Forest Whitaker     |      1      |  1   |
|      George Burns      |      1      |  1   |
|    George Chakiris     |      1      |  1   |
|     George Kennedy     |      1      |  1   |
|     George Sanders     |      1      |  1   |
|     Haing S. Ngor      |      1      |  1   |
|     Harold Russell     |      1      |  1   |
|     J. K. Simmons      |      1      |  1   |
|     Jack Albertson     |      1      |  1   |
|      James Coburn      |      1      |  1   |
|       James Dunn       |      1      |  1   |
|       Jared Leto       |      1      |  1   |
|     Jean Dujardin      |      1      |  1   |
|      Jeremy Irons      |      1      |  1   |
|     Jim Broadbent      |      1      |  1   |
|       Joel Grey        |      1      |  1   |
|     John Houseman      |      1      |  1   |
|       John Mills       |      1      |  1   |
|   Joseph Schildkraut   |      1      |  1   |
|      Kevin Kline       |      1      |  1   |
|      Kevin Spacey      |      1      |  1   |
|       Lee Marvin       |      1      |  1   |
|    Lionel Barrymore    |      1      |  1   |
|   Louis Gossett Jr.    |      1      |  1   |
|      Mark Rylance      |      1      |  1   |
|     Martin Balsam      |      1      |  1   |
|  Matthew McConaughey   |      1      |  1   |
|    Michael Douglas     |      1      |  1   |
|       Paul Lukas       |      1      |  1   |
|       Rami Malek       |      1      |  1   |
|      Ray Milland       |      1      |  1   |
|      Red Buttons       |      1      |  1   |
|    Roberto Benigni     |      1      |  1   |
|      Sean Connery      |      1      |  1   |
|      Tim Robbins       |      1      |  1   |
|     Timothy Hutton     |      1      |  1   |
|       Van Heflin       |      1      |  1   |
|     Warner Baxter      |      1      |  1   |
|      Yul Brynner       |      1      |  1   |
|      Adam Driver       |      1      |  0   |
|     Adolph Caesar      |      1      |  0   |
|     Adolphe Menjou     |      1      |  0   |
|       Alan Alda        |      1      |  0   |
|       Alan Bates       |      1      |  0   |
|   Albert Bassermann    |      1      |  0   |
|     Albert Brooks      |      1      |  0   |
|      Alec Baldwin      |      1      |  0   |
|     Alexander Knox     |      1      |  0   |
|      Alfred Lunt       |      1      |  0   |
|    Andrew Garfield     |      1      |  0   |
|      Andy García       |      1      |  0   |
|   Anthony Franciosa    |      1      |  0   |
|    Anthony Perkins     |      1      |  0   |
|     Anthony Quayle     |      1      |  0   |
|    Antonio Banderas    |      1      |  0   |
|  Armin Mueller-Stahl   |      1      |  0   |
|    Arthur Hunnicutt    |      1      |  0   |
|      Barkhad Abdi      |      1      |  0   |
|  Benedict Cumberbatch  |      1      |  0   |
|      Bill Murray       |      1      |  0   |
|   Billy Bob Thornton   |      1      |  0   |
|      Bob Hoskins       |      1      |  0   |
|      Bobby Darin       |      1      |  0   |
|      Brad Dourif       |      1      |  0   |
|    Brandon deWilde     |      1      |  0   |
|      Brian Aherne      |      1      |  0   |
|     Brian Donlevy      |      1      |  0   |
|     Bruce Davison      |      1      |  0   |
|       Bruce Dern       |      1      |  0   |
|     Bryan Cranston     |      1      |  0   |
|     Burt Reynolds      |      1      |  0   |
|       Burt Young       |      1      |  0   |
|    Charlie Chaplin     |      1      |  0   |
|    Chazz Palminteri    |      1      |  0   |
|     Chester Morris     |      1      |  0   |
|    Chief Dan George    |      1      |  0   |
|      Chill Wills       |      1      |  0   |
|    Chiwetel Ejiofor    |      1      |  0   |
|     Chris Sarandon     |      1      |  0   |
|       Clive Owen       |      1      |  0   |
|      Cornel Wilde      |      1      |  0   |
|      Dan Aykroyd       |      1      |  0   |
|       Dan Dailey       |      1      |  0   |
|     Dan O'Herlihy      |      1      |  0   |
|     Daniel Kaluuya     |      1      |  0   |
|     Daniel Massey      |      1      |  0   |
|      Danny Aiello      |      1      |  0   |
|      David Paymer      |      1      |  0   |
|    David Strathairn    |      1      |  0   |
|     Dean Stockwell     |      1      |  0   |
|     Demián Bichir      |      1      |  0   |
|    Denholm Elliott     |      1      |  0   |
|     Dennis Hopper      |      1      |  0   |
|       Dev Patel        |      1      |  0   |
|     Dexter Gordon      |      1      |  0   |
|      Don Cheadle       |      1      |  0   |
|       Don Murray       |      1      |  0   |
|      Dudley Moore      |      1      |  0   |
|        Ed Wynn         |      1      |  0   |
|      Eddie Murphy      |      1      |  0   |
|   Edward James Olmos   |      1      |  0   |
|     Elliott Gould      |      1      |  0   |
|      Eric Roberts      |      1      |  0   |
|   Erich von Stroheim   |      1      |  0   |
|     Franchot Tone      |      1      |  0   |
|      Frank Finlay      |      1      |  0   |
|     Frank Langella     |      1      |  0   |
|      Frank Morgan      |      1      |  0   |
|      Fred Astaire      |      1      |  0   |
|    Frederic Forrest    |      1      |  0   |
|       Gary Busey       |      1      |  0   |
|      Gary Sinise       |      1      |  0   |
|       Gene Kelly       |      1      |  0   |
|     Gene Lockhart      |      1      |  0   |
|      Gene Wilder       |      1      |  0   |
|    George Bancroft     |      1      |  0   |
|      George Segal      |      1      |  0   |
|    Gérard Depardieu    |      1      |  0   |
|   Giancarlo Giannini   |      1      |  0   |
|     Graham Greene      |      1      |  0   |
|      Greg Kinnear      |      1      |  0   |
|      H. B. Warner      |      1      |  0   |
|      Hal Holbrook      |      1      |  0   |
|   Haley Joel Osment    |      1      |  0   |
|     Harrison Ford      |      1      |  0   |
|      Harry Carey       |      1      |  0   |
|     Harvey Keitel      |      1      |  0   |
|     Henry Travers      |      1      |  0   |
|     Howard Rollins     |      1      |  0   |
|      Hugh Jackman      |      1      |  0   |
|      Hume Cronyn       |      1      |  0   |
|       Ian Bannen       |      1      |  0   |
|        Ian Holm        |      1      |  0   |
|      Ian McKellen      |      1      |  0   |
|      Jack Gilford      |      1      |  0   |
|     Jack Kruschen      |      1      |  0   |
|       Jack Oakie       |      1      |  0   |
|       Jack Wild        |      1      |  0   |
|     Jackie Cooper      |      1      |  0   |
|   Jackie Earle Haley   |      1      |  0   |
|     Jackie Gleason     |      1      |  0   |
|    Jake Gyllenhaal     |      1      |  0   |
|       James Caan       |      1      |  0   |
|       James Coco       |      1      |  0   |
|     James Cromwell     |      1      |  0   |
|    James Earl Jones    |      1      |  0   |
|      James Franco      |      1      |  0   |
|      James Garner      |      1      |  0   |
|     James Gleason      |      1      |  0   |
|    James Stephenson    |      1      |  0   |
|     James Whitmore     |      1      |  0   |
|      James Woods       |      1      |  0   |
|      Jason Miller      |      1      |  0   |
|     Jaye Davidson      |      1      |  0   |
|     Jeff Chandler      |      1      |  0   |
|     Jeremy Renner      |      1      |  0   |
|    Jesse Eisenberg     |      1      |  0   |
|      Joe Mantell       |      1      |  0   |
|     John C. Reilly     |      1      |  0   |
|    John Cassavetes     |      1      |  0   |
|       John Dall        |      1      |  0   |
|     John Garfield      |      1      |  0   |
|      John Hawkes       |      1      |  0   |
|       John Hurt        |      1      |  0   |
|      John Huston       |      1      |  0   |
|      John Ireland      |      1      |  0   |
|      John Marley       |      1      |  0   |
|     Jonathan Pryce     |      1      |  0   |
|      Josh Brolin       |      1      |  0   |
|      Judd Hirsch       |      1      |  0   |
|        Jude Law        |      1      |  0   |
|      Justin Henry      |      1      |  0   |
|      Ken Watanabe      |      1      |  0   |
|    Kenneth Branagh     |      1      |  0   |
|     Kevin Costner      |      1      |  0   |
|     Kevin McCarthy     |      1      |  0   |
| Klaus Maria Brandauer  |      1      |  0   |
|      Larry Parks       |      1      |  0   |
|   Laurence Fishburne   |      1      |  0   |
|    Laurence Harvey     |      1      |  0   |
|    Lawrence Tibbett    |      1      |  0   |
|     Lee Strasberg      |      1      |  0   |
|       Lee Tracy        |      1      |  0   |
|        Leo Genn        |      1      |  0   |
|      Leonard Frey      |      1      |  0   |
|       Lew Ayres        |      1      |  0   |
|      Lewis Stone       |      1      |  0   |
|      Liam Neeson       |      1      |  0   |
|     Louis Calhern      |      1      |  0   |
|      Lucas Hedges      |      1      |  0   |
|          Mako          |      1      |  0   |
|     Mark Wahlberg      |      1      |  0   |
|     Massimo Troisi     |      1      |  0   |
|      Matt Dillon       |      1      |  0   |
|     Max von Sydow      |      1      |  0   |
|    Michael Chekhov     |      1      |  0   |
| Michael Clarke Duncan  |      1      |  0   |
|      Michael Dunn      |      1      |  0   |
|   Michael Fassbender   |      1      |  0   |
|   Michael J. Pollard   |      1      |  0   |
|     Michael Keaton     |      1      |  0   |
|     Michael Lerner     |      1      |  0   |
|    Michael O'Keefe     |      1      |  0   |
|    Michael Redgrave    |      1      |  0   |
|    Michael V. Gazzo    |      1      |  0   |
|     Mickey Rourke      |      1      |  0   |
|  Mikhail Baryshnikov   |      1      |  0   |
|      Mischa Auer       |      1      |  0   |
|     Monty Woolley      |      1      |  0   |
|       Ned Beatty       |      1      |  0   |
|       Nick Adams       |      1      |  0   |
|    Nigel Hawthorne     |      1      |  0   |
|      Omar Sharif       |      1      |  0   |
|      Orson Welles      |      1      |  0   |
|     Oscar Homolka      |      1      |  0   |
|      Oskar Werner      |      1      |  0   |
|       Pat Morita       |      1      |  0   |
|     Paul Giamatti      |      1      |  0   |
|     Paul Winfield      |      1      |  0   |
|   Pete Postlethwaite   |      1      |  0   |
|      Peter Firth       |      1      |  0   |
|      Peter Fonda       |      1      |  0   |
|     Ralph Bellamy      |      1      |  0   |
|     Ralph Fiennes      |      1      |  0   |
|      Randy Quaid       |      1      |  0   |
|     Raymond Massey     |      1      |  0   |
|      Richard Dix       |      1      |  0   |
|    Richard E. Grant    |      1      |  0   |
|   Richard Farnsworth   |      1      |  0   |
|    Richard Jaeckel     |      1      |  0   |
|    Richard Jenkins     |      1      |  0   |
| Richard S. Castellano  |      1      |  0   |
|      Richard Todd      |      1      |  0   |
|    Richard Widmark     |      1      |  0   |
|        Rip Torn        |      1      |  0   |
|     River Phoenix      |      1      |  0   |
|   Robert Downey Jr.    |      1      |  0   |
|     Robert Forster     |      1      |  0   |
|     Robert Loggia      |      1      |  0   |
|     Robert Mitchum     |      1      |  0   |
|     Robert Morley      |      1      |  0   |

In [75]:
# Query: Return a list of actresses ordered by most nominations and wins
# Explained: We are using two tables - nominee_best_actress and nominee_best_supporting_actress. 
# Therefore we use UNION inside a subquery to combine the results of two queries into one set. 
# Each query counts the number of nominations for each actress as well as the number of times they won. 
# We get the total for each actress by summing the results of each query.
supActor_mostNom = engine.execute("\
SELECT actress, SUM(total_wins) AS total_wins, SUM(total_nom) AS total_nom \
FROM( \
    SELECT actress, \
           COUNT(actress) AS total_nom, \
           COUNT(IF(winner = 'Yes', 1, null)) AS total_wins \
    FROM nominee_best_actress \
    GROUP BY actress \
    UNION \
    SELECT actress, \
           COUNT(actress) AS total_nom, \
           COUNT(IF(winner = 'Yes', 1, null)) AS total_wins \
    FROM nominee_best_supporting_actress \
    GROUP BY actress \
) AS res \
GROUP BY actress \
ORDER BY total_nom DESC, total_wins DESC, actress ASC")

table = PrettyTable(['Actress', 'Nominations', 'Wins'])
for row in supActor_mostNom:
    table.add_row([row['actress'], row['total_nom'], row['total_wins']])
print(table)

+-----------------------------+-------------+------+
|           Actress           | Nominations | Wins |
+-----------------------------+-------------+------+
|         Meryl Streep        |      21     |  3   |
|      Katharine Hepburn      |      12     |  4   |
|         Bette Davis         |      11     |  2   |
|        Geraldine Page       |      8      |  1   |
|        Ingrid Bergman       |      7      |  3   |
|        Cate Blanchett       |      7      |  2   |
|          Jane Fonda         |      7      |  2   |
|         Greer Garson        |      7      |  1   |
|          Judi Dench         |      7      |  1   |
|         Kate Winslet        |      7      |  1   |
|         Glenn Close         |      7      |  0   |
|        Jessica Lange        |      6      |  2   |
|         Maggie Smith        |      6      |  2   |
|        Ellen Burstyn        |      6      |  1   |
|        Norma Shearer        |      6      |  1   |
|         Sissy Spacek        |      6      |  1   |
|       Vanessa Redgrave      |      6      |  1   |
|          Amy Adams          |      6      |  0   |
|         Deborah Kerr        |      6      |  0   |
|        Thelma Ritter        |      6      |  0   |
|       Elizabeth Taylor      |      5      |  2   |
|      Frances McDormand      |      5      |  2   |
|     Olivia de Havilland     |      5      |  2   |
|        Anne Bancroft        |      5      |  1   |
|        Audrey Hepburn       |      5      |  1   |
|        Jennifer Jones       |      5      |  1   |
|        Julianne Moore       |      5      |  1   |
|       Shirley MacLaine      |      5      |  1   |
|        Susan Hayward        |      5      |  1   |
|        Susan Sarandon       |      5      |  1   |
|         Irene Dunne         |      5      |  0   |
|         Janet Gaynor        |      4      |  3   |
|        Glenda Jackson       |      4      |  2   |
|         Jodie Foster        |      4      |  2   |
|       Renée Zellweger       |      4      |  2   |
|       Shelley Winters       |      4      |  2   |
|         Diane Keaton        |      4      |  1   |
|        Emma Thompson        |      4      |  1   |
|       Ethel Barrymore       |      4      |  1   |
|         Helen Mirren        |      4      |  1   |
|         Holly Hunter        |      4      |  1   |
|          Jane Wyman         |      4      |  1   |
|      Jennifer Lawrence      |      4      |  1   |
|       Joanne Woodward       |      4      |  1   |
|        Julia Roberts        |      4      |  1   |
|        Julie Christie       |      4      |  1   |
|         Kathy Bates         |      4      |  1   |
|          Lee Grant          |      4      |  1   |
|      Maureen Stapleton      |      4      |  1   |
|        Nicole Kidman        |      4      |  1   |
|       Agnes Moorehead       |      4      |  0   |
|        Annette Bening       |      4      |  0   |
|       Barbara Stanwyck      |      4      |  0   |
|         Greta Garbo         |      4      |  0   |
|         Marsha Mason        |      4      |  0   |
|       Rosalind Russell      |      4      |  0   |
|        Saoirse Ronan        |      4      |  0   |
|         Dianne Wiest        |      3      |  2   |
|         Sally Field         |      3      |  2   |
|       Anjelica Huston       |      3      |  1   |
|         Anne Revere         |      3      |  1   |
|         Celeste Holm        |      3      |  1   |
|       Charlize Theron       |      3      |  1   |
|        Claire Trevor        |      3      |  1   |
|      Claudette Colbert      |      3      |  1   |
|          Emma Stone         |      3      |  1   |
|         Fay Bainter         |      3      |  1   |
|         Faye Dunaway        |      3      |  1   |
|        Joan Crawford        |      3      |  1   |
|        Joan Fontaine        |      3      |  1   |
|        Julie Andrews        |      3      |  1   |
|          Laura Dern         |      3      |  1   |
|         Marisa Tomei        |      3      |  1   |
|       Natalie Portman       |      3      |  1   |
|       Octavia Spencer       |      3      |  1   |
|        Penélope Cruz        |      3      |  1   |
|        Teresa Wright        |      3      |  1   |
|         Viola Davis         |      3      |  1   |
|         Wendy Hiller        |      3      |  1   |
|       Angela Lansbury       |      3      |  0   |
|         Debra Winger        |      3      |  0   |
|          Diane Ladd         |      3      |  0   |
|         Edith Evans         |      3      |  0   |
|        Eleanor Parker       |      3      |  0   |
|        Gladys Cooper        |      3      |  0   |
|        Gloria Swanson       |      3      |  0   |
|          Joan Allen         |      3      |  0   |
|         Laura Linney        |      3      |  0   |
|      Michelle Pfeiffer      |      3      |  0   |
|         Natalie Wood        |      3      |  0   |
|         Piper Laurie        |      3      |  0   |
|       Sigourney Weaver      |      3      |  0   |
|         Hilary Swank        |      2      |  2   |
|         Luise Rainer        |      2      |  2   |
|         Vivien Leigh        |      2      |  2   |
|         Alice Brady         |      2      |  1   |
|        Angelina Jolie       |      2      |  1   |
|         Anna Magnani        |      2      |  1   |
|         Anne Baxter         |      2      |  1   |
|        Anne Hathaway        |      2      |  1   |
|       Barbra Streisand      |      2      |  1   |
|             Cher            |      2      |  1   |
|        Eileen Heckart       |      2      |  1   |
|       Estelle Parsons       |      2      |  1   |
|       Gale Sondergaard      |      2      |  1   |
|         Geena Davis         |      2      |  1   |
|        Gloria Grahame       |      2      |  1   |
|         Goldie Hawn         |      2      |  1   |
|         Grace Kelly         |      2      |  1   |
|          Helen Hunt         |      2      |  1   |
|        Jessica Tandy        |      2      |  1   |
|       Juliette Binoche      |      2      |  1   |
|        Liza Minnelli        |      2      |  1   |
|        Loretta Young        |      2      |  1   |
|      Marcia Gay Harden      |      2      |  1   |
|        Marie Dressler       |      2      |  1   |
|       Marion Cotillard      |      2      |  1   |
|         Melissa Leo         |      2      |  1   |
|     Mercedes McCambridge    |      2      |  1   |
|        Patricia Neal        |      2      |  1   |
|         Rachel Weisz        |      2      |  1   |
|      Reese Witherspoon      |      2      |  1   |
|         Ruth Gordon         |      2      |  1   |
|        Sandra Bullock       |      2      |  1   |
|       Simone Signoret       |      2      |  1   |
|         Sophia Loren        |      2      |  1   |
|       Whoopi Goldberg       |      2      |  1   |
|         Bette Midler        |      2      |  0   |
|         Beulah Bondi        |      2      |  0   |
|       Catherine Keener      |      2      |  0   |
|         Dyan Cannon         |      2      |  0   |
|       Elsa Lanchester       |      2      |  0   |
|         Emily Watson        |      2      |  0   |
|        Gena Rowlands        |      2      |  0   |
|       Isabelle Adjani       |      2      |  0   |
|         Jacki Weaver        |      2      |  0   |
|        Jane Alexander       |      2      |  0   |
|        Jill Clayburgh       |      2      |  0   |
|         Joan Cusack         |      2      |  0   |
|         Joyce Redman        |      2      |  0   |
|         Leslie Caron        |      2      |  0   |
|         Liv Ullmann         |      2      |  0   |
|        Madeline Kahn        |      2      |  0   |
|      Maria Ouspenskaya      |      2      |  0   |
|       Marjorie Rambeau      |      2      |  0   |
|          May Whitty         |      2      |  0   |
|        Melinda Dillon       |      2      |  0   |
|      Michelle Williams      |      2      |  0   |
|       Mildred Dunnock       |      2      |  0   |
|         Naomi Watts         |      2      |  0   |
|       Ruth Chatterton       |      2      |  0   |
|        Shirley Knight       |      2      |  0   |
|         Sylvia Miles        |      2      |  0   |
|       Alicia Vikander       |      1      |  1   |
|        Allison Janney       |      1      |  1   |
|         Anna Paquin         |      1      |  1   |
|      Beatrice Straight      |      1      |  1   |
|        Brenda Fricker       |      1      |  1   |
|         Brie Larson         |      1      |  1   |
|     Catherine Zeta-Jones    |      1      |  1   |
|       Cloris Leachman       |      1      |  1   |
|          Donna Reed         |      1      |  1   |
|        Dorothy Malone       |      1      |  1   |
|       Eva Marie Saint       |      1      |  1   |
|        Ginger Rogers        |      1      |  1   |
|       Gwyneth Paltrow       |      1      |  1   |
|         Halle Berry         |      1      |  1   |
|       Hattie McDaniel       |      1      |  1   |
|         Helen Hayes         |      1      |  1   |
|         Jane Darwell        |      1      |  1   |
|      Jennifer Connelly      |      1      |  1   |
|       Jennifer Hudson       |      1      |  1   |
|         Jo Van Fleet        |      1      |  1   |
|        Josephine Hull       |      1      |  1   |
|        Judy Holliday        |      1      |  1   |
|        Katina Paxinou       |      1      |  1   |
|         Kim Basinger        |      1      |  1   |
|          Kim Hunter         |      1      |  1   |
|         Lila Kedrova        |      1      |  1   |
|          Linda Hunt         |      1      |  1   |
|       Louise Fletcher       |      1      |  1   |
|        Lupita Nyong'o       |      1      |  1   |
|     Margaret Rutherford     |      1      |  1   |
|        Marlee Matlin        |      1      |  1   |
|          Mary Astor         |      1      |  1   |
|        Mary Pickford        |      1      |  1   |
|       Mary Steenburgen      |      1      |  1   |
|        Mercedes Ruehl       |      1      |  1   |
|         Mira Sorvino        |      1      |  1   |
|        Miyoshi Umeki        |      1      |  1   |
|           Mo'Nique          |      1      |  1   |
|        Olivia Colman        |      1      |  1   |
|       Olympia Dukakis       |      1      |  1   |
|      Patricia Arquette      |      1      |  1   |
|          Patty Duke         |      1      |  1   |
|        Peggy Ashcroft       |      1      |  1   |
|         Regina King         |      1      |  1   |
|         Rita Moreno         |      1      |  1   |
|         Sandy Dennis        |      1      |  1   |
|        Shirley Booth        |      1      |  1   |
|        Shirley Jones        |      1      |  1   |
|         Tatum O'Neal        |      1      |  1   |
|        Tilda Swinton        |      1      |  1   |
|       Abigail Breslin       |      1      |  0   |
|       Adriana Barraza       |      1      |  0   |
|        Alfre Woodard        |      1      |  0   |
|         Ali MacGraw         |      1      |  0   |
|        Aline MacMahon       |      1      |  0   |
|          Amy Irving         |      1      |  0   |
|         Amy Madigan         |      1      |  0   |
|           Amy Ryan          |      1      |  0   |
|         Andrea Leeds        |      1      |  0   |
|        Angela Bassett       |      1      |  0   |
|          Ann Blyth          |      1      |  0   |
|         Ann Harding         |      1      |  0   |
|         Ann Sothern         |      1      |  0   |
|         Ann-Margret         |      1      |  0   |
|        Anna Kendrick        |      1      |  0   |
|         Anne Archer         |      1      |  0   |
|         Anne Ramsey         |      1      |  0   |
|         Anne Shirley        |      1      |  0   |
|         Anouk Aimée         |      1      |  0   |
|         Ava Gardner         |      1      |  0   |
|        Barbara Barrie       |      1      |  0   |
|      Barbara Bel Geddes     |      1      |  0   |
|        Barbara Harris       |      1      |  0   |
|       Barbara Hershey       |      1      |  0   |
|        Barbara O'Neil       |      1      |  0   |
|        Beah Richards        |      1      |  0   |
|        Bérénice Bejo        |      1      |  0   |
|         Bessie Love         |      1      |  0   |
|         Betsy Blair         |      1      |  0   |
|        Betty Compson        |      1      |  0   |
|         Billie Burke        |      1      |  0   |
|       Bonita Granville      |      1      |  0   |
|        Brenda Blethyn       |      1      |  0   |
|        Brenda Vaccaro       |      1      |  0   |
|        Candice Bergen       |      1      |  0   |
|         Candy Clark         |      1      |  0   |
|        Cara Williams        |      1      |  0   |
|        Carey Mulligan       |      1      |  0   |
|        Carol Channing       |      1      |  0   |
|          Carol Kane         |      1      |  0   |
|        Carole Lombard       |      1      |  0   |
|        Carolyn Jones        |      1      |  0   |
|       Carrie Snodgress      |      1      |  0   |
|        Carroll Baker        |      1      |  0   |
|   Catalina Sandino Moreno   |      1      |  0   |
|       Catherine Burns       |      1      |  0   |
|      Catherine Deneuve      |      1      |  0   |
|        Cathy Moriarty       |      1      |  0   |
|        Celia Johnson        |      1      |  0   |
|      Charlotte Rampling     |      1      |  0   |
|        Chloë Sevigny        |      1      |  0   |
|       Christine Lahti       |      1      |  0   |
|         Cicely Tyson        |      1      |  0   |
|       Colette Marchand      |      1      |  0   |
|       Corinne Griffith      |      1      |  0   |
|        Cynthia Erivo        |      1      |  0   |
|       Debbie Reynolds       |      1      |  0   |
|       Diahann Carroll       |      1      |  0   |
|          Diana Ross         |      1      |  0   |
|        Diana Scarwid        |      1      |  0   |
|        Diana Wynyard        |      1      |  0   |
|        Diane Cilento        |      1      |  0   |
|          Diane Lane         |      1      |  0   |
|         Diane Varsi         |      1      |  0   |
|          Doris Day          |      1      |  0   |
|      Dorothy Dandridge      |      1      |  0   |
|       Dorothy McGuire       |      1      |  0   |
|       Edna May Oliver       |      1      |  0   |
|        Eileen Brennan       |      1      |  0   |
|      Elisabeth Bergner      |      1      |  0   |
|        Elisabeth Shue       |      1      |  0   |
|      Elizabeth Hartman      |      1      |  0   |
|      Elizabeth McGovern     |      1      |  0   |
|         Ellen Corby         |      1      |  0   |
|          Ellen Page         |      1      |  0   |
|       Emmanuelle Riva       |      1      |  0   |
|         Ethel Waters        |      1      |  0   |
|       Eva Le Gallienne      |      1      |  0   |
|          Eve Arden          |      1      |  0   |
|       Felicity Huffman      |      1      |  0   |
|        Felicity Jones       |      1      |  0   |
|     Fernanda Montenegro     |      1      |  0   |
|         Flora Robson        |      1      |  0   |
|        Florence Pugh        |      1      |  0   |
|       Gabourey Sidibe       |      1      |  0   |
|         Gene Tierney        |      1      |  0   |
|       Geneviève Bujold      |      1      |  0   |
|     Geraldine Fitzgerald    |      1      |  0   |
|        Gladys George        |      1      |  0   |
|        Gloria Stuart        |      1      |  0   |
|         Glynis Johns        |      1      |  0   |
|         Grace Moore         |      1      |  0   |
|         Grayson Hall        |      1      |  0   |
|       Hailee Steinfeld      |      1      |  0   |
|     Helena Bonham Carter    |      1      |  0   |
|      Hermione Baddeley      |      1      |  0   |
|         Hope Emerson        |      1      |  0   |
|          Hope Lange         |      1      |  0   |
|         Ida Kamińska        |      1      |  0   |
|       Imelda Staunton       |      1      |  0   |
|       Isabelle Huppert      |      1      |  0   |
|         Jan Sterling        |      1      |  0   |
|         Janet Leigh         |      1      |  0   |
|         Janet McTeer        |      1      |  0   |
|         Janet Suzman        |      1      |  0   |
|         Jean Arthur         |      1      |  0   |
|          Jean Hagen         |      1      |  0   |
|         Jean Simmons        |      1      |  0   |
|         Jeanne Crain        |      1      |  0   |
|        Jeanne Eagels        |      1      |  0   |
|        Jeannie Berlin       |      1      |  0   |
|     Jennifer Jason Leigh    |      1      |  0   |
|        Jennifer Tilly       |      1      |  0   |
|       Jessica Chastain      |      1      |  0   |
|        Joan Blondell        |      1      |  0   |
|         Joan Hackett        |      1      |  0   |
|         Joan Lorring        |      1      |  0   |
|        Joan Plowright       |      1      |  0   |
|       Jocelyne LaGarde      |      1      |  0   |
|        Juanita Moore        |      1      |  0   |
|       Judith Anderson       |      1      |  0   |
|          Judy Davis         |      1      |  0   |
|         Judy Garland        |      1      |  0   |
|         Julie Harris        |      1      |  0   |
|        Julie Walters        |      1      |  0   |
|        Juliette Lewis       |      1      |  0   |
|         June Squibb         |      1      |  0   |
|         Karen Black         |      1      |  0   |
|         Kate Hudson         |      1      |  0   |
|        Kate Nelligan        |      1      |  0   |
|        Katharine Ross       |      1      |  0   |
|       Kathleen Quinlan      |      1      |  0   |
|       Kathleen Turner       |      1      |  0   |
|         Katy Jurado         |      1      |  0   |
|         Kay Medford         |      1      |  0   |
|       Keira Knightley       |      1      |  0   |
|     Keisha Castle-Hughes    |      1      |  0   |
|         Kim Stanley         |      1      |  0   |
|     Kristin Scott Thomas    |      1      |  0   |
|          Lady Gaga          |      1      |  0   |
|         Lana Turner         |      1      |  0   |
|        Lauren Bacall        |      1      |  0   |
|        Laurie Metcalf       |      1      |  0   |
|          Lee Remick         |      1      |  0   |
|          Lena Olin          |      1      |  0   |
|      Lesley Ann Warren      |      1      |  0   |
|       Lesley Manville       |      1      |  0   |
|        Leslie Browne        |      1      |  0   |
|         Lilia Skala         |      1      |  0   |
|         Lillian Gish        |      1      |  0   |
|         Lily Tomlin         |      1      |  0   |
|         Linda Blair         |      1      |  0   |
|        Lindsay Crouse       |      1      |  0   |
|       Lorraine Bracco       |      1      |  0   |
|         Lotte Lenya         |      1      |  0   |
|        Louise Dresser       |      1      |  0   |
|        Lucile Watson        |      1      |  0   |
|         Lynn Carlin         |      1      |  0   |
|        Lynn Fontanne        |      1      |  0   |
|        Lynn Redgrave        |      1      |  0   |
|      Maggie Gyllenhaal      |      1      |  0   |
|       Maggie McNamara       |      1      |  0   |
|       Mare Winningham       |      1      |  0   |
|        Margaret Avery       |      1      |  0   |
|      Margaret Leighton      |      1      |  0   |
|      Margaret Sullavan      |      1      |  0   |
|      Margaret Wycherly      |      1      |  0   |
|        Margot Robbie        |      1      |  0   |
|    Marianne Jean-Baptiste   |      1      |  0   |
|   Marie-Christine Barrault  |      1      |  0   |
|       Mariel Hemingway      |      1      |  0   |

In [76]:
# Query: Return a list of directors ordered by most nominations and wins
# Explained: Because the 1st Osars had winners in different categories we have to use 
# substring to get rid of any brackets at the end of any names. 
# With the names correct we can now count the number of nominations and the number of wins for each director.
director_mostNom = engine.execute("\
SELECT director, SUM(total_wins) AS total_wins, SUM(total_nom) AS total_nom \
FROM ( \
    SELECT IF(SUBSTRING(director, LENGTH(director)) = ')', \
              SUBSTRING(director, 1, POSITION('(' IN director) -1), \
              director \
    ) AS director, \
    COUNT(IF(SUBSTRING(director, LENGTH(director)) = ')', \
             SUBSTRING(director, 1, POSITION('(' IN director) -1), \
             director) \
    ) AS total_nom, \
    COUNT(IF (winner = 'Yes', 1, null )) AS total_wins \
    FROM nominee_best_director \
    GROUP BY director \
) AS res \
GROUP BY director \
ORDER BY total_nom DESC, total_wins DESC, director ASC")
 
table = PrettyTable(['Director', 'Nominations', 'Wins'])
for row in director_mostNom:
    table.add_row([row['director'], row['total_nom'], row['total_wins']])
print(table)

+------------------------------+-------------+------+
|           Director           | Nominations | Wins |
+------------------------------+-------------+------+
|        William Wyler         |      12     |  3   |
|       Martin Scorsese        |      9      |  1   |
|         Billy Wilder         |      8      |  2   |
|          David Lean          |      7      |  2   |
|        Fred Zinnemann        |      7      |  2   |
|       Steven Spielberg       |      7      |  2   |
|         Woody Allen          |      7      |  1   |
|         Frank Capra          |      6      |  3   |
|        Clarence Brown        |      6      |  0   |
|          John Ford           |      5      |  4   |
|          Elia Kazan          |      5      |  2   |
|         Frank Lloyd          |      5      |  2   |
|        George Stevens        |      5      |  2   |
|         George Cukor         |      5      |  1   |
|         John Huston          |      5      |  1   |
|       Alfred Hitchcock       |      5      |  0   |
|          King Vidor          |      5      |  0   |
|        Robert Altman         |      5      |  0   |
|        Clint Eastwood        |      4      |  2   |
|     Joseph L. Mankiewicz     |      4      |  2   |
|     Francis Ford Coppola     |      4      |  1   |
|        Michael Curtiz        |      4      |  1   |
|         Mike Nichols         |      4      |  1   |
|       Federico Fellini       |      4      |  0   |
|          Peter Weir          |      4      |  0   |
|         Sidney Lumet         |      4      |  0   |
|       Stanley Kubrick        |      4      |  0   |
|    Alejandro G. Iñárritu     |      3      |  2   |
|           Ang Lee            |      3      |  2   |
|         Leo McCarey          |      3      |  2   |
|       Lewis Milestone        |      3      |  2   |
|         Miloš Forman         |      3      |  2   |
|         Oliver Stone         |      3      |  2   |
|          Bob Fosse           |      3      |  1   |
|          Carol Reed          |      3      |  1   |
|       John Schlesinger       |      3      |  1   |
|        Roman Polanski        |      3      |  1   |
|        Sydney Pollack        |      3      |  1   |
|       Alexander Payne        |      3      |  0   |
|         Arthur Penn          |      3      |  0   |
|         David Lynch          |      3      |  0   |
|       David O. Russell       |      3      |  0   |
|        Ernst Lubitsch        |      3      |  0   |
|        Ingmar Bergman        |      3      |  0   |
|         James Ivory          |      3      |  0   |
|        Norman Jewison        |      3      |  0   |
|      Quentin Tarantino       |      3      |  0   |
|        Richard Brooks        |      3      |  0   |
|         Ridley Scott         |      3      |  0   |
|           Sam Wood           |      3      |  0   |
|        Stanley Kramer        |      3      |  0   |
|        Stephen Daldry        |      3      |  0   |
|      William A. Wellman      |      3      |  0   |
|        Alfonso Cuarón        |      2      |  2   |
|        Frank Borzage         |      2      |  2   |
|        Barry Levinson        |      2      |  1   |
|     Bernardo Bertolucci      |      2      |  1   |
|        Coen Brothers         |      2      |  1   |
|       George Roy Hill        |      2      |  1   |
|        James Cameron         |      2      |  1   |
|          Mel Gibson          |      2      |  1   |
|        Norman Taurog         |      2      |  1   |
|        Peter Jackson         |      2      |  1   |
|        Robert Benton         |      2      |  1   |
|        Robert Redford        |      2      |  1   |
|         Robert Wise          |      2      |  1   |
|          Ron Howard          |      2      |  1   |
|          Sam Mendes          |      2      |  1   |
|      Steven Soderbergh       |      2      |  1   |
|      Vincente Minnelli       |      2      |  1   |
|       William Friedkin       |      2      |  1   |
|          Adam McKay          |      2      |  0   |
|         Alan Parker          |      2      |  0   |
|        Bennett Miller        |      2      |  0   |
|        David Fincher         |      2      |  0   |
|         George Lucas         |      2      |  0   |
|       Gregory La Cava        |      2      |  0   |
|         Gus Van Sant         |      2      |  0   |
|          Henry King          |      2      |  0   |
|        Jason Reitman         |      2      |  0   |
|         Jim Sheridan         |      2      |  0   |
|         John Boorman         |      2      |  0   |
|     Josef von Sternberg      |      2      |  0   |
|         Joshua Logan         |      2      |  0   |
|       Lasse Hallström        |      2      |  0   |
|         Mark Robson          |      2      |  0   |
|          Mike Leigh          |      2      |  0   |
|        Otto Preminger        |      2      |  0   |
|     Paul Thomas Anderson     |      2      |  0   |
|         Peter Yates          |      2      |  0   |
|        Robert Rossen         |      2      |  0   |
|      Robert Z. Leonard       |      2      |  0   |
|         Roland Joffé         |      2      |  0   |
|        Stephen Frears        |      2      |  0   |
|       Terrence Malick        |      2      |  0   |
|        W. S. Van Dyke        |      2      |  0   |
|      Anthony Minghella       |      1      |  1   |
|         Bong Joon-ho         |      1      |  1   |
|       Damien Chazelle        |      1      |  1   |
|         Danny Boyle          |      1      |  1   |
|         Delbert Mann         |      1      |  1   |
|    Franklin J. Schaffner     |      1      |  1   |
|      Guillermo del Toro      |      1      |  1   |
|       James L. Brooks        |      1      |  1   |
|       John G. Avildsen       |      1      |  1   |
|        Jonathan Demme        |      1      |  1   |
|       Kathryn Bigelow        |      1      |  1   |
|        Kevin Costner         |      1      |  1   |
|        Michael Cimino        |      1      |  1   |
|     Michel Hazanavicius      |      1      |  1   |
|     Richard Attenborough     |      1      |  1   |
| Robert Wise & Jerome Robbins |      1      |  1   |
|       Robert Zemeckis        |      1      |  1   |
|          Tom Hooper          |      1      |  1   |
|       Tony Richardson        |      1      |  1   |
|        Victor Fleming        |      1      |  1   |
|        Warren Beatty         |      1      |  1   |
|         Adrian Lyne          |      1      |  0   |
|        Akira Kurosawa        |      1      |  0   |
|        Alan J. Pakula        |      1      |  0   |
|        Alexander Hall        |      1      |  0   |
|        Anatole Litvak        |      1      |  0   |
|        Anthony Harvey        |      1      |  0   |
|        Arthur Hiller         |      1      |  0   |
|         Atom Egoyan          |      1      |  0   |
|       Barbet Schroeder       |      1      |  0   |
|        Barry Jenkins         |      1      |  0   |
|         Benh Zeitlin         |      1      |  0   |
|       Bruce Beresford        |      1      |  0   |
|       Cecil B. DeMille       |      1      |  0   |
|       Charles Crichton       |      1      |  0   |
|       Charles Walters        |      1      |  0   |
|         Chris Noonan         |      1      |  0   |
|      Christopher Nolan       |      1      |  0   |
|        Claude Lelouch        |      1      |  0   |
|         Costa-Gavras         |      1      |  0   |
|        Curtis Hanson         |      1      |  0   |
|       Darren Aronofsky       |      1      |  0   |
|       Denis Villeneuve       |      1      |  0   |
|       Édouard Molinaro       |      1      |  0   |
|        Edward Dmytryk        |      1      |  0   |
|      Fernando Meirelles      |      1      |  0   |
|      Franco Zeffirelli       |      1      |  0   |
|      François Truffaut       |      1      |  0   |
|         Frank Perry          |      1      |  0   |
|        George Clooney        |      1      |  0   |
|        George Miller         |      1      |  0   |
|        George Seaton         |      1      |  0   |
|       Gillo Pontecorvo       |      1      |  0   |
|         Greta Gerwig         |      1      |  0   |
|          Hal Ashby           |      1      |  0   |
|        Harry Beaumont        |      1      |  0   |
|        Héctor Babenco        |      1      |  0   |
|        Henry Hathaway        |      1      |  0   |
|         Henry Koster         |      1      |  0   |
|       Herbert Brenon         |      1      |  0   |
|         Herbert Ross         |      1      |  0   |
|     Hiroshi Teshigahara      |      1      |  0   |
|         Howard Hawks         |      1      |  0   |
|         Hugh Hudson          |      1      |  0   |
|       Irving Cummings        |      1      |  0   |
|       J. Lee Thompson        |      1      |  0   |
|         Jack Cardiff         |      1      |  0   |
|         Jack Clayton         |      1      |  0   |
|          Jan Troell          |      1      |  0   |
|         Jane Campion         |      1      |  0   |
|        Jean Negulesco        |      1      |  0   |
|         Jean Renoir          |      1      |  0   |
|          Joel Coen           |      1      |  0   |
|       John Cassavetes        |      1      |  0   |
|         John Farrow          |      1      |  0   |
|         John Madden          |      1      |  0   |
|        John Singleton        |      1      |  0   |
|         John Sturges         |      1      |  0   |
|         Jordan Peele         |      1      |  0   |
|         Jules Dassin         |      1      |  0   |
|       Julian Schnabel        |      1      |  0   |
|         Ken Russell          |      1      |  0   |
|       Kenneth Branagh        |      1      |  0   |
|       Kenneth Lonergan       |      1      |  0   |
|     Krzysztof Kieślowski     |      1      |  0   |
|       Laurence Olivier       |      1      |  0   |
|         Lee Daniels          |      1      |  0   |
|       Lenny Abrahamson       |      1      |  0   |
|       Lina Wertmüller        |      1      |  0   |
|       Lionel Barrymore       |      1      |  0   |
|         Louis Malle          |      1      |  0   |
|      M. Night Shyamalan      |      1      |  0   |
|         Mark Rydell          |      1      |  0   |
|         Martin Brest         |      1      |  0   |
|         Martin Ritt          |      1      |  0   |
|         Mervyn LeRoy         |      1      |  0   |
|       Michael Anderson       |      1      |  0   |
|      Michael Cacoyannis      |      1      |  0   |
|        Michael Haneke        |      1      |  0   |
|         Michael Mann         |      1      |  0   |
|       Michael Radford        |      1      |  0   |
|    Michelangelo Antonioni    |      1      |  0   |
|         Mike Figgis          |      1      |  0   |
|        Morten Tyldum         |      1      |  0   |
|         Neil Jordan          |      1      |  0   |
|         Orson Welles         |      1      |  0   |
|       Paul Greengrass        |      1      |  0   |
|         Paul Haggis          |      1      |  0   |
|      Paweł Pawlikowski       |      1      |  0   |
|       Pedro Almodóvar        |      1      |  0   |
|      Peter Bogdanovich       |      1      |  0   |
|        Peter Cattaneo        |      1      |  0   |
|       Peter Glenville        |      1      |  0   |
|         Pietro Germi         |      1      |  0   |
|      Richard Linklater       |      1      |  0   |
|         Richard Rush         |      1      |  0   |
|         Rob Marshall         |      1      |  0   |
|       Robert Mulligan        |      1      |  0   |
|        Robert Siodmak        |      1      |  0   |
|       Robert Stevenson       |      1      |  0   |
|       Roberto Benigni        |      1      |  0   |
|         Scott Hicks          |      1      |  0   |
|       Sidney Franklin        |      1      |  0   |
|        Sofia Coppola         |      1      |  0   |
|         Spike Jonze          |      1      |  0   |
|          Spike Lee           |      1      |  0   |
|        Steve McQueen         |      1      |  0   |
|       Taylor Hackford        |      1      |  0   |
|          Ted Wilde           |      1      |  0   |
|         Tim Robbins          |      1      |  0   |
|        Todd Phillips         |      1      |  0   |
|         Tom McCarthy         |      1      |  0   |
|         Tony Gilroy          |      1      |  0   |
|     Victor Schertzinger      |      1      |  0   |
|         Walter Lang          |      1      |  0   |
|  Warren Beatty & Buck Henry  |      1      |  0   |
|         Wes Anderson         |      1      |  0   |
|        Wesley Ruggles        |      1      |  0   |
|       William Dieterle       |      1      |  0   |
|      Wolfgang Petersen       |      1      |  0   |
|       Yorgos Lanthimos       |      1      |  0   |
+------------------------------+-------------+------+

In [77]:
# Query: Return a list of producers ordered by most nominations and wins
# Explained: This query is difficult because the producers column can have multiple names in it. 
# We are interested in the first name as that is usually the director. 
# The names can be seperated by either commas or 'and' so we use search for the position of the first comma. 
# If a comma is found then use that as the maximum index for the substring. 
# If not then search for the position of ' and ' and use that as the maximum index. 
# Finally return the substring and use it to count each occurrence and the number of wins for each.
picture_mostNom = engine.execute("\
SELECT IF(POSITION(',' IN producers) > 0, \
           SUBSTRING(producers, 1, POSITION(',' IN producers) -1), \
           IF(POSITION(' and ' IN producers) > 0, \
               SUBSTRING(producers, 1, POSITION(' and ' IN producers)), \
               producers) \
) AS name,\
     COUNT(producers) AS total_nom, \
     COUNT(IF(winner = 'Yes', 1, null)) AS total_wins \
FROM nominee_best_picture \
GROUP BY name \
ORDER BY total_nom DESC, total_wins DESC, name ASC")
 
table = PrettyTable(['Producer', 'Nominations', 'Wins'])
for row in picture_mostNom:
    table.add_row([row['name'], row['total_nom'], row['total_wins']])
print(table)

+-------------------------------------+-------------+------+
|               Producer              | Nominations | Wins |
+-------------------------------------+-------------+------+
|         Metro-Goldwyn-Mayer         |      40     |  5   |
|             Warner Bros.            |      20     |  2   |
|           20th Century-Fox          |      16     |  3   |
|               Columbia              |      13     |  3   |
|              Paramount              |      13     |  2   |
|              RKO Radio              |      11     |  1   |
|      Samuel Goldwyn Productions     |      8      |  1   |
|          Steven Spielberg           |      8      |  1   |
|                 Fox                 |      6      |  1   |
|             Scott Rudin             |      6      |  1   |
|            Stanley Kramer           |      6      |  0   |
|   Selznick International Pictures   |      5      |  2   |
|        Francis Ford Coppola         |      5      |  1   |
|             Sam Spiegel             |      4      |  3   |
|            Clint Eastwood           |      4      |  2   |
|            Irwin Winkler            |      4      |  1   |
|           James L. Brooks           |      4      |  1   |
|              Universal              |      4      |  1   |
|            George Stevens           |      4      |  0   |
|           Paramount Publix          |      4      |  0   |
|              Tim Bevan              |      4      |  0   |
|             Robert Wise             |      3      |  2   |
|             Graham King             |      3      |  1   |
|        Paramount Famous Lasky       |      3      |  1   |
|          Richard D. Zanuck          |      3      |  1   |
|             Cosmopolitan            |      3      |  0   |
|            Hal B. Wallis            |      3      |  0   |
|           Lawrence Bender           |      3      |  0   |
|            Norman Jewison           |      3      |  0   |
|           Stanley Kubrick           |      3      |  0   |
|     Warner Bros.-First National     |      3      |  0   |
|            Warren Beatty            |      3      |  0   |
|             Arthur Freed            |      2      |  2   |
|             Saul Zaentz             |      2      |  2   |
|           Arnold Kopelson           |      2      |  1   |
|          Barrie M. Osborne          |      2      |  1   |
|             Brian Grazer            |      2      |  1   |
|             Bruce Cohen             |      2      |  1   |
|             Buddy Adler             |      2      |  1   |
|           Cecil B. DeMille          |      2      |  1   |
|           Christian Colson          |      2      |  1   |
|            David Puttnam            |      2      |  1   |
|             Douglas Wick            |      2      |  1   |
|            Fred Zinnemann           |      2      |  1   |
|             Grant Heslov            |      2      |  1   |
|             Harold Hecht            |      2      |  1   |
|            Jack L. Warner           |      2      |  1   |
|            James Cameron            |      2      |  1   |
|            Jerome Hellman           |      2      |  1   |
|              Jim Burke              |      2      |  1   |
|             John Woolf              |      2      |  1   |
|             Mark Johnson            |      2      |  1   |
|            Sam Zimbalist            |      2      |  1   |
|           Stanley R. Jaffe          |      2      |  1   |
|           Sydney Pollack            |      2      |  1   |
|             20th Century            |      2      |  0   |
|            A. Kitman Ho             |      2      |  0   |
|              Amy Pascal             |      2      |  0   |
|            Bernard Smith            |      2      |  0   |
|             David Brown             |      2      |  0   |
|             Dede Gardner            |      2      |  0   |
|           Donna Gigliotti           |      2      |  0   |
|            Ernest Lehman            |      2      |  0   |
|            Finola Dwyer             |      2      |  0   |
|            First National           |      2      |  0   |
|            Frank Marshall           |      2      |  0   |
|              Gil Netter             |      2      |  0   |
|           Ismail Merchant           |      2      |  0   |
|              Jerry Wald             |      2      |  0   |
|              Joel Coen              |      2      |  0   |
|             John Boorman            |      2      |  0   |
|             John Foreman            |      2      |  0   |
|           Kathleen Kennedy          |      2      |  0   |
|           Martin Scorsese           |      2      |  0   |
|               Mercury               |      2      |  0   |
|            Peter Jackson            |      2      |  0   |
|             Peter Yates             |      2      |  0   |
|              Ray Stark              |      2      |  0   |
|         Richard N. Gladstein        |      2      |  0   |
|            Robert Altman            |      2      |  0   |
|           Sean McKittrick           |      2      |  0   |
|          The Caddo Company          |      2      |  0   |
|           Two Cities Films          |      2      |  0   |
|  Walter Wanger (production company) |      2      |  0   |
|            William Wyler            |      2      |  0   |
|            Adele Romanski           |      1      |  1   |
|           Albert S. Ruddy           |      1      |  1   |
|        Alejandro G. Iñárritu        |      1      |  1   |
|            Barry Spikings           |      1      |  1   |
|             Billy Wilder            |      1      |  1   |
|           Blye Pagon Faust          |      1      |  1   |
|              Brad Pitt              |      1      |  1   |
|           Charles H. Joffe          |      1      |  1   |
|            David Parfitt            |      1      |  1   |
|             Edward Saxon            |      1      |  1   |
|            Frank McCarthy           |      1      |  1   |
|         Guillermo del Toro          |      1      |  1   |
|             Iain Canning            |      1      |  1   |
|   J. Arthur Rank-Two Cities Films   |      1      |  1   |
|            Jeremy Thomas            |      1      |  1   |
|             Jim Wilson              |      1      |  1   |
|           Kathryn Bigelow           |      1      |  1   |
|             Kwak Sin-ae             |      1      |  1   |
|           Martin Richards           |      1      |  1   |
|              Mel Gibson             |      1      |  1   |
|           Michael Douglas           |      1      |  1   |
|             Michael Todd            |      1      |  1   |
|             Paul Haggis             |      1      |  1   |
|           Philip D'Antoni           |      1      |  1   |
|         Richard Attenborough        |      1      |  1   |
|          Ronald L. Schwary          |      1      |  1   |
|           Thomas Langmann           |      1      |  1   |
|              Tony Bill              |      1      |  1   |
|           Tony Richardson           |      1      |  1   |
|            Walter Mirisch           |      1      |  1   |
|            Wendy Finerman           |      1      |  1   |
|           Aaron Rosenberg           |      1      |  0   |
|            Alan J. Pakula           |      1      |  0   |
|            Alan Marshall            |      1      |  0   |
|            Albert Berger            |      1      |  0   |
|          Alberto Grimaldi           |      1      |  0   |
|     Alejandro González Iñárritu     |      1      |  0   |
|           Alfonso Cuarón            |      1      |  0   |
|             Alison Owen             |      1      |  0   |
|            Alix Madigan             |      1      |  0   |
|           Anatole Litvak            |      1      |  0   |
|             Andy Harries            |      1      |  0   |
|       Anthony Havelock-Allan        |      1      |  0   |
|          Anthony Minghella          |      1      |  0   |
|            Argosy-Wanger            |      1      |  0   |
|            Arlene Donovan           |      1      |  0   |
|            Arnon Milchan            |      1      |  0   |
|         Arthur Hornblow Jr.         |      1      |  0   |
|           Arthur P. Jacobs          |      1      |  0   |
|          Barbra Streisand           |      1      |  0   |
|            Bengt Forslund           |      1      |  0   |
|           Bernard Schwartz          |      1      |  0   |
|             Bill Gerber             |      1      |  0   |
|            Bill Mechanic            |      1      |  0   |
|             Bill Miller             |      1      |  0   |
|            Bob Rafelson             |      1      |  0   |
|            Bruce Gilbert            |      1      |  0   |
|            Brunson Green            |      1      |  0   |
|            Burt Sugarman            |      1      |  0   |
|             Carl Foreman            |      1      |  0   |
|            Carla Hacken             |      1      |  0   |
|             Carlo Ponti             |      1      |  0   |
|            Caroline Baron           |      1      |  0   |
|             Carthew Neal            |      1      |  0   |
|             Ceci Dempsey            |      1      |  0   |
|           Charles Brackett          |      1      |  0   |
|     Charles Chaplin Productions     |      1      |  0   |
|          Charles K. Feldman         |      1      |  0   |
|            Charles Roven            |      1      |  0   |
|          Christopher Nolan          |      1      |  0   |
|            Claude Berri             |      1      |  0   |
|            Curtis Hanson            |      1      |  0   |
|               Cy Feuer              |      1      |  0   |
|              Dan Janvey             |      1      |  0   |
|            Dana Brunetti            |      1      |  0   |
|           Daniel Dubiecki           |      1      |  0   |
|             Danny Boyle             |      1      |  0   |
|             Danny DeVito            |      1      |  0   |
|          Darla K. Anderson          |      1      |  0   |
|           Darryl F. Zanuck          |      1      |  0   |
|             David Heyman            |      1      |  0   |
|            David Hoberman           |      1      |  0   |
|          David T. Friendly          |      1      |  0   |
|            David Weisman            |      1      |  0   |
|             Denis Héroux            |      1      |  0   |
|            Diana Ossana             |      1      |  0   |
|               Don Hahn              |      1      |  0   |
|            Doug Mitchell            |      1      |  0   |
|           Duncan Kenworthy          |      1      |  0   |
|              Ed Guiney              |      1      |  0   |
|            Edward Lewis             |      1      |  0   |
|          Edward S. Feldman          |      1      |  0   |
|             Edward Zwick            |      1      |  0   |
|             Elda Ferri              |      1      |  0   |
|              Elia Kazan             |      1      |  0   |
|            Emile Sherman            |      1      |  0   |
|             Emma Thomas             |      1      |  0   |
|              Ethan Coen             |      1      |  0   |
|         Feature Productions         |      1      |  0   |
|            Fernando Ghia            |      1      |  0   |
|           Frank Darabont            |      1      |  0   |
|              Frank Ross             |      1      |  0   |
|             Fred Berger             |      1      |  0   |
|               Fred Coe              |      1      |  0   |
|             Fred Kohlmar            |      1      |  0   |
|           Frederick Zollo           |      1      |  0   |
|         Gabriela Rodríguez          |      1      |  0   |
|            Gabrielle Tana           |      1      |  0   |
|             Gary Gilbert            |      1      |  0   |
|              Gary Kurtz             |      1      |  0   |
|           Graham Broadbent          |      1      |  0   |
|            Graham Leader            |      1      |  0   |
|    Hal Roach (production company)   |      1      |  0   |
|             Henry Blanke            |      1      |  0   |
|             Henry Fonda             |      1      |  0   |
|            Herbert Ross             |      1      |  0   |
|           Howard G. Minsky          |      1      |  0   |
|           Howard Gottfried          |      1      |  0   |
|            Ingmar Bergman           |      1      |  0   |
|            Ingo Preminger           |      1      |  0   |
|             Irwin Allen             |      1      |  0   |
|        J. Arthur Rank-Archers       |      1      |  0   |
|       J. Arthur Rank-Cineguild      |      1      |  0   |
|            Jack Cummings            |      1      |  0   |
|           Jacques Perrin            |      1      |  0   |
|             Jan Chapman             |      1      |  0   |
|              Jane Scott             |      1      |  0   |
|              Jason Blum             |      1      |  0   |
|             Jennifer Fox            |      1      |  0   |
| Jesse L. Lasky (production company) |      1      |  0   |
|             Jim Sheridan            |      1      |  0   |
|            JoAnne Sellar            |      1      |  0   |
|           John Brabourne            |      1      |  0   |
|              John Ford              |      1      |  0   |
|            John Houseman            |      1      |  0   |
|             John Huston             |      1      |  0   |
|              John Wayne             |      1      |  0   |
|             Jonas Rivera            |      1      |  0   |
|           Jonathan Sanger           |      1      |  0   |
|             Joseph Janni            |      1      |  0   |
|             Joshua Logan            |      1      |  0   |
|             Kevin Feige             |      1      |  0   |
|           Lawrence Gordon           |      1      |  0   |
|           Lawrence Kasdan           |      1      |  0   |
|           Lawrence Turman           |      1      |  0   |
|         Lawrence Weingarten         |      1      |  0   |
|             Lee Daniels             |      1      |  0   |
|            Leland Hayward           |      1      |  0   |
|            Letty Aronson            |      1      |  0   |
|            Lewis Gilbert            |      1      |  0   |
|            Lianne Halfon            |      1      |  0   |
|            Liberty Films            |      1      |  0   |
|            Lindsay Doran            |      1      |  0   |
|            Lisa Weinstein           |      1      |  0   |
|             London Films            |      1      |  0   |
|           Margaret Menegoz          |      1      |  0   |
|          Mario Cecchi Gori          |      1      |  0   |
|              Mark Boal              |      1      |  0   |
|           Martin Bregman            |      1      |  0   |
|             Martin Brest            |      1      |  0   |
|             Martin Brown            |      1      |  0   |
|             Martin Poll             |      1      |  0   |
|             Marvin Worth            |      1      |  0   |
|              Matt Damon             |      1      |  0   |
|            Megan Ellison            |      1      |  0   |
|             Melvin Frank            |      1      |  0   |
|          Michael Cacoyannis         |      1      |  0   |
|           Michael De Luca           |      1      |  0   |
|            Michael Jacobs           |      1      |  0   |
|            Michael London           |      1      |  0   |
|            Michael Mann             |      1      |  0   |
|          Michael Phillips           |      1      |  0   |
|           Michael Shamberg          |      1      |  0   |
|             Mike Nichols            |      1      |  0   |
|            Morton DaCosta           |      1      |  0   |
|             Niki Marvin             |      1      |  0   |
|            Noah Baumbach            |      1      |  0   |
|             Noel Pearson            |      1      |  0   |
|            Nora Grossman            |      1      |  0   |
|            Norma Heyman             |      1      |  0   |
|                Ortus                |      1      |  0   |
|            Otto Preminger           |      1      |  0   |
|           Pandro S. Berman          |      1      |  0   |
|          Patrick J. Palmer          |      1      |  0   |
|            Paul Mazursky            |      1      |  0   |
|             Paul Newman             |      1      |  0   |
|         Paul Thomas Anderson        |      1      |  0   |
|            Peter Chernin            |      1      |  0   |
|             Peter Spears            |      1      |  0   |
|           Philip S. Hobel           |      1      |  0   |
|          Pieter Jan Brugge          |      1      |  0   |
|         Rainbow Productions         |      1      |  0   |
|             Ralph Nelson            |      1      |  0   |
| Realization D'Art Cinematographique |      1      |  0   |
|          Richard Linklater          |      1      |  0   |
|             Richard Roth            |      1      |  0   |
|           Robbie Brenner            |      1      |  0   |
|         Robert Alan Aurthur         |      1      |  0   |
|          Robert B. Radnitz          |      1      |  0   |
|             Robert Evans            |      1      |  0   |
|          Robert F. Blumofe          |      1      |  0   |
|           Robert Greenhut           |      1      |  0   |
|            Robert Lorenz            |      1      |  0   |
|        Robert Michael Geisler       |      1      |  0   |
|            Robert Rossen            |      1      |  0   |
|            Roman Polanski           |      1      |  0   |
|              Ron Howard             |      1      |  0   |
|             Ross Hunter             |      1      |  0   |
|              Ross Katz              |      1      |  0   |
|              Sam Mendes             |      1      |  0   |
|          Samuel Goldwyn Jr.         |      1      |  0   |
|             Sarah Green             |      1      |  0   |
|            Scott Franklin           |      1      |  0   |
|              Shawn Levy             |      1      |  0   |
|       Simon Channing-Williams       |      1      |  0   |
|            Simon Kinberg            |      1      |  0   |
|            Sol C. Siegel            |      1      |  0   |
|   Sol Lesser (production company)   |      1      |  0   |
|             Stacey Sher             |      1      |  0   |
|         Stephen J. Friedman         |      1      |  0   |
|           Stephen Woolley           |      1      |  0   |
|             Steven Haft             |      1      |  0   |
|           Tamara Asseyev            |      1      |  0   |
|           Taylor Hackford           |      1      |  0   |
|            Todd Phillips            |      1      |  0   |
|           Uberto Pasolini           |      1      |  0   |
|             Walt Disney             |      1      |  0   |
|            Walter Coblenz           |      1      |  0   |
|            Walter Parkes            |      1      |  0   |
|            Walter Wanger            |      1      |  0   |
|             Wes Anderson            |      1      |  0   |
|            William Goetz            |      1      |  0   |
|             William Kong            |      1      |  0   |
|           William Perlberg          |      1      |  0   |
|         William Peter Blatty        |      1      |  0   |
+-------------------------------------+-------------+------+