In [1]:
# This project follows the same structure as Oscar_Nominees.ipynb but it focuses on all nominees not just the winners

In [2]:
import urllib2;                    # for retrieving the contents of a page
from bs4 import BeautifulSoup;     # for parsing the contents of a page to HTML
import pandas as pd                # for creating dataframes

In [3]:
# Function that takes in a URL and returns the contents of the page
def loadPage(url):
    page = urllib2.urlopen(url)
    data = BeautifulSoup(page, "lxml")
    return data

# Style of table cells that have Oscar winners in them
winnerStyle = 'background:#FAEB86'

In [4]:
# Page 1- Best Picture
# Call function to read in URL and retrieve data from the page
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Picture")
# from the data get all the tables that have the following class
tables = data.findAll("table", class_= "wikitable")

In [5]:
# Here we extract each film, nominee and year
# There are tables for each decade starting from the 1920's. We want to go through each table and extract the appropriate information
# Create empty lists for each film, nominee and year
films = []
nominees = []
years = []
# Create an empty list for Oscar winners
winners = []
# Dataframe will be used to store each year along with the number of rows it covers ie. the rowspan
df_yearRows = pd.DataFrame(columns = ["Year","Rows"])

# There are ten tables so we use range to keep track 
for i in range(0, 11):
    # First get the year. Search the table for all cells that match the style
    for row in tables[i].findAll("td", style="text-align:center"):
        # Check that cell has a rowspan attribute and set it to a variable
        if row.has_attr("rowspan"):
            nrows = row["rowspan"]
            # Get each link within that cell
            cells = row.findAll('a')
            # If year is all in one link and in a format like 1927/28 then we want the first two and last two charaters so 
            # that it will be 1928
            if(len(cells[0].find(text=True)) == 7):
                year = cells[0].find(text=True)[0:2] + cells[0].find(text=True)[5:7]
            # If year is in two links and the second link has four numbers ie. 1927/1928 then we want the second link
            elif(len(cells[1].find(text=True)) == 4):       
                if (cells[1].find(text=True).isnumeric()):
                    year = cells[1].find(text=True)
            # If the year is in two links and the second link has two numbers ie. 1927/28 then we want the first two characters
            # of the first link and the last two of the second link
            elif(len(cells[1].find(text=True)) == 2):
                if (cells[1].find(text=True).isnumeric()):
                    year = cells[0].find(text=True)[0:2] + cells[1].find(text=True)
            # Else the year is in a standard format ie. 1928 so get four characters
            else:
                year = cells[0].find(text=True)[0:4]
            # Add year and nrows to dataframe
            df_yearRows.loc[df_yearRows.shape[0]] = [year,nrows]
            # Add year to list of years
            years.append(int(year))
        
    # Next we want information about each film. Find all table rows
    for row in tables[i].findAll("tr"):
        # Variable to determine whether or not film is an Oscar winner. Default value is false
        isWinner = False
        # Check each row has a style attribute, then check it starts with the winnerStyle ie. 'background:#FAEB86' or 
        # 'background:#FAEB86;'. If it is then it is an Oscar winner so set isWinner to true
        if row.has_attr("style"):
            if(row["style"].startswith(winnerStyle)):
                isWinner = True
        # Get each cell within that row
        cells = row.findAll('td')
        # Get the text from within the first cell, encode it to utf-8 and add it to the films list
        if(len(cells) > 1):        
            film = cells[0].find(text=True).encode('utf-8').strip()
            films.append(film)
            # If true then add the film to the list of winners
            if(isWinner):
                winners.append(film)
            # Get the text from within the second cell - text saved as an array  
            nominee = cells[1].findAll(text=True)
            # If the last index is a line break then remove it from variable
            if(len(nominee) > 1):
                if(nominee[len(nominee)-1] == '\n'):
                    nominee = nominee[:-1] 
            # If first item ends in a line break then remove it
            if (nominee[0].endswith("\n")):
                nominee = nominee[0][0:-1]
            # Join all the text to a single string and append it to the list of nominees
            nominees.append("".join(nominee).encode('utf-8').strip() )

In [6]:
# Check the length of each lists. Nominees and films are the same length
print(len(years))
print(len(nominees))
print(len(films))

90
562
562

In [7]:
# Data frame to store the following information - year, film, nominees and whether or not it is an Oscar winner
df_picture = pd.DataFrame(columns = ["Year","Film","Nominee","Winner"])
# Variable to track the list index to start from - 0 to start with
start = 0
# Iterate through each row of data frame and get the year and number of films for each row
for index, row in df_yearRows.iterrows():
    year = row["Year"]
    numFilms = pd.to_numeric(row["Rows"])
    # Variable to track index to stop at - the number of films - 1
    end = start + numFilms-1
    # Loop through from start up to the end and for each index get the respective film and nominee
    for i in range(start, end):
        # Variable to determine whether or not film is an Oscar winner - default value is "No"
        isWinner = "No"
        film = films[i]
        nominee = nominees[i]
        # If the film is in the list of winners then set variable to "Yes"
        if film in winners:
            isWinner = "Yes" 
            # We then want to find the key that stores that film so we can delete it. This is necessary in case of 
            # remakes of previous winners eg. "Mutiny on the Bounty"
            for key, value in enumerate(winners):
                if value == film:
                    del winners[key]
                    break
        # Append all variable to data frame
        df_picture.loc[df_picture.shape[0]] = [year, film, nominee, isWinner]
    # Increment start 
    start = start+numFilms-1
# Print data frame to show each Oscar winner
df_picture.loc[df_picture["Winner"] == "Yes"]

,Year,Film,Nominee,Winner
0,1928,Wings,Paramount Famous Lasky,Yes
3,1929,The Broadway Melody,Metro-Goldwyn-Mayer,Yes
8,1930,All Quiet on the Western Front,Universal,Yes
13,1931,Cimarron,RKO Radio,Yes
18,1932,Grand Hotel,Metro-Goldwyn-Mayer,Yes
26,1933,Cavalcade,Fox,Yes
36,1934,It Happened One Night,Columbia,Yes
48,1935,Mutiny on the Bounty,Metro-Goldwyn-Mayer,Yes
60,1936,The Great Ziegfeld,Metro-Goldwyn-Mayer,Yes
70,1937,The Life of Emile Zola,Warner Bros.,Yes
80,1938,You Can't Take It with You,Columbia,Yes
90,1939,Gone with the Wind,Selznick International Pictures,Yes
100,1940,Rebecca,Selznick International Pictures,Yes
110,1941,How Green Was My Valley,20th Century-Fox,Yes
120,1942,Mrs. Miniver,Metro-Goldwyn-Mayer,Yes
130,1943,Casablanca,Warner Bros.,Yes
140,1944,Going My Way,Paramount,Yes
145,1945,The Lost Weekend,Paramount,Yes
150,1946,The Best Years of Our Lives,Samuel Goldwyn Productions,Yes
155,1947,Gentleman's Agreement,20th Century-Fox,Yes
160,1948,Hamlet,J. Arthur Rank-Two Cities Films,Yes
165,1949,All the King's Men,Robert Rossen Productions,Yes
170,1950,All About Eve,20th Century-Fox,Yes
175,1951,An American in Paris,Arthur Freed,Yes
180,1952,The Greatest Show on Earth,Cecil B. DeMille,Yes
185,1953,From Here to Eternity,Buddy Adler,Yes
190,1954,On the Waterfront,Sam Spiegel,Yes
195,1955,Marty,Harold Hecht,Yes
200,1956,Around the World in 80 Days,Michael Todd,Yes
205,1957,The Bridge on the River Kwai,Sam Spiegel,Yes
...,...,...,...,...
360,1988,Rain Man,Mark Johnson,Yes
365,1989,Driving Miss Daisy,Richard D. Zanuck and Lili Fini Zanuck,Yes
370,1990,Dances with Wolves,Jim Wilson and Kevin Costner,Yes
375,1991,The Silence of the Lambs,"Edward Saxon, Kenneth Utt, and Ron Bozman",Yes
380,1992,Unforgiven,Clint Eastwood,Yes
385,1993,Schindler's List,"Steven Spielberg, Gerald R. Molen, and Branko ...",Yes
390,1994,Forrest Gump,"Wendy Finerman, Steve Tisch, and Steve Starkey",Yes
395,1995,Braveheart,"Mel Gibson, Alan Ladd Jr., and Bruce Davey",Yes
400,1996,The English Patient,Saul Zaentz,Yes
405,1997,Titanic,James Cameron and Jon Landau,Yes
410,1998,Shakespeare in Love,"David Parfitt, Donna Gigliotti, Harvey Weinste...",Yes
415,1999,American Beauty,Bruce Cohen and Dan Jinks,Yes
420,2000,Gladiator,"Douglas Wick, David Franzoni, and Branko Lustig",Yes
425,2001,A Beautiful Mind,Brian Grazer and Ron Howard,Yes
430,2002,Chicago,Martin Richards,Yes
435,2003,The Lord of the Rings: The Return of the King,"Barrie M. Osborne, Peter Jackson, and Fran Walsh",Yes
440,2004,Million Dollar Baby,"Clint Eastwood, Albert S. Ruddy, and Tom Rosen...",Yes
445,2005,Crash,Paul Haggis and Cathy Schulman,Yes
450,2006,The Departed,Graham King,Yes
455,2007,No Country for Old Men,"Scott Rudin, Joel Coen, and Ethan Coen",Yes
460,2008,Slumdog Millionaire,Christian Colson,Yes
465,2009,The Hurt Locker,"Kathryn Bigelow, Mark Boal, Nicolas Chartier, ...",Yes
475,2010,The King's Speech,"Iain Canning, Emile Sherman, and Gareth Unwin",Yes
485,2011,The Artist,Thomas Langmann,Yes
494,2012,Argo,"Grant Heslov, Ben Affleck, and George Clooney",Yes
503,2013,12 Years a Slave,"Brad Pitt, Dede Gardner, Jeremy Kleiner, Steve...",Yes
512,2014,Birdman or (The Unexpected Virtue of Ignorance),"Alejandro G. Iñárritu, John Lesher, and James ...",Yes
520,2015,Spotlight,"Blye Pagon Faust, Steve Golin, Nicole Rocklin,...",Yes
528,2016,Moonlight,"Adele Romanski, Dede Gardner, and Jeremy Kleiner",Yes
537,2017,The Shape of Water,Guillermo del Toro and J. Miles Dale,Yes

In [8]:
# Page2 - Best Director
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Director")
tables = data.findAll("table", class_= "wikitable sortable")

In [9]:
# Here we extract each film, director and year - All subsequent pages follow the a similar process
# Create empty lists for each film, director and year
films = []
directors = []
years = []
# We use a dictionary to store both the film and the director
winners = {'director': [], 'film': []}
# Dataframe will be used to store each year along with the number of rows it covers ie. the rowspan
df_yearRows = pd.DataFrame(columns = ["Year","Rows"])

# First get the year. Search the table for all table headers with the scope "row"
for row in tables[0].findAll("th", scope="row"):
    # Check that cell has a rowspan attribute and set it to a variable
    if row.has_attr("rowspan"):
        nrows = row["rowspan"]
        # Get each link within that cell
        cells = row.findAll('a')
        # If year is all in one link and in a format like 1927/28 then we want the first two and last two charaters so that 
        # it will be 1928
        if(len(cells[0].find(text=True)) == 7):
            year = cells[0].find(text=True)[0:2] + cells[0].find(text=True)[5:7]
        # If year is in two links and the second link has four numbers ie. 1927/1928 then we want the second link
        elif(len(cells[1].find(text=True)) == 4):       
            if (cells[1].find(text=True).isnumeric()):
                year = cells[1].find(text=True)
        # If the year is in two links and the second link has two numbers ie. 1927/28 then we want the first two characters 
        # of the first link and the last two of the second link
        elif(len(cells[1].find(text=True)) == 2):
            if (cells[1].find(text=True).isnumeric()):
                year = cells[0].find(text=True)[0:2] + cells[1].find(text=True)
        # Else the year is in a standard format ie. 1928 so get four characters
        else:
            year = cells[0].find(text=True)[0:4]
        # Add year and nrows to dataframe
        df_yearRows.loc[df_yearRows.shape[0]] = [year,nrows]
        # Add year to list of years
        years.append(int(year))

# Next we want information about each film. Find all table rows
for row in tables[0].findAll("tr"):
    # Get each cell within that row
    cells = row.findAll('td')   
    # Get the text from within the first cell, encode it to utf-8 and add it to the films list
    if(len(cells) > 1):
        # Variable to determine whether or not it is an Oscar winner - default is false
        isWinner = False
        # # Check each row has a style attribute, then check it starts with the winnerStyle ie. 'background:#FAEB86' or 
        # 'background:#FAEB86;'. If it does then set isWinner to true
        if(cells[0].has_attr("style")):  
            if(cells[0]["style"].startswith(winnerStyle)):
                isWinner = True
        # Get all text from the first cell. We don't want the last part as this has "\n" characters
        director = cells[0].findAll(text=True)[:-1]
        # Join together array into a string and add to list of directors
        director = "".join(director).encode('utf-8').strip()
        directors.append(director)        
        # Get the text from within the second cell, encode it and add it to the list of nominees    
        film = cells[1].find(text=True).encode('utf-8').strip() 
        films.append(film) 
        # If it is an Oscar winner add it to list
        if(isWinner):
            winners['director'].append(director)
            winners['film'].append(film)
    # In case a director has more than one film nominated, get all films in cell  
    elif(len(cells) == 1):
        if cells[0].has_attr("rowspan") == False and cells[0].has_attr("colspan") == False:
            film = cells[0].find(text=True).encode('utf-8').strip() 
            films.append(film)

In [10]:
# Check the length of each list. Directors and films are not the same. This is because in the years 1929, 1930 and 1938 a 
# director was twice nominated
print(len(years))
print(len(directors))
print(len(films))

90
442
445

In [11]:
# Lets amend this by inserting the necessary director at each position
directors.insert(45, directors[44])
directors.insert(13, directors[12])
directors.insert(10, directors[9])

In [12]:
# Now they are the same length
print(len(years))
print(len(directors))
print(len(films))

90
445
445

In [13]:
df_directors = pd.DataFrame(columns = ["Year","Director","Film","Winner"])
start = 0
for index, row in df_yearRows.iterrows():
    year = row["Year"]
    numFilms = pd.to_numeric(row["Rows"])
    end = start + numFilms   
    for i in range(start, end):      
        isWinner = "No"
        film = films[i]
        director = directors[i]
        if director in winners['director'] and film in winners['film']:
            isWinner = "Yes" 
            for key, value in enumerate(winners):
                if value == film:
                    del winners[key]
                    break          
        df_directors.loc[df_directors.shape[0]] = [year,director,film,isWinner]
    start = start + numFilms
df_directors.loc[df_directors['Winner'] == "Yes"]

,Year,Director,Film,Winner
0,1928,Frank Borzage (Dramatic),7th Heaven,Yes
3,1928,Lewis Milestone (Comedy),Two Arabian Knights,Yes
5,1929,Frank Lloyd,The Divine Lady,Yes
12,1930,Lewis Milestone,All Quiet on the Western Front,Yes
18,1931,Norman Taurog,Skippy,Yes
23,1932,Frank Borzage,Bad Girl,Yes
26,1933,Frank Lloyd,Cavalcade,Yes
29,1934,Frank Capra,It Happened One Night,Yes
32,1935,John Ford,The Informer,Yes
35,1936,Frank Capra,Mr. Deeds Goes to Town,Yes
40,1937,Leo McCarey,The Awful Truth,Yes
45,1938,Frank Capra,You Can't Take It with You,Yes
50,1939,Victor Fleming,Gone with the Wind,Yes
55,1940,John Ford,The Grapes of Wrath,Yes
60,1941,John Ford,How Green Was My Valley,Yes
65,1942,William Wyler,Mrs. Miniver,Yes
70,1943,Michael Curtiz,Casablanca,Yes
75,1944,Leo McCarey,Going My Way,Yes
80,1945,Billy Wilder,The Lost Weekend,Yes
85,1946,William Wyler,The Best Years of Our Lives,Yes
90,1947,Elia Kazan,Gentleman's Agreement,Yes
95,1948,John Huston,The Treasure of the Sierra Madre,Yes
100,1949,Joseph L. Mankiewicz,A Letter to Three Wives,Yes
105,1950,Joseph L. Mankiewicz,All About Eve,Yes
110,1951,George Stevens,A Place in the Sun,Yes
115,1952,John Ford,The Quiet Man,Yes
120,1953,Fred Zinnemann,From Here to Eternity,Yes
125,1954,Elia Kazan,On the Waterfront,Yes
130,1955,Delbert Mann,Marty,Yes
135,1956,George Stevens,Giant,Yes
...,...,...,...,...
295,1988,Barry Levinson,Rain Man,Yes
300,1989,Oliver Stone,Born on the Fourth of July,Yes
305,1990,Kevin Costner,Dances with Wolves,Yes
310,1991,Jonathan Demme,The Silence of the Lambs,Yes
315,1992,Clint Eastwood,Unforgiven,Yes
320,1993,Steven Spielberg,Schindler's List,Yes
325,1994,Robert Zemeckis,Forrest Gump,Yes
330,1995,Mel Gibson,Braveheart,Yes
335,1996,Anthony Minghella,The English Patient,Yes
340,1997,James Cameron,Titanic,Yes
345,1998,Steven Spielberg,Saving Private Ryan,Yes
350,1999,Sam Mendes,American Beauty,Yes
355,2000,Steven Soderbergh,Traffic,Yes
360,2001,Ron Howard,A Beautiful Mind,Yes
365,2002,Roman Polanski,The Pianist,Yes
370,2003,Peter Jackson,The Lord of the Rings: The Return of the King,Yes
375,2004,Clint Eastwood,Million Dollar Baby,Yes
380,2005,Ang Lee,Brokeback Mountain,Yes
385,2006,Martin Scorsese,The Departed,Yes
390,2007,Coen Brothers,No Country for Old Men,Yes
395,2008,Danny Boyle,Slumdog Millionaire,Yes
400,2009,Kathryn Bigelow,The Hurt Locker,Yes
405,2010,Tom Hooper,The King's Speech,Yes
410,2011,Michel Hazanavicius,The Artist,Yes
415,2012,Ang Lee,Life of Pi,Yes
420,2013,Alfonso Cuarón,Gravity,Yes
425,2014,Alejandro G. Iñárritu,Birdman,Yes
430,2015,Alejandro G. Iñárritu,The Revenant,Yes
435,2016,Damien Chazelle,La La Land,Yes
440,2017,Guillermo del Toro,The Shape of Water,Yes

In [14]:
# Now check the years 1929, 1930 and 1938 and see the directors twice nominated
df_directors["Year"] = df_directors["Year"].astype(int)
df_directors.loc[(df_directors['Year'].isin([1929, 1930, 1938])) & (df_directors['Winner'] == "No")]

    Year           Director                     Film Winner
6   1929   Lionel Barrymore                 Madame X     No
7   1929     Harry Beaumont      The Broadway Melody     No
8   1929    Irving Cummings           In Old Arizona     No
9   1929        Frank Lloyd                     Drag     No
10  1929        Frank Lloyd              Weary River     No
11  1929     Ernst Lubitsch              The Patriot     No
13  1930     Clarence Brown            Anna Christie     No
14  1930     Clarence Brown                  Romance     No
15  1930  Robert Z. Leonard             The Divorcee     No
16  1930     Ernst Lubitsch          The Love Parade     No
17  1930         King Vidor              Hallelujah!     No
46  1938     Michael Curtiz  Angels with Dirty Faces     No
47  1938     Michael Curtiz           Four Daughters     No
48  1938      Norman Taurog                Boys Town     No
49  1938         King Vidor              The Citadel     No

In [15]:
# Page 3- Best Actor
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor")
tables = data.findAll("table", class_= "wikitable sortable")

In [16]:
# Here we extract each actor, film and year
films =[]
actors = []
years = []
winners = {'actor' : [], 'film' : [] }
df_yearRows = pd.DataFrame(columns = ["Year","Rows"])

for row in tables[0].findAll("th", scope="row"):
    if row.has_attr("rowspan"):
        nrows = row["rowspan"]
        cells = row.findAll('a')     
        if(len(cells[0].find(text=True)) == 7):
            year = cells[0].find(text=True)[0:2] + cells[0].find(text=True)[5:7]
        elif(len(cells[1].find(text=True)) == 4):       
            if (cells[1].find(text=True).isnumeric()):
                year = cells[1].find(text=True)  
        elif(len(cells[1].find(text=True)) == 2):
            if (cells[1].find(text=True).isnumeric()):
                year = cells[0].find(text=True)[0:2] + cells[1].find(text=True)
        else:
            year = cells[0].find(text=True)[0:4]
        df_yearRows.loc[df_yearRows.shape[0]] = [year,nrows]
        years.append(int(year))
    
for row in tables[0].findAll("tr"):
    cells = row.findAll("td")    
    index = 0
    if(len(cells) > 1):  
        isWinner = False
        if(cells[0].has_attr("style")):  
            if(cells[0]["style"].startswith(winnerStyle)):
                isWinner = True
    for c in cells:
        links = c.findAll("a")
        for l in links:
            if(l.has_attr('title')):
                if(index == 0): 
                    actor = l.find(text=True).encode('utf-8').strip()
                    actors.append(actor)
                elif(index == 2): 
                    film = l.find(text=True).encode('utf-8').strip()
                    films.append(film)
                    if isWinner:
                        winners['actor'].append(actor)
                        winners['film'].append(film)
        index = index+1

In [17]:
# Check the length of the lists. Actors and films are not equal. This is due to several years having actors nominated for multiple
# films and serveral films having multiple actors nominated
print(len(years))
print(len(actors))
print(len(films))

90
442
441

In [18]:
# To amend this we have to insert several times in both lists
actors.insert(1, actors[0])
actors.insert(3, actors[2])
actors.insert(13, actors[12])
actors.insert(15, actors[14])
films.insert(33, films[32])
films.insert(125, films[124])
films.insert(178, films[177])
films.insert(218, films[217])
films.insert(275, films[274])

In [19]:
# Now they are the same length
print(len(years))
print(len(actors))
print(len(films))

90
446
446

In [20]:
# Because of the actors inserted, the rowcount needs to be updated for the years 1928 and 1930. We increment the 
# current value by 2
print("before increment", int(df_yearRows.loc[0, ["Rows"]][0]))
df_yearRows.set_value(0, 'Rows', int(df_yearRows.loc[0, ["Rows"]][0]) +2)
print("after increment", int(df_yearRows.loc[0, ["Rows"]][0]))

print("before increment", int(df_yearRows.loc[2, ["Rows"]][0]))
df_yearRows.set_value(2, 'Rows', int(df_yearRows.loc[2, ["Rows"]][0]) +2)
print("before increment", int(df_yearRows.loc[2, ["Rows"]][0]))

('before increment', 2)
('after increment', 4)
('before increment', 6)
('before increment', 8)

In [21]:
df_actors = pd.DataFrame(columns = ["Year","Actor","Film","Winner"])
start = 0
for index, row in df_yearRows.iterrows():
    year = row["Year"]
    numFilms = pd.to_numeric(row["Rows"])
    end = start + numFilms   
    for i in range(start, end):  
        isWinner = "No"
        actor = actors[i]   
        film = films[i]
        # If both the actor and the film are in the list of winners then set variable to "Yes"
        if actor in winners['actor'] and film in winners['film']:
            isWinner = "Yes" 
            # We then want to find the key that stores that actor so we can delete it and the film. This is necessary in 
            # case of a remake of a previous Oscar winning film eg. "True Grit" or a previous Oscar winner being nominated
            # for a film that another actor won eg. Spencer Tracey for "Judgement at Nurenberg" in 1961
            for key, value in enumerate(winners['actor']):
                if value == actor:
                    del winners['actor'][key]
                    del winners['film'][key]
                    break
        df_actors.loc[df_actors.shape[0]] = [year,actor,film,isWinner]
    start = start + numFilms
df_actors.loc[df_actors['Winner'] == "Yes"]

     Year                   Actor                            Film Winner
0    1928           Emil Jannings                The Last Command    Yes
1    1928           Emil Jannings            The Way of All Flesh    Yes
4    1929           Warner Baxter                  In Old Arizona    Yes
9    1930           George Arliss                        Disraeli    Yes
17   1931        Lionel Barrymore                     A Free Soul    Yes
22   1932           Wallace Beery                       The Champ    Yes
23   1932           Fredric March         Dr. Jekyll and Mr. Hyde    Yes
25   1933        Charles Laughton  The Private Life of Henry VIII    Yes
28   1934             Clark Gable           It Happened One Night    Yes
31   1935         Victor McLaglen                    The Informer    Yes
36   1936               Paul Muni      The Story of Louis Pasteur    Yes
41   1937           Spencer Tracy             Captains Courageous    Yes
46   1938           Spencer Tracy                       Boys Town    Yes
51   1939            Robert Donat              Goodbye, Mr. Chips    Yes
56   1940           James Stewart          The Philadelphia Story    Yes
61   1941             Gary Cooper                   Sergeant York    Yes
66   1942            James Cagney             Yankee Doodle Dandy    Yes
71   1943              Paul Lukas              Watch on the Rhine    Yes
76   1944             Bing Crosby                    Going My Way    Yes
81   1945             Ray Milland                The Lost Weekend    Yes
86   1946           Fredric March     The Best Years of Our Lives    Yes
91   1947           Ronald Colman                   A Double Life    Yes
96   1948        Laurence Olivier                          Hamlet    Yes
101  1949      Broderick Crawford              All the King's Men    Yes
106  1950             José Ferrer              Cyrano de Bergerac    Yes
111  1951         Humphrey Bogart               The African Queen    Yes
116  1952             Gary Cooper                       High Noon    Yes
121  1953          William Holden                       Stalag 17    Yes
126  1954           Marlon Brando               On the Waterfront    Yes
131  1955         Ernest Borgnine                           Marty    Yes
..    ...                     ...                             ...    ...
296  1988          Dustin Hoffman                        Rain Man    Yes
301  1989        Daniel Day-Lewis                    My Left Foot    Yes
306  1990            Jeremy Irons             Reversal of Fortune    Yes
311  1991         Anthony Hopkins        The Silence of the Lambs    Yes
316  1992               Al Pacino                Scent of a Woman    Yes
321  1993               Tom Hanks                    Philadelphia    Yes
326  1994               Tom Hanks                    Forrest Gump    Yes
331  1995            Nicolas Cage               Leaving Las Vegas    Yes
336  1996           Geoffrey Rush                           Shine    Yes
341  1997          Jack Nicholson              As Good as It Gets    Yes
346  1998         Roberto Benigni               Life Is Beautiful    Yes
351  1999            Kevin Spacey                 American Beauty    Yes
356  2000           Russell Crowe                       Gladiator    Yes
361  2001       Denzel Washington                    Training Day    Yes
366  2002            Adrien Brody                     The Pianist    Yes
371  2003               Sean Penn                    Mystic River    Yes
376  2004              Jamie Foxx                             Ray    Yes
381  2005  Philip Seymour Hoffman                          Capote    Yes
386  2006         Forest Whitaker       The Last King of Scotland    Yes
391  2007        Daniel Day-Lewis             There Will Be Blood    Yes
396  2008               Sean Penn                            Milk    Yes
401  2009            Jeff Bridges                     Crazy Heart    Yes
406  2010             Colin Firth               The King's Speech    Yes
411  2011           Jean Dujardin                      The Artist    Yes
416  2012        Daniel Day-Lewis                         Lincoln    Yes
421  2013     Matthew McConaughey              Dallas Buyers Club    Yes
426  2014          Eddie Redmayne        The Theory of Everything    Yes
431  2015       Leonardo DiCaprio                    The Revenant    Yes
436  2016           Casey Affleck           Manchester by the Sea    Yes
441  2017             Gary Oldman                    Darkest Hour    Yes

[92 rows x 4 columns]

In [22]:
# Now check the years 1928 and 1930 and see the actors that were twice nominated
df_actors["Year"] = df_actors["Year"].astype(int)
df_actors.loc[(df_actors["Year"].isin([1928, 1930])) & (df_actors["Winner"] == "No")]

    Year                Actor                    Film Winner
2   1928  Richard Barthelmess               The Noose     No
3   1928  Richard Barthelmess  The Patent Leather Kid     No
10  1930        George Arliss       The Green Goddess     No
11  1930        Wallace Beery           The Big House     No
12  1930    Maurice Chevalier            The Big Pond     No
13  1930    Maurice Chevalier         The Love Parade     No
14  1930        Ronald Colman        Bulldog Drummond     No
15  1930        Ronald Colman               Condemned     No
16  1930     Lawrence Tibbett          The Rogue Song     No

In [23]:
# Now check the years inserted and see that multiple actor nominations for the same films
years = [1935, 1953, 1964, 1972, 1983]
df_actors.loc[(df_actors["Year"].isin(years)) & (df_actors["Winner"] == "No")]

     Year             Actor                   Film Winner
32   1935       Clark Gable   Mutiny on the Bounty     No
33   1935  Charles Laughton   Mutiny on the Bounty     No
34   1935         Paul Muni             Black Fury     No
35   1935     Franchot Tone   Mutiny on the Bounty     No
122  1953     Marlon Brando          Julius Caesar     No
123  1953    Richard Burton               The Robe     No
124  1953  Montgomery Clift  From Here to Eternity     No
125  1953    Burt Lancaster  From Here to Eternity     No
177  1964    Richard Burton                 Becket     No
178  1964     Peter O'Toole                 Becket     No
179  1964     Anthony Quinn        Zorba the Greek     No
180  1964     Peter Sellers        Dr. Strangelove     No
217  1972     Michael Caine                 Sleuth     No
218  1972  Laurence Olivier                 Sleuth     No
219  1972     Peter O'Toole       The Ruling Class     No
220  1972     Paul Winfield                Sounder     No
272  1983     Michael Caine         Educating Rita     No
273  1983         Tom Conti         Reuben, Reuben     No
274  1983     Tom Courtenay            The Dresser     No
275  1983     Albert Finney            The Dresser     No

In [24]:
# Page 4 - Best Actress
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actress")
tables = data.findAll("table", class_= "wikitable sortable")

In [25]:
# Here we extract each actress, film and year
films =[]
actresses = []
years = []
winners = {'actress' : [], 'film' : [] }
df_yearRows = pd.DataFrame(columns = ["Year","Rows"])

for row in tables[0].findAll("th", scope="row"):
    if row.has_attr("rowspan"):
        nrows = row["rowspan"]
        cells = row.findAll('a')     
        if(len(cells[0].find(text=True)) == 7):
            year = cells[0].find(text=True)[0:2] + cells[0].find(text=True)[5:7]
        elif(len(cells[1].find(text=True)) == 4):       
            if (cells[1].find(text=True).isnumeric()):
                year = cells[1].find(text=True)  
        elif(len(cells[1].find(text=True)) == 2):
            if (cells[1].find(text=True).isnumeric()):
                year = cells[0].find(text=True)[0:2] + cells[1].find(text=True)
        else:
            year = cells[0].find(text=True)[0:4]
        df_yearRows.loc[df_yearRows.shape[0]] = [year,nrows]
        years.append(int(year))
    
for row in tables[0].findAll("tr"):
    cells = row.findAll("td")    
    index = 0
    if(len(cells) > 1):  
        isWinner = False
        if(cells[0].has_attr("style")):  
            if(cells[0]["style"].startswith(winnerStyle)):
                isWinner = True
    for c in cells:
        links = c.findAll("a")
        for l in links:
            if(l.has_attr('title')):
                if(index == 0): 
                    actress = l.find(text=True).encode('utf-8').strip()
                    actresses.append(actress)                    
                elif(index == 2): 
                    film = l.find(text=True).encode('utf-8').strip()
                    films.append(film)
                    if isWinner:
                        winners['actress'].append(actress)
                        winners['film'].append(film)
        index = index+1

In [26]:
# Check the lengths of the lists. They are not the same. The reasons for this are 
# 1. The same actress receiving multiple nominations for different films in the same year
# 2. Different actresses receiving nominations for the same film
print(len(years))
print(len(actresses))
print(len(films))

90
446
447

In [27]:
actresses.insert(1, actresses[0])
actresses.insert(2, actresses[0])
actresses.insert(15, actresses[14])
films.insert(111, films[110])
films.insert(158, films[157])

In [28]:
# Now they are the same length
print(len(years))
print(len(actresses))
print(len(films))

90
449
449

In [29]:
# Because of the actresses inserted, the rowcount needs to be updated for the years 1928 and 1930.
print("before increment", int(df_yearRows.loc[0, ["Rows"]][0]))
df_yearRows.set_value(0, 'Rows', int(df_yearRows.loc[0, ["Rows"]][0]) +2)
print("after increment",  int(df_yearRows.loc[0, ["Rows"]][0]))

print("before increment", int(df_yearRows.loc[2, ["Rows"]][0]))
df_yearRows.set_value(2, 'Rows', int(df_yearRows.loc[2, ["Rows"]][0]) +1)
print("after increment",  int(df_yearRows.loc[2, ["Rows"]][0]))

('before increment', 3)
('after increment', 5)
('before increment', 6)
('after increment', 7)

In [30]:
df_actresses = pd.DataFrame(columns = ["Year","Actress","Film","Winner"])
start = 0
for index, row in df_yearRows.iterrows():
    year = row["Year"]
    numFilms = pd.to_numeric(row["Rows"])
    end = start + numFilms   
    for i in range(start, end): 
        isWinner = "No"
        actress = actresses[i]   
        film = films[i]        
        if actress in winners['actress'] and film in winners['film']:
            isWinner = "Yes"    
            for key, value in enumerate(winners['actress']):
                if value == actress:
                    del winners['actress'][key]
                    del winners['film'][key]
                    break
        df_actresses.loc[df_actresses.shape[0]] = [year,actress,film,isWinner]
    start = start + numFilms
# Print dataframe and look at the first 3 rows which have the same actress
df_actresses.loc[df_actresses["Winner"] == "Yes"]

,Year,Actress,Film,Winner
0,1928,Janet Gaynor,7th Heaven,Yes
1,1928,Janet Gaynor,Street Angel,Yes
2,1928,Janet Gaynor,Sunrise: A Song of Two Humans,Yes
5,1929,Mary Pickford,Coquette,Yes
11,1930,Norma Shearer,The Divorcee,Yes
18,1931,Marie Dressler,Min and Bill,Yes
23,1932,Helen Hayes,The Sin of Madelon Claudet,Yes
26,1933,Katharine Hepburn,Morning Glory,Yes
29,1934,Claudette Colbert,It Happened One Night,Yes
33,1935,Bette Davis,Dangerous,Yes
39,1936,Luise Rainer,The Great Ziegfeld,Yes
44,1937,Luise Rainer,The Good Earth,Yes
49,1938,Bette Davis,Jezebel,Yes
54,1939,Vivien Leigh,Gone with the Wind,Yes
59,1940,Ginger Rogers,Kitty Foyle,Yes
64,1941,Joan Fontaine,Suspicion,Yes
69,1942,Greer Garson,Mrs. Miniver,Yes
74,1943,Jennifer Jones,The Song of Bernadette,Yes
79,1944,Ingrid Bergman,Gaslight,Yes
84,1945,Joan Crawford,Mildred Pierce,Yes
89,1946,Olivia de Havilland,To Each His Own,Yes
94,1947,Loretta Young,The Farmer's Daughter,Yes
99,1948,Jane Wyman,Johnny Belinda,Yes
104,1949,Olivia de Havilland,The Heiress,Yes
109,1950,Judy Holliday,Born Yesterday,Yes
114,1951,Vivien Leigh,A Streetcar Named Desire,Yes
119,1952,Shirley Booth,"Come Back, Little Sheba",Yes
124,1953,Audrey Hepburn,Roman Holiday,Yes
129,1954,Grace Kelly,The Country Girl,Yes
134,1955,Anna Magnani,The Rose Tattoo,Yes
...,...,...,...,...
299,1988,Jodie Foster,The Accused,Yes
304,1989,Jessica Tandy,Driving Miss Daisy,Yes
309,1990,Kathy Bates,Misery,Yes
314,1991,Jodie Foster,The Silence of the Lambs,Yes
319,1992,Emma Thompson,Howards End,Yes
324,1993,Holly Hunter,The Piano,Yes
329,1994,Jessica Lange,Blue Sky,Yes
334,1995,Susan Sarandon,Dead Man Walking,Yes
339,1996,Frances McDormand,Fargo,Yes
344,1997,Helen Hunt,As Good as It Gets,Yes
349,1998,Gwyneth Paltrow,Shakespeare in Love,Yes
354,1999,Hilary Swank,Boys Don't Cry,Yes
359,2000,Julia Roberts,Erin Brockovich,Yes
364,2001,Halle Berry,Monster's Ball,Yes
369,2002,Nicole Kidman,The Hours,Yes
374,2003,Charlize Theron,Monster,Yes
379,2004,Hilary Swank,Million Dollar Baby,Yes
384,2005,Reese Witherspoon,Walk the Line,Yes
389,2006,Helen Mirren,The Queen,Yes
394,2007,Marion Cotillard,La Vie en Rose,Yes
399,2008,Kate Winslet,The Reader,Yes
404,2009,Sandra Bullock,The Blind Side,Yes
409,2010,Natalie Portman,Black Swan,Yes
414,2011,Meryl Streep,The Iron Lady,Yes
419,2012,Jennifer Lawrence,Silver Linings Playbook,Yes
424,2013,Cate Blanchett,Blue Jasmine,Yes
429,2014,Julianne Moore,Still Alice,Yes
434,2015,Brie Larson,Room,Yes
439,2016,Emma Stone,La La Land,Yes
444,2017,Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Yes

In [31]:
# Now check the year 1930 and see Greta Garbo received two nominations
df_actresses["Year"] = df_actresses["Year"].astype(int)
df_actresses.loc[(df_actresses["Year"] == 1930) & (df_actresses["Winner"] == "No")]

    Year          Actress                 Film Winner
12  1930    Nancy Carroll  The Devil's Holiday     No
13  1930  Ruth Chatterton        Sarah and Son     No
14  1930      Greta Garbo        Anna Christie     No
15  1930      Greta Garbo              Romance     No
16  1930    Norma Shearer     Their Own Desire     No
17  1930   Gloria Swanson       The Trespasser     No

In [32]:
# Now check the years 1950 and 1959 and see that multiple actress nominations for the same films
df_actresses.loc[(df_actresses["Year"].isin([1950, 1959])) & (df_actresses["Winner"] == "No")]

     Year            Actress                   Film Winner
110  1950        Anne Baxter          All About Eve     No
111  1950        Bette Davis          All About Eve     No
112  1950     Eleanor Parker                  Caged     No
113  1950     Gloria Swanson       Sunset Boulevard     No
155  1959          Doris Day            Pillow Talk     No
156  1959     Audrey Hepburn        The Nun's Story     No
157  1959  Katharine Hepburn  Suddenly, Last Summer     No
158  1959   Elizabeth Taylor  Suddenly, Last Summer     No

In [33]:
# Page 5 - Best Supporting Actor
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Supporting_Actor")
tables = data.findAll("table", class_= "wikitable sortable")

In [34]:
# Here we extract each actor, film and year
films =[]
actors = []
years = []
winners = {'actor' : [], 'film' : [] }
df_yearRows = pd.DataFrame(columns = ["Year","Rows"])

# All years are in a four digit format so we dont need to do any formatting
for row in tables[0].findAll("th", scope="row"):
    cells = row.findAll('a')     
    if(len(cells) > 1 and row.has_attr('rowspan')):
        year = cells[0].find(text=True)
        nrows = row['rowspan']
        df_yearRows.loc[df_yearRows.shape[0]] = [year,nrows]
        years.append(int(year))
    
for row in tables[0].findAll("tr"):
    cells = row.findAll("td")    
    index = 0
    if(len(cells) > 1):  
        isWinner = False
        if(cells[0].has_attr("style")):  
            if(cells[0]["style"].startswith(winnerStyle)):
                isWinner = True
    for c in cells:
        links = c.findAll("a")
        for l in links:
            if(l.has_attr('title')):
                if(index == 0): 
                    actor = l.find(text=True).encode('utf-8').strip()
                    actors.append(actor)
                elif(index == 2): 
                    film = l.find(text=True).encode('utf-8').strip()
                    films.append(film)
                    if isWinner:
                        winners['actor'].append(actor)
                        winners['film'].append(film)
        index = index+1

In [35]:
# Check the length of the lists. Actors and films are not the same because in several years multiple actors were nominated for
# the same film
print(len(years))
print(len(actors))
print(len(films))

82
410
399

In [36]:
films.insert(88, films[87])
films.insert(92, films[91])
films.insert(93, films[91])
films.insert(109, films[108])
films.insert(117, films[116])
films.insert(129, films[128])
films.insert(183, films[182])
films.insert(184, films[182])
films.insert(194, films[193])
films.insert(252, films[251])
films.insert(278, films[277])

In [37]:
# Now they are the same length
print(len(years))
print(len(actors))
print(len(films))

82
410
410

In [38]:
df_supActors = pd.DataFrame(columns = ["Year","Actor","Film","Winner"])
start = 0
for index, row in df_yearRows.iterrows():
    year = row["Year"]
    numFilms = pd.to_numeric(row["Rows"])
    end = start + numFilms   
    for i in range(start, end):  
        isWinner = "No"
        actor = actors[i]   
        film = films[i]
        if actor in winners['actor'] and film in winners['film']:
            isWinner = "Yes"  
            for key, value in enumerate(winners['actor']):
                if value == actor:
                    del winners['actor'][key]
                    del winners['film'][key]
                    break
        df_supActors.loc[df_supActors.shape[0]] = [year,actor,film,isWinner]
    start = start + numFilms
df_supActors.loc[df_supActors["Winner"] == "Yes"]

,Year,Actor,Film,Winner
0,1936,Walter Brennan,Come and Get It,Yes
5,1937,Joseph Schildkraut,The Life of Emile Zola,Yes
10,1938,Walter Brennan,Kentucky,Yes
15,1939,Thomas Mitchell,Stagecoach,Yes
20,1940,Walter Brennan,The Westerner,Yes
25,1941,Donald Crisp,How Green Was My Valley,Yes
30,1942,Van Heflin,Johnny Eager,Yes
35,1943,Charles Coburn,The More the Merrier,Yes
40,1944,Barry Fitzgerald,Going My Way,Yes
45,1945,James Dunn,A Tree Grows in Brooklyn,Yes
50,1946,Harold Russell,The Best Years of Our Lives,Yes
55,1947,Edmund Gwenn,Miracle on 34th Street,Yes
60,1948,Walter Huston,The Treasure of the Sierra Madre,Yes
65,1949,Dean Jagger,Twelve O'Clock High,Yes
70,1950,George Sanders,All About Eve,Yes
75,1951,Karl Malden,A Streetcar Named Desire,Yes
80,1952,Anthony Quinn,Viva Zapata!,Yes
85,1953,Frank Sinatra,From Here to Eternity,Yes
90,1954,Edmond O'Brien,The Barefoot Contessa,Yes
95,1955,Jack Lemmon,Mister Roberts,Yes
100,1956,Anthony Quinn,Lust for Life,Yes
105,1957,Red Buttons,Sayonara,Yes
110,1958,Burl Ives,The Big Country,Yes
115,1959,Hugh Griffith,Ben-Hur,Yes
120,1960,Peter Ustinov,Spartacus,Yes
125,1961,George Chakiris,West Side Story,Yes
130,1962,Ed Begley,Sweet Bird of Youth,Yes
135,1963,Melvyn Douglas,Hud,Yes
140,1964,Peter Ustinov,Topkapi,Yes
145,1965,Martin Balsam,A Thousand Clowns,Yes
...,...,...,...,...
260,1988,Kevin Kline,A Fish Called Wanda,Yes
265,1989,Denzel Washington,Glory,Yes
270,1990,Joe Pesci,Goodfellas,Yes
275,1991,Jack Palance,City Slickers,Yes
280,1992,Gene Hackman,Unforgiven,Yes
285,1993,Tommy Lee Jones,The Fugitive,Yes
290,1994,Martin Landau,Ed Wood,Yes
295,1995,Kevin Spacey,The Usual Suspects,Yes
300,1996,Cuba Gooding Jr.,Jerry Maguire,Yes
305,1997,Robin Williams,Good Will Hunting,Yes
310,1998,James Coburn,Affliction,Yes
315,1999,Michael Caine,The Cider House Rules,Yes
320,2000,Benicio del Toro,Traffic,Yes
325,2001,Jim Broadbent,Iris,Yes
330,2002,Chris Cooper,Adaptation.,Yes
335,2003,Tim Robbins,Mystic River,Yes
340,2004,Morgan Freeman,Million Dollar Baby,Yes
345,2005,George Clooney,Syriana,Yes
350,2006,Alan Arkin,Little Miss Sunshine,Yes
355,2007,Javier Bardem,No Country for Old Men,Yes
360,2008,Heath Ledger,The Dark Knight,Yes
365,2009,Christoph Waltz,Inglourious Basterds,Yes
370,2010,Christian Bale,The Fighter,Yes
375,2011,Christopher Plummer,Beginners,Yes
380,2012,Christoph Waltz,Django Unchained,Yes
385,2013,Jared Leto,Dallas Buyers Club,Yes
390,2014,J. K. Simmons,Whiplash,Yes
395,2015,Mark Rylance,Bridge of Spies,Yes
400,2016,Mahershala Ali,Moonlight,Yes
405,2017,Sam Rockwell,"Three Billboards Outside Ebbing, Missouri",Yes

In [39]:
# Now check each of the years that were inserted and see that each one has two or more occurrences of the same film
df_supActors["Year"] = df_supActors["Year"].astype(int)
years = [1953, 1954, 1957, 1959, 1961, 1972, 1974, 1986, 1991]
df_supActors.loc[(df_supActors["Year"].isin(years)) & (df_supActors["Winner"] == "No")]

     Year             Actor                          Film Winner
86   1953      Eddie Albert                 Roman Holiday     No
87   1953   Brandon deWilde                         Shane     No
88   1953      Jack Palance                         Shane     No
89   1953    Robert Strauss                     Stalag 17     No
91   1954       Lee J. Cobb             On the Waterfront     No
92   1954       Karl Malden             On the Waterfront     No
93   1954       Rod Steiger             On the Waterfront     No
94   1954         Tom Tully              The Caine Mutiny     No
106  1957  Vittorio De Sica            A Farewell to Arms     No
107  1957   Sessue Hayakawa  The Bridge on the River Kwai     No
108  1957    Arthur Kennedy                  Peyton Place     No
109  1957      Russ Tamblyn                  Peyton Place     No
116  1959  Arthur O'Connell           Anatomy of a Murder     No
117  1959   George C. Scott           Anatomy of a Murder     No
118  1959     Robert Vaughn      The Young Philadelphians     No
119  1959           Ed Wynn       The Diary of Anne Frank     No
126  1961  Montgomery Clift         Judgment at Nuremberg     No
127  1961        Peter Falk         Pocketful of Miracles     No
128  1961    Jackie Gleason                   The Hustler     No
129  1961   George C. Scott                   The Hustler     No
181  1972      Eddie Albert            The Heartbreak Kid     No
182  1972        James Caan                 The Godfather     No
183  1972     Robert Duvall                 The Godfather     No
184  1972         Al Pacino                 The Godfather     No
191  1974      Fred Astaire          The Towering Inferno     No
192  1974      Jeff Bridges     Thunderbolt and Lightfoot     No
193  1974  Michael V. Gazzo         The Godfather Part II     No
194  1974     Lee Strasberg         The Godfather Part II     No
251  1986      Tom Berenger                       Platoon     No
252  1986      Willem Dafoe                       Platoon     No
253  1986   Denholm Elliott            A Room with a View     No
254  1986     Dennis Hopper                      Hoosiers     No
276  1991   Tommy Lee Jones                           JFK     No
277  1991     Harvey Keitel                         Bugsy     No
278  1991      Ben Kingsley                         Bugsy     No
279  1991    Michael Lerner                   Barton Fink     No

In [40]:
# Page 6 - Best Supporting Actress
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Supporting_Actress")
tables = data.findAll("table", class_= "wikitable sortable")

In [41]:
# Here we extract each actress, film and year
films =[]
actresses = []
years = []
winners = {'actress' : [], 'film' : [] }
df_yearRows = pd.DataFrame(columns = ["Year","Rows"])

# All years are in a four digit format so we dont need to do any formatting
for row in tables[0].findAll("th", scope="row"):
    cells = row.findAll('a')  
    if(len(cells) > 1 and row.has_attr('rowspan')):
        year = cells[0].find(text=True)
        nrows = row['rowspan']
        df_yearRows.loc[df_yearRows.shape[0]] = [year,nrows]
        years.append(year)
    
for row in tables[0].findAll("tr"):
    cells = row.findAll("td")    
    index = 0
    if(len(cells) > 1):  
        isWinner = False
        if(cells[0].has_attr("style")):  
            if(cells[0]["style"].startswith(winnerStyle)):
                isWinner = True
    for c in cells:
        links = c.findAll("a")
        for l in links:
            if(l.has_attr('title')):
                if(index == 0): 
                    actress = l.find(text=True).encode('utf-8').strip()
                    actresses.append(actress)                    
                elif(index == 2): 
                    film = l.find(text=True).encode('utf-8').strip()
                    films.append(film)
                    if isWinner:
                        winners['actress'].append(actress)
                        winners['film'].append(film)
        index = index+1

In [42]:
# Check the length of the lists. Actresses and films are not the same because in several years multiple actresses were nominated 
# for the same film
print(len(years))
print(len(actresses))
print(len(films))

82
410
396

In [43]:
films.insert(28, films[27])
films.insert(47, films[46])
films.insert(62, films[61])
films.insert(68, films[67])
films.insert(94, films[93])
films.insert(109, films[108])
films.insert(118, films[117])
films.insert(137, films[136])
films.insert(138, films[136])
films.insert(148, films[147])
films.insert(267, films[266])
films.insert(323, films[322])
films.insert(327, films[326])
films.insert(362, films[361])

In [44]:
# Now they are the same length
print(len(years))
print(len(actresses))
print(len(films))

82
410
410

In [45]:
df_supActresses = pd.DataFrame(columns = ["Year","Actress","Film","Winner"])
start = 0
for index, row in df_yearRows.iterrows():
    year = row["Year"]
    numFilms = pd.to_numeric(row["Rows"])
    end = start + numFilms   
    for i in range(start, end):  
        isWinner = "No"
        actress = actresses[i]   
        film = films[i]
        if actress in winners['actress'] and film in winners['film']:
            isWinner = "Yes"        
            for key, value in enumerate(winners['actress']):
                if value == actress:
                    del winners['actress'][key]
                    del winners['film'][key]
                    break
        df_supActresses.loc[df_supActresses.shape[0]] = [year,actress,film,isWinner]
    start = start + numFilms
df_supActresses.loc[df_supActresses["Winner"] == "Yes"]

     Year               Actress                       Film Winner
0    1936      Gale Sondergaard            Anthony Adverse    Yes
5    1937           Alice Brady             In Old Chicago    Yes
10   1938           Fay Bainter                    Jezebel    Yes
15   1939       Hattie McDaniel         Gone with the Wind    Yes
20   1940          Jane Darwell        The Grapes of Wrath    Yes
25   1941            Mary Astor              The Great Lie    Yes
30   1942         Teresa Wright               Mrs. Miniver    Yes
35   1943        Katina Paxinou    For Whom the Bell Tolls    Yes
40   1944       Ethel Barrymore  None but the Lonely Heart    Yes
45   1945           Anne Revere            National Velvet    Yes
50   1946           Anne Baxter           The Razor's Edge    Yes
55   1947          Celeste Holm      Gentleman's Agreement    Yes
60   1948         Claire Trevor                  Key Largo    Yes
65   1949  Mercedes McCambridge         All the King's Men    Yes
70   1950        Josephine Hull                     Harvey    Yes
75   1951            Kim Hunter   A Streetcar Named Desire    Yes
80   1952        Gloria Grahame  The Bad and the Beautiful    Yes
85   1953            Donna Reed      From Here to Eternity    Yes
90   1954       Eva Marie Saint          On the Waterfront    Yes
95   1955          Jo Van Fleet               East of Eden    Yes
100  1956        Dorothy Malone        Written on the Wind    Yes
105  1957         Miyoshi Umeki                   Sayonara    Yes
110  1958          Wendy Hiller            Separate Tables    Yes
115  1959       Shelley Winters    The Diary of Anne Frank    Yes
120  1960         Shirley Jones               Elmer Gantry    Yes
125  1961           Rita Moreno            West Side Story    Yes
130  1962            Patty Duke         The Miracle Worker    Yes
135  1963   Margaret Rutherford                The V.I.P.s    Yes
140  1964          Lila Kedrova            Zorba the Greek    Yes
145  1965       Shelley Winters            A Patch of Blue    Yes
..    ...                   ...                        ...    ...
260  1988           Geena Davis     The Accidental Tourist    Yes
265  1989        Brenda Fricker               My Left Foot    Yes
270  1990       Whoopi Goldberg                      Ghost    Yes
275  1991        Mercedes Ruehl            The Fisher King    Yes
280  1992          Marisa Tomei            My Cousin Vinny    Yes
285  1993           Anna Paquin                  The Piano    Yes
290  1994          Dianne Wiest      Bullets over Broadway    Yes
295  1995          Mira Sorvino           Mighty Aphrodite    Yes
300  1996      Juliette Binoche        The English Patient    Yes
305  1997          Kim Basinger          L.A. Confidential    Yes
310  1998            Judi Dench        Shakespeare in Love    Yes
315  1999        Angelina Jolie          Girl, Interrupted    Yes
320  2000     Marcia Gay Harden                    Pollock    Yes
325  2001     Jennifer Connelly           A Beautiful Mind    Yes
330  2002  Catherine Zeta-Jones                    Chicago    Yes
335  2003       Renée Zellweger              Cold Mountain    Yes
340  2004        Cate Blanchett                The Aviator    Yes
345  2005          Rachel Weisz      The Constant Gardener    Yes
350  2006       Jennifer Hudson                 Dreamgirls    Yes
355  2007         Tilda Swinton            Michael Clayton    Yes
360  2008         Penélope Cruz   Vicky Cristina Barcelona    Yes
365  2009              Mo'Nique                   Precious    Yes
370  2010           Melissa Leo                The Fighter    Yes
375  2011       Octavia Spencer                   The Help    Yes
380  2012         Anne Hathaway             Les Misérables    Yes
385  2013        Lupita Nyong'o           12 Years a Slave    Yes
390  2014     Patricia Arquette                    Boyhood    Yes
395  2015       Alicia Vikander            The Danish Girl    Yes
400  2016           Viola Davis                     Fences    Yes
405  2017        Allison Janney                   I, Tonya    Yes

[82 rows x 4 columns]

In [46]:
# Now check each of the years that were inserted and see that each one has two or more occurrences of the same film
df_supActresses["Year"] = df_supActresses["Year"].astype(int)
years = [1941, 1945, 1948, 1949, 1954, 1957, 1959, 1963, 1965, 1989, 2000, 2001, 2008]
df_supActresses.loc[(df_supActresses["Year"].isin(years)) & (df_supActresses["Winner"] == "No")]

     Year             Actress                                 Film Winner
26   1941        Sara Allgood              How Green Was My Valley     No
27   1941   Patricia Collinge                     The Little Foxes     No
28   1941       Teresa Wright                     The Little Foxes     No
29   1941   Margaret Wycherly                        Sergeant York     No
46   1945           Eve Arden                       Mildred Pierce     No
47   1945           Ann Blyth                       Mildred Pierce     No
48   1945     Angela Lansbury           The Picture of Dorian Gray     No
49   1945        Joan Lorring                    The Corn is Green     No
61   1948  Barbara Bel Geddes                      I Remember Mama     No
62   1948         Ellen Corby                      I Remember Mama     No
63   1948     Agnes Moorehead                       Johnny Belinda     No
64   1948        Jean Simmons                               Hamlet     No
66   1949     Ethel Barrymore                                Pinky     No
67   1949        Celeste Holm                   Come to the Stable     No
68   1949     Elsa Lanchester                   Come to the Stable     No
69   1949        Ethel Waters                                Pinky     No
91   1954           Nina Foch                      Executive Suite     No
92   1954         Katy Jurado                         Broken Lance     No
93   1954        Jan Sterling              The High and the Mighty     No
94   1954       Claire Trevor              The High and the Mighty     No
106  1957       Carolyn Jones                   The Bachelor Party     No
107  1957     Elsa Lanchester          Witness for the Prosecution     No
108  1957          Hope Lange                         Peyton Place     No
109  1957         Diane Varsi                         Peyton Place     No
116  1959   Hermione Baddeley                      Room at the Top     No
117  1959        Susan Kohner                    Imitation of Life     No
118  1959       Juanita Moore                    Imitation of Life     No
119  1959       Thelma Ritter                          Pillow Talk     No
136  1963       Diane Cilento                            Tom Jones     No
137  1963         Edith Evans                            Tom Jones     No
138  1963        Joyce Redman                            Tom Jones     No
139  1963         Lilia Skala                  Lilies of the Field     No
146  1965         Ruth Gordon                  Inside Daisy Clover     No
147  1965        Joyce Redman                              Othello     No
148  1965        Maggie Smith                              Othello     No
149  1965          Peggy Wood                   The Sound of Music     No
266  1989     Anjelica Huston                Enemies, A Love Story     No
267  1989           Lena Olin                Enemies, A Love Story     No
268  1989       Julia Roberts                      Steel Magnolias     No
269  1989        Dianne Wiest                           Parenthood     No
321  2000          Judi Dench                             Chocolat     No
322  2000         Kate Hudson                        Almost Famous     No
323  2000   Frances McDormand                        Almost Famous     No
324  2000       Julie Walters                         Billy Elliot     No
326  2001        Helen Mirren                         Gosford Park     No
327  2001        Maggie Smith                         Gosford Park     No
328  2001        Marisa Tomei                       In the Bedroom     No
329  2001        Kate Winslet                                 Iris     No
361  2008           Amy Adams                                Doubt     No
362  2008         Viola Davis                                Doubt     No
363  2008    Taraji P. Henson  The Curious Case of Benjamin Button     No
364  2008        Marisa Tomei                         The Wrestler     No

In [47]:
# Look at the number of rows in each data frame
print(df_picture.shape[0])
print(df_directors.shape[0])
print(df_actors.shape[0])
print(df_actresses.shape[0])
print(df_supActors.shape[0])
print(df_supActresses.shape[0])

546
445
446
449
410
410

In [ ]:
# Now all the data has been read into data frames, the next step is to connect to MYSQL and store it in the database
from sqlalchemy import create_engine    # for connecting to MySQL
from MySQL_connect import config        # import MySQL_connect.py for connection parameters

# use the parameters from file to create connection variables
user = config['user']
password = config['password']
host = config['host']
db = config['db']

# Connection object for MySQL
engine = create_engine("mysql+mysqldb://"+user+":"+password+"@"+host+"/"+db+"?charset=utf8")

In [ ]:
# Insert the data from each data frame into tables. If the table already exists overwrite it
df_picture.to_sql('nominee_best_picture', con=engine, if_exists='replace', index_label='id')
df_directors.to_sql('nominee_best_director', con=engine, if_exists='replace', index_label='id')
df_actors.to_sql('nominee_best_actor', con=engine, if_exists='replace', index_label='id')
df_actresses.to_sql('nominee_best_actress', con=engine, if_exists='replace', index_label='id')
df_supActors.to_sql('nominee_best_supporting_actor', con=engine, if_exists='replace', index_label='id')
df_supActresses.to_sql('nominee_best_supporting_actress', con=engine, if_exists='replace', index_label='id')

In [ ]:
# Show that the tables havebeen created
res = engine.execute("SHOW TABLES")
for x in res:
    print x

In [ ]:
# Now lets run some queries on the tables
# First return the number of rows in each table
num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_picture")
print("Nominee Best Picture number of rows")
for x in num_res:
    print x
num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_director")
print("Nominee Best Director number of rows")
for x in num_res:
    print x
num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_actor")
print("Nominee Best Actor number of rows")
for x in num_res:
    print x
num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_actress")
print("Nominee Best Actress number of rows")
for x in num_res:
    print x
num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_supporting_actor")
print("Nominee Best Supporting Actor number of rows")
for x in num_res:
    print x
num_res = engine.execute("SELECT COUNT(*) FROM nominee_best_supporting_actress")
print("Nominee Best Supporting Actress number of rows")
for x in num_res:
    print x

In [ ]:
# For displaying results in a table format
from prettytable import PrettyTable

In [ ]:
# Query: Return a list of actors ordered by most nominations and wins
# Explained: We are using two tables - nominee_best_actor and nominee_best_supporting_actor. Therefore we use UNION inside a
# subquery to combine the results of two queries into one set. Each query counts the number of nominatins for each actor as well 
# as the number of times they won. We get the total for each actor by summing the results of each query.
actor_mostNom = engine.execute("SELECT actor, SUM(total_wins) AS total_wins, SUM(total_nom) AS total_nom \
FROM (SELECT actor, COUNT(actor) AS total_nom, COUNT(IF (winner = 'Yes', 1, null )) AS total_wins \
FROM nominee_best_actor GROUP BY actor \
UNION SELECT actor, COUNT(actor) AS total_nom, COUNT(IF (winner = 'Yes', 1, null )) AS total_wins \
FROM nominee_best_supporting_actor GROUP BY actor) AS res \
GROUP BY actor ORDER BY total_nom DESC, total_wins DESC, actor ASC")

table = PrettyTable(['Actor', 'Nominations', 'Wins'])
for x in actor_mostNom:
    table.add_row([x['actor'], x['total_nom'], x['total_wins']])
print(table)

In [ ]:
# Return a list of actresses ordered by most nominations and wins
# Explained: We are using two tables - nominee_best_actress and nominee_best_supporting_actress. Therefore we use UNION inside a
# subquery to combine the results of two queries into one set. Each query counts the number of nominations for each actress as well 
# as the number of times they won. We get the total for each actress by summing the results of each query.
supActor_mostNom = engine.execute("SELECT actress, SUM(total_wins) AS total_wins, SUM(total_nom) AS total_nom \
FROM (SELECT actress, COUNT(actress) AS total_nom, COUNT(IF (winner = 'Yes', 1, null )) AS total_wins \
FROM nominee_best_actress GROUP BY actress \
UNION SELECT actress, COUNT(actress) AS total_nom, COUNT(IF (winner = 'Yes', 1, null )) AS total_wins \
FROM nominee_best_supporting_actress GROUP BY actress) AS res \
GROUP BY actress ORDER BY total_nom DESC, total_wins DESC, actress ASC")

table = PrettyTable(['Actress', 'Nominations', 'Wins'])
for x in supActor_mostNom:
    table.add_row([x['actress'], x['total_nom'], x['total_wins']])
print(table)

In [ ]:
# Query: Return a list of directors ordered by most nominations and wins
# Explained: Because the 1st Osars had winners in different categories we have to use substring to get rid of any brackets 
# at the end of any names. With the names correct we can now count the number of nominations and the number of wins for each 
# director.
director_mostNom = engine.execute("SELECT director, SUM(total_wins) AS total_wins, SUM(total_nom) AS total_nom \
FROM (SELECT IF(SUBSTRING(director, LENGTH(director)) = ')', \
SUBSTRING(director, 1, POSITION('(' IN director) -1), director) AS director, \
COUNT(IF(SUBSTRING(director, LENGTH(director)) = ')', \
SUBSTRING(director, 1, POSITION('(' IN director) -1), director)) AS total_nom, \
COUNT(IF (winner = 'Yes', 1, null )) AS total_wins \
FROM nominee_best_director GROUP BY director ) AS res \
GROUP BY director ORDER BY total_nom DESC, total_wins DESC, director ASC")
 
table = PrettyTable(['Director', 'Nominations', 'Wins'])
for x in director_mostNom:
    table.add_row([x['director'], x['total_nom'], x['total_wins']])
print(table)

In [ ]:
# Query: Return a list of directors/companies ordered by most nominations and wins
# Explained: This query is difficult because the nominee column can have multiple names in it. We are interested in the first name as
# that is usually the director. The names can be seperated by either commas or 'and' so we use search for the position of 
# the first comma. If a comma is found then use that as the maximum index for the substring. If not then search for the 
# position of ' and ' and use that as the maximum index. Finally return the substring and use it to count each occurrence and
# the number of wins for each.
picture_mostNom = engine.execute("SELECT \
IF (POSITION(',' IN nominee) > 0, SUBSTRING(nominee, 1, POSITION(',' IN nominee) -1) , \
IF(POSITION(' and ' IN nominee) > 0, \
SUBSTRING(nominee, 1, POSITION(' and ' IN nominee)), nominee) \
) AS director, COUNT(nominee) AS total_nom, COUNT(IF(winner = 'Yes', 1, null)) AS total_wins \
FROM nominee_best_picture GROUP BY director ORDER BY total_nom DESC, total_wins DESC, director ASC")
 
table = PrettyTable(['Director/Company', 'Nominations', 'Wins'])
for x in picture_mostNom:
    table.add_row([x['director'], x['total_nom'], x['total_wins']])
print(table)