In [1]:
# This project involves using Beautiful Soup to extract information relating to Oscar winners from Wikipedia pages. In total 
# six different pages will be accessed in order to obtain the following:
# 1. Best Picture 
# 2. Best Director
# 3. Best Actor
# 4. Best Actress
# 5. Best Supporting Actor
# 6. Best Supporting Actress
# Once the data has been retrieved from each page, it will be stored in dataframes. I will then connect to MySQL, create tables
# and insert the data there. Finally I will run queries on the database to provide useful insight.

In [2]:
import urllib2;                    # for retrieving the contents of a page
from bs4 import BeautifulSoup;     # for parsing the contents of a page to HTML
import pandas as pd                # for creating dataframes
import re                          # for regular expressions

In [3]:
# function that takes in a URL and returns the contents of the page
def loadPage(url):
    page = urllib2.urlopen(url)
    data = BeautifulSoup(page, "lxml")
    return data

# style of table cells that have Oscar winners in them
winnerStyle = 'background:#FAEB86'

In [4]:
# Page 1- Best Picture
# Call function to read in URL and retrieve data from the page
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Picture")
# from the data get all the tables that have the following class
tables = data.findAll("table", class_= "wikitable")

In [5]:
# There are tables for each decade starting from the 1920's. We want to go through each table and extract the appropriate information
# Create empty lists for each film and nominee
films = []
nominees = []

# There are ten tables so we use range to keep track 
for i in range(0, 11):
    # For each table get each row start with the following style ie. could be 'background:#FAEB86' or 'background:#FAEB86;'
    for row in tables[i].findAll("tr", style=re.compile('^'+winnerStyle)):
        # Get each cell within that row
        cells = row.findAll('td')
        # Get the text from within the first cell, encode it to utf-8 and add it to the films list
        if(len(cells) > 0):        
            film = cells[0].find(text=True).encode('utf-8').strip()
            films.append(film)
            # Get the text from within the second cell, encode it and add it to the list of nominees
        if(len(cells) > 1):      
            nominee = cells[1].findAll(text=True)[:-1]
            nominees.append("".join(nominee).encode('utf-8').strip() )

In [6]:
# Here we extract the years. Years can be different formats depending on how far back they are ie. 1927/28, 1927/1928, 1928
# Create an empty list for each year
years = []
for i in range(0, 11):  
    # For each table row get each cell with the following style
    for row in tables[i].findAll("td", style="text-align:center"):
            # Get each link within that row
            cells = row.findAll('a')
            # If year is all in one link and in a format like 1927/28 then we want the first two and last two charaters so 
            # that it will be 1928
            if(len(cells[0].find(text=True)) == 7):
                year = cells[0].find(text=True)[0:2] + cells[0].find(text=True)[5:7]
            # If year is in two links and the second link has four numbers ie. 1927/1928 then we want the second link
            elif(len(cells[1].find(text=True)) == 4):       
                if (cells[1].find(text=True).isnumeric()):
                    year = cells[1].find(text=True)
            # If the year is in two links and the second link has two numbers ie. 1927/28 then we want the first two characters
            # of the first link and the last two of the second link
            elif(len(cells[1].find(text=True)) == 2):
                if (cells[1].find(text=True).isnumeric()):
                    year = cells[0].find(text=True)[0:2] + cells[1].find(text=True)
            # Else the year is in a standard format ie. 1928 so get four characters
            else:
                year = cells[0].find(text=True)[0:4]
            # add year to list of years
            years.append(year)

In [7]:
# Check the length of each list. They are all the same
print(len(films))
print(len(nominees))
print(len(years))

90
90
90

In [8]:
# Create a data frame for storing each list
df_picture = pd.DataFrame()
df_picture["Year"] = pd.to_numeric(years, errors='coerce')
df_picture["Film"] = films
df_picture["Nominee"] = nominees
df_picture

,Year,Film,Nominee
0,1928,Wings,Paramount Famous Lasky
1,1929,The Broadway Melody,Metro-Goldwyn-Mayer
2,1930,All Quiet on the Western Front,Universal
3,1931,Cimarron,RKO Radio
4,1932,Grand Hotel,Metro-Goldwyn-Mayer
5,1933,Cavalcade,Fox
6,1934,It Happened One Night,Columbia
7,1935,Mutiny on the Bounty,Metro-Goldwyn-Mayer
8,1936,The Great Ziegfeld,Metro-Goldwyn-Mayer
9,1937,The Life of Emile Zola,Warner Bros.
10,1938,You Can't Take It with You,Columbia
11,1939,Gone with the Wind,Selznick International Pictures
12,1940,Rebecca,Selznick International Pictures
13,1941,How Green Was My Valley,20th Century-Fox
14,1942,Mrs. Miniver,Metro-Goldwyn-Mayer
15,1943,Casablanca,Warner Bros.
16,1944,Going My Way,Paramount
17,1945,The Lost Weekend,Paramount
18,1946,The Best Years of Our Lives,Samuel Goldwyn Productions
19,1947,Gentleman's Agreement,20th Century-Fox
20,1948,Hamlet,J. Arthur Rank-Two Cities Films
21,1949,All the King's Men,Robert Rossen Productions
22,1950,All About Eve,20th Century-Fox
23,1951,An American in Paris,Arthur Freed
24,1952,The Greatest Show on Earth,Cecil B. DeMille
25,1953,From Here to Eternity,Buddy Adler
26,1954,On the Waterfront,Sam Spiegel
27,1955,Marty,Harold Hecht
28,1956,Around the World in 80 Days,Michael Todd
29,1957,The Bridge on the River Kwai,Sam Spiegel
...,...,...,...
60,1988,Rain Man,Mark Johnson
61,1989,Driving Miss Daisy,Richard D. Zanuck and Lili Fini Zanuck
62,1990,Dances with Wolves,Jim Wilson and Kevin Costner
63,1991,The Silence of the Lambs,"Edward Saxon, Kenneth Utt, and Ron Bozman"
64,1992,Unforgiven,Clint Eastwood
65,1993,Schindler's List,"Steven Spielberg, Gerald R. Molen, and Branko ..."
66,1994,Forrest Gump,"Wendy Finerman, Steve Tisch, and Steve Starkey"
67,1995,Braveheart,"Mel Gibson, Alan Ladd Jr., and Bruce Davey"
68,1996,The English Patient,Saul Zaentz
69,1997,Titanic,James Cameron and Jon Landau
70,1998,Shakespeare in Love,"David Parfitt, Donna Gigliotti, Harvey Weinste..."
71,1999,American Beauty,Bruce Cohen and Dan Jinks
72,2000,Gladiator,"Douglas Wick, David Franzoni, and Branko Lustig"
73,2001,A Beautiful Mind,Brian Grazer and Ron Howard
74,2002,Chicago,Martin Richards
75,2003,The Lord of the Rings: The Return of the King,"Barrie M. Osborne, Peter Jackson, and Fran Walsh"
76,2004,Million Dollar Baby,"Clint Eastwood, Albert S. Ruddy, and Tom Rosen..."
77,2005,Crash,Paul Haggis and Cathy Schulman
78,2006,The Departed,Graham King
79,2007,No Country for Old Men,"Scott Rudin, Joel Coen, and Ethan Coen"
80,2008,Slumdog Millionaire,Christian Colson
81,2009,The Hurt Locker,"Kathryn Bigelow, Mark Boal, Nicolas Chartier, ..."
82,2010,The King's Speech,"Iain Canning, Emile Sherman, and Gareth Unwin"
83,2011,The Artist,Thomas Langmann
84,2012,Argo,"Grant Heslov, Ben Affleck, and George Clooney"
85,2013,12 Years a Slave,"Brad Pitt, Dede Gardner, Jeremy Kleiner, Steve..."
86,2014,Birdman or (The Unexpected Virtue of Ignorance),"Alejandro G. Iñárritu, John Lesher, and James ..."
87,2015,Spotlight,"Blye Pagon Faust, Steve Golin, Nicole Rocklin,..."
88,2016,Moonlight,"Adele Romanski, Dede Gardner, and Jeremy Kleiner"
89,2017,The Shape of Water,Guillermo del Toro and J. Miles Dale

In [9]:
# Page2 - Best Director
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Director")
tables = data.findAll("table", class_= "wikitable sortable")

In [10]:
# Here we extract each film and its director. All the data is stored in one table.
# Create empty lists for storing each film and director
films =[]
directors = []
# Get each row within the table
for row in tables[0].findAll("tr"):
        cells = row.findAll("td", style=re.compile('^'+winnerStyle))
        # For the first year there was two categories of winners so we want to include that information. It is inside a span tag.
        # FindAll() gets all the text within the cell including child tags. 
        #Finally use join() to merge the text into one string and add it to the list of direcors
        if(len(cells) > 0):
            director = cells[0].findAll(text=True)[:-1]
            directors.append("".join(director).encode('utf-8').strip())  
        # Get the film from the second cell and add it to the list of films
        if(len(cells) > 1):
            film = cells[1].find(text=True).encode('utf-8').strip() 
            films.append(film)

In [11]:
# Here we extract the years.
years = []
for row in tables[0].findAll("th", scope="row"):
    cells = row.findAll('a')     
    if(len(cells[0].find(text=True)) == 7):
        year = cells[0].find(text=True)[0:2] + cells[0].find(text=True)[5:7]
    elif(len(cells[1].find(text=True)) == 4):       
        if (cells[1].find(text=True).isnumeric()):
            year = cells[1].find(text=True)  
    elif(len(cells[1].find(text=True)) == 2):
        if (cells[1].find(text=True).isnumeric()):
            year = cells[0].find(text=True)[0:2] + cells[1].find(text=True)
    else:
        year = cells[0].find(text=True)[0:4]
    years.append(year)

In [12]:
# Check the length of each list. Due to the 1st Oscars having multiple awards they are not the same length
print(len(films))
print(len(directors))
print(len(years))

91
91
90

In [13]:
# To amend this lets insert a year at the position 1 with the same value as the position 0
years.insert(1, years[0])

In [14]:
# Now they are all the same length
print(len(films))
print(len(directors))
print(len(years))

91
91
91

In [15]:
# Create a data frame for storing each list and print it
df_directors = pd.DataFrame()
df_directors["Year"] = pd.to_numeric(years, errors='coerce')
df_directors["Director"] = directors
df_directors["Film"] = films
# Look at the data frame.
df_directors

,Year,Director,Film
0,1928,Frank Borzage (Dramatic),7th Heaven
1,1928,Lewis Milestone (Comedy),Two Arabian Knights
2,1929,Frank Lloyd,The Divine Lady
3,1930,Lewis Milestone,All Quiet on the Western Front
4,1931,Norman Taurog,Skippy
5,1932,Frank Borzage,Bad Girl
6,1933,Frank Lloyd,Cavalcade
7,1934,Frank Capra,It Happened One Night
8,1935,John Ford,The Informer
9,1936,Frank Capra,Mr. Deeds Goes to Town
10,1937,Leo McCarey,The Awful Truth
11,1938,Frank Capra,You Can't Take It with You
12,1939,Victor Fleming,Gone with the Wind
13,1940,John Ford,The Grapes of Wrath
14,1941,John Ford,How Green Was My Valley
15,1942,William Wyler,Mrs. Miniver
16,1943,Michael Curtiz,Casablanca
17,1944,Leo McCarey,Going My Way
18,1945,Billy Wilder,The Lost Weekend
19,1946,William Wyler,The Best Years of Our Lives
20,1947,Elia Kazan,Gentleman's Agreement
21,1948,John Huston,The Treasure of the Sierra Madre
22,1949,Joseph L. Mankiewicz,A Letter to Three Wives
23,1950,Joseph L. Mankiewicz,All About Eve
24,1951,George Stevens,A Place in the Sun
25,1952,John Ford,The Quiet Man
26,1953,Fred Zinnemann,From Here to Eternity
27,1954,Elia Kazan,On the Waterfront
28,1955,Delbert Mann,Marty
29,1956,George Stevens,Giant
...,...,...,...
61,1988,Barry Levinson,Rain Man
62,1989,Oliver Stone,Born on the Fourth of July
63,1990,Kevin Costner,Dances with Wolves
64,1991,Jonathan Demme,The Silence of the Lambs
65,1992,Clint Eastwood,Unforgiven
66,1993,Steven Spielberg,Schindler's List
67,1994,Robert Zemeckis,Forrest Gump
68,1995,Mel Gibson,Braveheart
69,1996,Anthony Minghella,The English Patient
70,1997,James Cameron,Titanic
71,1998,Steven Spielberg,Saving Private Ryan
72,1999,Sam Mendes,American Beauty
73,2000,Steven Soderbergh,Traffic
74,2001,Ron Howard,A Beautiful Mind
75,2002,Roman Polanski,The Pianist
76,2003,Peter Jackson,The Lord of the Rings: The Return of the King
77,2004,Clint Eastwood,Million Dollar Baby
78,2005,Ang Lee,Brokeback Mountain
79,2006,Martin Scorsese,The Departed
80,2007,Coen Brothers,No Country for Old Men
81,2008,Danny Boyle,Slumdog Millionaire
82,2009,Kathryn Bigelow,The Hurt Locker
83,2010,Tom Hooper,The King's Speech
84,2011,Michel Hazanavicius,The Artist
85,2012,Ang Lee,Life of Pi
86,2013,Alfonso Cuarón,Gravity
87,2014,Alejandro G. Iñárritu,Birdman
88,2015,Alejandro G. Iñárritu,The Revenant
89,2016,Damien Chazelle,La La Land
90,2017,Guillermo del Toro,The Shape of Water

In [16]:
# Page 3- Best Actor
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor")
tables = data.findAll("table", class_= "wikitable sortable")

In [17]:
# Here we extract each actor and film
films =[]
actors = []
for row in tables[0].findAll("tr"):
    cells = row.findAll("td", style=re.compile('^'+winnerStyle))    
    # Index variable to keep track of the cell we are in
    index = 0
    for c in cells:
        # Get all the links within each cell
        links = c.findAll("a")
        for l in links:
            # If link has the attribute 'title' then we want it
            if(l.has_attr('title')):
                # If it is the first cell then get the text and add it to the list of actors
                if(index == 0): 
                    actor = l.find(text=True).encode('utf-8').strip()
                    actors.append(actor)
                # If it is the third cell then get the text and add it to the list of films
                elif(index == 2): 
                    film = l.find(text=True).encode('utf-8').strip()
                    films.append(film)
        # increment index
        index = index+1

In [18]:
# Here we extract the years
years = []
for row in tables[0].findAll("th", scope="row"):
    cells = row.findAll('a')     
    if(len(cells[0].find(text=True)) == 7):
        year = cells[0].find(text=True)[0:2] + cells[0].find(text=True)[5:7]
    elif(len(cells[1].find(text=True)) == 4):       
        if (cells[1].find(text=True).isnumeric()):
            year = cells[1].find(text=True)  
    elif(len(cells[1].find(text=True)) == 2):
        if (cells[1].find(text=True).isnumeric()):
            year = cells[0].find(text=True)[0:2] + cells[1].find(text=True)
    else:
        year = cells[0].find(text=True)[0:4]
    years.append(year)

In [19]:
# Check the length of each list. They are not the same. There are two reasons for this.
# 1. In the 1st Oscars the actor won awards for two films
# 2. In 1932 there was a tie for 1st place
print(len(films))
print(len(actors))
print(len(years))

92
91
90

In [20]:
# To amend this lets insert the actor at position 0 into position 1 and insert the appropriate years at position 1 and 6 of years
actors.insert(1, actors[0])
years.insert(1, years[0])
years.insert(6, years[5])

In [21]:
# Now they are all the same length
print(len(films))
print(len(actors))
print(len(years))

92
92
92

In [22]:
# Create a data frame for storing the lists
df_actors = pd.DataFrame()
df_actors["Year"] = pd.to_numeric(years, errors='coerce')
df_actors["Actor"] = actors
df_actors["Film"] = films
# Print the data frame and look at years 1928 and 1932
df_actors

    Year                   Actor                            Film
0   1928           Emil Jannings                The Last Command
1   1928           Emil Jannings            The Way of All Flesh
2   1929           Warner Baxter                  In Old Arizona
3   1930           George Arliss                        Disraeli
4   1931        Lionel Barrymore                     A Free Soul
5   1932           Wallace Beery                       The Champ
6   1932           Fredric March         Dr. Jekyll and Mr. Hyde
7   1933        Charles Laughton  The Private Life of Henry VIII
8   1934             Clark Gable           It Happened One Night
9   1935         Victor McLaglen                    The Informer
10  1936               Paul Muni      The Story of Louis Pasteur
11  1937           Spencer Tracy             Captains Courageous
12  1938           Spencer Tracy                       Boys Town
13  1939            Robert Donat              Goodbye, Mr. Chips
14  1940           James Stewart          The Philadelphia Story
15  1941             Gary Cooper                   Sergeant York
16  1942            James Cagney             Yankee Doodle Dandy
17  1943              Paul Lukas              Watch on the Rhine
18  1944             Bing Crosby                    Going My Way
19  1945             Ray Milland                The Lost Weekend
20  1946           Fredric March     The Best Years of Our Lives
21  1947           Ronald Colman                   A Double Life
22  1948        Laurence Olivier                          Hamlet
23  1949      Broderick Crawford              All the King's Men
24  1950             José Ferrer              Cyrano de Bergerac
25  1951         Humphrey Bogart               The African Queen
26  1952             Gary Cooper                       High Noon
27  1953          William Holden                       Stalag 17
28  1954           Marlon Brando               On the Waterfront
29  1955         Ernest Borgnine                           Marty
..   ...                     ...                             ...
62  1988          Dustin Hoffman                        Rain Man
63  1989        Daniel Day-Lewis                    My Left Foot
64  1990            Jeremy Irons             Reversal of Fortune
65  1991         Anthony Hopkins        The Silence of the Lambs
66  1992               Al Pacino                Scent of a Woman
67  1993               Tom Hanks                    Philadelphia
68  1994               Tom Hanks                    Forrest Gump
69  1995            Nicolas Cage               Leaving Las Vegas
70  1996           Geoffrey Rush                           Shine
71  1997          Jack Nicholson              As Good as It Gets
72  1998         Roberto Benigni               Life Is Beautiful
73  1999            Kevin Spacey                 American Beauty
74  2000           Russell Crowe                       Gladiator
75  2001       Denzel Washington                    Training Day
76  2002            Adrien Brody                     The Pianist
77  2003               Sean Penn                    Mystic River
78  2004              Jamie Foxx                             Ray
79  2005  Philip Seymour Hoffman                          Capote
80  2006         Forest Whitaker       The Last King of Scotland
81  2007        Daniel Day-Lewis             There Will Be Blood
82  2008               Sean Penn                            Milk
83  2009            Jeff Bridges                     Crazy Heart
84  2010             Colin Firth               The King's Speech
85  2011           Jean Dujardin                      The Artist
86  2012        Daniel Day-Lewis                         Lincoln
87  2013     Matthew McConaughey              Dallas Buyers Club
88  2014          Eddie Redmayne        The Theory of Everything
89  2015       Leonardo DiCaprio                    The Revenant
90  2016           Casey Affleck           Manchester by the Sea
91  2017             Gary Oldman                    Darkest Hour

[92 rows x 3 columns]

In [23]:
# Page 4- Best Actress
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actress")
tables = data.findAll("table", class_= "wikitable sortable")

In [24]:
# Here we extract each actress and film
films =[]
actresses = []
for row in tables[0].findAll("tr"):
    cells = row.findAll("td", style=re.compile('^'+winnerStyle))   
    index = 0
    for c in cells:
        links = c.findAll("a")
        for l in links:
            if(l.has_attr('title')):
                if(index == 0): 
                    actress = l.find(text=True).encode('utf-8').strip()
                    actresses.append(actress)
                elif(index == 2): 
                    movie = l.find(text=True).encode('utf-8').strip()
                    films.append(movie)
        index = index+1

In [25]:
# Here we extract each year
years = []
for row in tables[0].findAll("th", scope="row"):
    cells = row.findAll('a')     
    if(len(cells[0].find(text=True)) == 7):
        year = cells[0].find(text=True)[0:2] + cells[0].find(text=True)[5:7]
    elif(len(cells[1].find(text=True)) == 4):       
        if (cells[1].find(text=True).isnumeric()):
            year = cells[1].find(text=True)  
    elif(len(cells[1].find(text=True)) == 2):
        if (cells[1].find(text=True).isnumeric()):
            year = cells[0].find(text=True)[0:2] + cells[1].find(text=True)
    else:
        year = cells[0].find(text=True)[0:4] 
    years.append(year)

In [26]:
# Check the length of each list. They are not the same. There are two reasons for this.
# 1. In the 1st Oscars the actress won awards for three films
# 2. In 1968 there was a tie for 1st place
print(len(actresses))
print(len(films))
print(len(years))

91
93
90

In [27]:
# Lets amend this by inserting the actress at the position 0 to position 1 and 2. Do the same for the years
# Also insert the year at position 40 into position 41
actresses.insert(1, actresses[0])
actresses.insert(2, actresses[1])
years.insert(41, years[40])
years.insert(1, years[0])
years.insert(2, years[1])

In [28]:
# Now they are all the same length
print(len(actresses))
print(len(films))
print(len(years))

93
93
93

In [29]:
# Create a data frame for storing the lists
df_actresses = pd.DataFrame()
df_actresses["Year"] = pd.to_numeric(years, errors='coerce')
df_actresses["Actress"] = actresses
df_actresses["Film"] = films
# Print the dataframe and look at the first three indexes which have the same year and actress but different films
df_actresses

    Year              Actress                                       Film
0   1928         Janet Gaynor                                 7th Heaven
1   1928         Janet Gaynor                               Street Angel
2   1928         Janet Gaynor              Sunrise: A Song of Two Humans
3   1929        Mary Pickford                                   Coquette
4   1930        Norma Shearer                               The Divorcee
5   1931       Marie Dressler                               Min and Bill
6   1932          Helen Hayes                 The Sin of Madelon Claudet
7   1933    Katharine Hepburn                              Morning Glory
8   1934    Claudette Colbert                      It Happened One Night
9   1935          Bette Davis                                  Dangerous
10  1936         Luise Rainer                         The Great Ziegfeld
11  1937         Luise Rainer                             The Good Earth
12  1938          Bette Davis                                    Jezebel
13  1939         Vivien Leigh                         Gone with the Wind
14  1940        Ginger Rogers                                Kitty Foyle
15  1941        Joan Fontaine                                  Suspicion
16  1942         Greer Garson                               Mrs. Miniver
17  1943       Jennifer Jones                     The Song of Bernadette
18  1944       Ingrid Bergman                                   Gaslight
19  1945        Joan Crawford                             Mildred Pierce
20  1946  Olivia de Havilland                            To Each His Own
21  1947        Loretta Young                      The Farmer's Daughter
22  1948           Jane Wyman                             Johnny Belinda
23  1949  Olivia de Havilland                                The Heiress
24  1950        Judy Holliday                             Born Yesterday
25  1951         Vivien Leigh                   A Streetcar Named Desire
26  1952        Shirley Booth                    Come Back, Little Sheba
27  1953       Audrey Hepburn                              Roman Holiday
28  1954          Grace Kelly                           The Country Girl
29  1955         Anna Magnani                            The Rose Tattoo
..   ...                  ...                                        ...
63  1988         Jodie Foster                                The Accused
64  1989        Jessica Tandy                         Driving Miss Daisy
65  1990          Kathy Bates                                     Misery
66  1991         Jodie Foster                   The Silence of the Lambs
67  1992        Emma Thompson                                Howards End
68  1993         Holly Hunter                                  The Piano
69  1994        Jessica Lange                                   Blue Sky
70  1995       Susan Sarandon                           Dead Man Walking
71  1996    Frances McDormand                                      Fargo
72  1997           Helen Hunt                         As Good as It Gets
73  1998      Gwyneth Paltrow                        Shakespeare in Love
74  1999         Hilary Swank                             Boys Don't Cry
75  2000        Julia Roberts                            Erin Brockovich
76  2001          Halle Berry                             Monster's Ball
77  2002        Nicole Kidman                                  The Hours
78  2003      Charlize Theron                                    Monster
79  2004         Hilary Swank                        Million Dollar Baby
80  2005    Reese Witherspoon                              Walk the Line
81  2006         Helen Mirren                                  The Queen
82  2007     Marion Cotillard                             La Vie en Rose
83  2008         Kate Winslet                                 The Reader
84  2009       Sandra Bullock                             The Blind Side
85  2010      Natalie Portman                                 Black Swan
86  2011         Meryl Streep                              The Iron Lady
87  2012    Jennifer Lawrence                    Silver Linings Playbook
88  2013       Cate Blanchett                               Blue Jasmine
89  2014       Julianne Moore                                Still Alice
90  2015          Brie Larson                                       Room
91  2016           Emma Stone                                 La La Land
92  2017    Frances McDormand  Three Billboards Outside Ebbing, Missouri

[93 rows x 3 columns]

In [30]:
# Now check the year 1968 and see two actresses and films
df_actresses.loc[df_actresses['Year'] == 1968]

    Year            Actress                Film
42  1968  Katharine Hepburn  The Lion in Winter
43  1968   Barbra Streisand          Funny Girl

In [31]:
# Page 5 - Best Supporting Actor
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Supporting_Actor")
tables = data.findAll("table", class_= "wikitable sortable")

In [32]:
# Here we extract each actor and film
films =[]
actors = []
for row in tables[0].findAll("tr"):
    cells = row.findAll("td", style=re.compile('^'+winnerStyle))   
    index = 0
    for c in cells:
        links = c.findAll("a")
        for l in links:
            if(l.has_attr('title')):
                if(index == 0): 
                    actor = l.find(text=True).encode('utf-8').strip()
                    actors.append(actor)
                elif(index == 2): 
                    movie = l.find(text=True).encode('utf-8').strip()
                    films.append(movie)
        index = index+1

In [33]:
# Here we extract the years. Because these awards started in 1936 all the years are in the correct format
years = []
for row in tables[0].findAll("th", scope="row"):
    cells = row.findAll('a') 
    if(len(cells) > 1):        
        year = cells[0].find(text=True)[0:4] 
        years.append(year)

In [34]:
# Check all lists are the same length, they are
print(len(actors))
print(len(films))
print(len(years))

82
82
82

In [35]:
# Create a data frame for storing the lists
df_supActors = pd.DataFrame()
df_supActors["Year"] = pd.to_numeric(years, errors='coerce')
df_supActors["Actor"] = actors
df_supActors["Film"] = films
# Print data frame
df_supActors

    Year                Actor                                       Film
0   1936       Walter Brennan                            Come and Get It
1   1937   Joseph Schildkraut                     The Life of Emile Zola
2   1938       Walter Brennan                                   Kentucky
3   1939      Thomas Mitchell                                 Stagecoach
4   1940       Walter Brennan                              The Westerner
5   1941         Donald Crisp                    How Green Was My Valley
6   1942           Van Heflin                               Johnny Eager
7   1943       Charles Coburn                       The More the Merrier
8   1944     Barry Fitzgerald                               Going My Way
9   1945           James Dunn                   A Tree Grows in Brooklyn
10  1946       Harold Russell                The Best Years of Our Lives
11  1947         Edmund Gwenn                     Miracle on 34th Street
12  1948        Walter Huston           The Treasure of the Sierra Madre
13  1949          Dean Jagger                        Twelve O'Clock High
14  1950       George Sanders                              All About Eve
15  1951          Karl Malden                   A Streetcar Named Desire
16  1952        Anthony Quinn                               Viva Zapata!
17  1953        Frank Sinatra                      From Here to Eternity
18  1954       Edmond O'Brien                      The Barefoot Contessa
19  1955          Jack Lemmon                             Mister Roberts
20  1956        Anthony Quinn                              Lust for Life
21  1957          Red Buttons                                   Sayonara
22  1958            Burl Ives                            The Big Country
23  1959        Hugh Griffith                                    Ben-Hur
24  1960        Peter Ustinov                                  Spartacus
25  1961      George Chakiris                            West Side Story
26  1962            Ed Begley                        Sweet Bird of Youth
27  1963       Melvyn Douglas                                        Hud
28  1964        Peter Ustinov                                    Topkapi
29  1965        Martin Balsam                          A Thousand Clowns
..   ...                  ...                                        ...
52  1988          Kevin Kline                        A Fish Called Wanda
53  1989    Denzel Washington                                      Glory
54  1990            Joe Pesci                                 Goodfellas
55  1991         Jack Palance                              City Slickers
56  1992         Gene Hackman                                 Unforgiven
57  1993      Tommy Lee Jones                               The Fugitive
58  1994        Martin Landau                                    Ed Wood
59  1995         Kevin Spacey                         The Usual Suspects
60  1996     Cuba Gooding Jr.                              Jerry Maguire
61  1997       Robin Williams                          Good Will Hunting
62  1998         James Coburn                                 Affliction
63  1999        Michael Caine                      The Cider House Rules
64  2000     Benicio del Toro                                    Traffic
65  2001        Jim Broadbent                                       Iris
66  2002         Chris Cooper                                Adaptation.
67  2003          Tim Robbins                               Mystic River
68  2004       Morgan Freeman                        Million Dollar Baby
69  2005       George Clooney                                    Syriana
70  2006           Alan Arkin                       Little Miss Sunshine
71  2007        Javier Bardem                     No Country for Old Men
72  2008         Heath Ledger                            The Dark Knight
73  2009      Christoph Waltz                       Inglourious Basterds
74  2010       Christian Bale                                The Fighter
75  2011  Christopher Plummer                                  Beginners
76  2012      Christoph Waltz                           Django Unchained
77  2013           Jared Leto                         Dallas Buyers Club
78  2014        J. K. Simmons                                   Whiplash
79  2015         Mark Rylance                            Bridge of Spies
80  2016       Mahershala Ali                                  Moonlight
81  2017         Sam Rockwell  Three Billboards Outside Ebbing, Missouri

[82 rows x 3 columns]

In [36]:
# Page 6 - Best Supporting Actress
data = loadPage("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Supporting_Actress")
tables = data.findAll("table", class_= "wikitable sortable")

In [37]:
# Here we extract each actress and film
films =[]
actresses = []
for row in tables[0].findAll("tr"):
    cells = row.findAll("td", style=re.compile('^'+winnerStyle))   
    index = 0
    for c in cells:
        links = c.findAll("a")
        for l in links:
            if(l.has_attr('title')):
                if(index == 0): 
                    actress = l.find(text=True).encode('utf-8').strip()
                    actresses.append(actress)
                elif(index == 2): 
                    movie = l.find(text=True).encode('utf-8').strip()
                    films.append(movie)
        index = index+1

In [38]:
# Here we extract the years. Because these awards started in 1936 all the years are in the correct format
years = []
for row in tables[0].findAll("th", scope="row"):
    cells = row.findAll('a')  
    if(len(cells) > 1):
        year = cells[0].find(text=True)
        years.append(year)

In [39]:
# Check all the lists are the same length, they are
print(len(actresses))
print(len(films))
print(len(years))

82
82
82

In [40]:
# Create a data frame for storing the lists
df_supActresses = pd.DataFrame()
df_supActresses["Year"] = pd.to_numeric(years, errors='coerce')
df_supActresses["Actress"] = actresses
df_supActresses["Film"] = films
# Print data frame
df_supActresses

    Year               Actress                       Film
0   1936      Gale Sondergaard            Anthony Adverse
1   1937           Alice Brady             In Old Chicago
2   1938           Fay Bainter                    Jezebel
3   1939       Hattie McDaniel         Gone with the Wind
4   1940          Jane Darwell        The Grapes of Wrath
5   1941            Mary Astor              The Great Lie
6   1942         Teresa Wright               Mrs. Miniver
7   1943        Katina Paxinou    For Whom the Bell Tolls
8   1944       Ethel Barrymore  None but the Lonely Heart
9   1945           Anne Revere            National Velvet
10  1946           Anne Baxter           The Razor's Edge
11  1947          Celeste Holm      Gentleman's Agreement
12  1948         Claire Trevor                  Key Largo
13  1949  Mercedes McCambridge         All the King's Men
14  1950        Josephine Hull                     Harvey
15  1951            Kim Hunter   A Streetcar Named Desire
16  1952        Gloria Grahame  The Bad and the Beautiful
17  1953            Donna Reed      From Here to Eternity
18  1954       Eva Marie Saint          On the Waterfront
19  1955          Jo Van Fleet               East of Eden
20  1956        Dorothy Malone        Written on the Wind
21  1957         Miyoshi Umeki                   Sayonara
22  1958          Wendy Hiller            Separate Tables
23  1959       Shelley Winters    The Diary of Anne Frank
24  1960         Shirley Jones               Elmer Gantry
25  1961           Rita Moreno            West Side Story
26  1962            Patty Duke         The Miracle Worker
27  1963   Margaret Rutherford                The V.I.P.s
28  1964          Lila Kedrova            Zorba the Greek
29  1965       Shelley Winters            A Patch of Blue
..   ...                   ...                        ...
52  1988           Geena Davis     The Accidental Tourist
53  1989        Brenda Fricker               My Left Foot
54  1990       Whoopi Goldberg                      Ghost
55  1991        Mercedes Ruehl            The Fisher King
56  1992          Marisa Tomei            My Cousin Vinny
57  1993           Anna Paquin                  The Piano
58  1994          Dianne Wiest      Bullets over Broadway
59  1995          Mira Sorvino           Mighty Aphrodite
60  1996      Juliette Binoche        The English Patient
61  1997          Kim Basinger          L.A. Confidential
62  1998            Judi Dench        Shakespeare in Love
63  1999        Angelina Jolie          Girl, Interrupted
64  2000     Marcia Gay Harden                    Pollock
65  2001     Jennifer Connelly           A Beautiful Mind
66  2002  Catherine Zeta-Jones                    Chicago
67  2003       Renée Zellweger              Cold Mountain
68  2004        Cate Blanchett                The Aviator
69  2005          Rachel Weisz      The Constant Gardener
70  2006       Jennifer Hudson                 Dreamgirls
71  2007         Tilda Swinton            Michael Clayton
72  2008         Penélope Cruz   Vicky Cristina Barcelona
73  2009              Mo'Nique                   Precious
74  2010           Melissa Leo                The Fighter
75  2011       Octavia Spencer                   The Help
76  2012         Anne Hathaway             Les Misérables
77  2013        Lupita Nyong'o           12 Years a Slave
78  2014     Patricia Arquette                    Boyhood
79  2015       Alicia Vikander            The Danish Girl
80  2016           Viola Davis                     Fences
81  2017        Allison Janney                   I, Tonya

[82 rows x 3 columns]

In [41]:
# Print the number of rows in each data frame
print(df_picture.shape[0])
print(df_directors.shape[0])
print(df_actors.shape[0])
print(df_actresses.shape[0])
print(df_supActors.shape[0])
print(df_supActresses.shape[0])

90
91
92
93
82
82

In [42]:
# Now all the data has been read into data frames, the next step is to connect to MYSQL and store it in the database
from sqlalchemy import create_engine    # for connecting to MySQL
from MySQL_connect import config        # import MySQL_connect.py for connection parameters

# use the parameters from file to create connection variables
user = config['user']
password = config['password']
host = config['host']
db = config['db']

# Connection object for MySQL
engine = create_engine("mysql+mysqldb://"+user+":"+password+"@"+host+"/"+db+"?charset=utf8")

In [43]:
# Insert the data from each data frame into tables. If the table already exists overwrite it
df_picture.to_sql('best_picture', con=engine, if_exists='replace', index_label='id')
df_directors.to_sql('best_director', con=engine, if_exists='replace', index_label='id')
df_actors.to_sql('best_actor', con=engine, if_exists='replace', index_label='id')
df_actresses.to_sql('best_actress', con=engine, if_exists='replace', index_label='id')
df_supActors.to_sql('best_supporting_actor', con=engine, if_exists='replace', index_label='id')
df_supActresses.to_sql('best_supporting_actress', con=engine, if_exists='replace', index_label='id')

In [44]:
# Show that the tables have been created
res = engine.execute("SHOW TABLES")
for x in res:
    print(x)

(u'best_actor',)
(u'best_actress',)
(u'best_director',)
(u'best_picture',)
(u'best_supporting_actor',)
(u'best_supporting_actress',)

In [45]:
# Now lets run some queries on the tables
# First return the number of row in each table
num_res = engine.execute("SELECT COUNT(*) FROM best_picture")
print("Best Picture number of rows")
for x in num_res:
    print(x)
num_res = engine.execute("SELECT COUNT(*) FROM best_director")
print("Best Director number of rows")
for x in num_res:
    print(x)
num_res = engine.execute("SELECT COUNT(*) FROM best_actor")
print("Best Actor number of rows")
for x in num_res:
    print(x)
num_res = engine.execute("SELECT COUNT(*) FROM best_actress")
print("Best Actress number of rows")
for x in num_res:
    print(x)
num_res = engine.execute("SELECT COUNT(*) FROM best_supporting_actor")
print("Best Supporting Actor number of rows")
for x in num_res:
    print(x)
num_res = engine.execute("SELECT COUNT(*) FROM best_supporting_actress")
print("Best Supporting Actress number of rows")
for x in num_res:
    print(x)

Best Picture number of rows
(90L,)
Best Director number of rows
(91L,)
Best Actor number of rows
(92L,)
Best Actress number of rows
(93L,)
Best Supporting Actor number of rows
(82L,)
Best Supporting Actress number of rows
(82L,)

In [46]:
from prettytable import PrettyTable    # allow us to output results of queries in table format

In [47]:
# Query: Return a list of actors who have won an Oscar. In descending order of wins
# Explained: We are using two tables - best_actor and best_supporting_actor. Therefore we use UNION inside a subquery to 
# combine the results of two queries into one set. Each query counts the total for each actor so we sum both totals to get 
# the total number of wins for each actor.
actor_mostWins = engine.execute("SELECT actor, SUM(total_wins) AS total_wins \
FROM (SELECT actor, COUNT(actor) AS total_wins \
FROM best_actor GROUP BY actor \
UNION SELECT actor, COUNT(actor) AS total_wins \
FROM best_supporting_actor GROUP BY actor) AS res \
GROUP BY actor ORDER BY total_wins DESC, actor ASC")

table = PrettyTable(['Actor', 'Wins'])
for x in actor_mostWins:
    table.add_row([x['actor'], x['total_wins']])
print(table)

+------------------------+------+
|         Actor          | Wins |
+------------------------+------+
|    Daniel Day-Lewis    |  3   |
|     Jack Nicholson     |  3   |
|     Walter Brennan     |  3   |
|     Anthony Quinn      |  2   |
|    Christoph Waltz     |  2   |
|     Dustin Hoffman     |  2   |
|     Emil Jannings      |  2   |
|     Fredric March      |  2   |
|      Gary Cooper       |  2   |
|     Jason Robards      |  2   |
|     Marlon Brando      |  2   |
|     Melvyn Douglas     |  2   |
|     Michael Caine      |  2   |
|     Peter Ustinov      |  2   |
|       Sean Penn        |  2   |
|     Spencer Tracy      |  2   |
|       Tom Hanks        |  2   |
|      Adrien Brody      |  1   |
|       Al Pacino        |  1   |
|       Alan Arkin       |  1   |
|     Alec Guinness      |  1   |
|    Anthony Hopkins     |  1   |
|       Art Carney       |  1   |
|    Barry Fitzgerald    |  1   |
|      Ben Johnson       |  1   |
|      Ben Kingsley      |  1   |
|    Benicio del Toro    |  1   |
|      Bing Crosby       |  1   |
|   Broderick Crawford   |  1   |
|       Burl Ives        |  1   |
|     Burt Lancaster     |  1   |
|     Casey Affleck      |  1   |
|     Charles Coburn     |  1   |
|    Charles Laughton    |  1   |
|    Charlton Heston     |  1   |
|      Chris Cooper      |  1   |
|     Christian Bale     |  1   |
|  Christopher Plummer   |  1   |
|   Christopher Walken   |  1   |
|      Clark Gable       |  1   |
|    Cliff Robertson     |  1   |
|      Colin Firth       |  1   |
|    Cuba Gooding Jr.    |  1   |
|      David Niven       |  1   |
|      Dean Jagger       |  1   |
|   Denzel Washington    |  1   |
|       Don Ameche       |  1   |
|      Donald Crisp      |  1   |
|       Ed Begley        |  1   |
|     Eddie Redmayne     |  1   |
|     Edmond O'Brien     |  1   |
|      Edmund Gwenn      |  1   |
|    Ernest Borgnine     |  1   |
|   F. Murray Abraham    |  1   |
|    Forest Whitaker     |  1   |
|     Frank Sinatra      |  1   |
|      Gary Oldman       |  1   |
|      Gene Hackman      |  1   |
|     Geoffrey Rush      |  1   |
|     George Arliss      |  1   |
|      George Burns      |  1   |
|    George C. Scott     |  1   |
|    George Chakiris     |  1   |
|     George Clooney     |  1   |
|     George Kennedy     |  1   |
|     George Sanders     |  1   |
|       Gig Young        |  1   |
|      Gregory Peck      |  1   |
|     Haing S. Ngor      |  1   |
|     Harold Russell     |  1   |
|      Heath Ledger      |  1   |
|      Henry Fonda       |  1   |
|     Hugh Griffith      |  1   |
|    Humphrey Bogart     |  1   |
|     J. K. Simmons      |  1   |
|     Jack Albertson     |  1   |
|      Jack Lemmon       |  1   |
|      Jack Palance      |  1   |
|      James Cagney      |  1   |
|      James Coburn      |  1   |
|       James Dunn       |  1   |
|     James Stewart      |  1   |
|       Jamie Foxx       |  1   |
|       Jared Leto       |  1   |
|     Javier Bardem      |  1   |
|     Jean Dujardin      |  1   |
|      Jeff Bridges      |  1   |
|      Jeremy Irons      |  1   |
|     Jim Broadbent      |  1   |
|       Joe Pesci        |  1   |
|       Joel Grey        |  1   |
|      John Gielgud      |  1   |
|     John Houseman      |  1   |
|       John Mills       |  1   |
|       John Wayne       |  1   |
|       Jon Voight       |  1   |
|      José Ferrer       |  1   |
|   Joseph Schildkraut   |  1   |
|      Karl Malden       |  1   |
|      Kevin Kline       |  1   |
|      Kevin Spacey      |  1   |
|    Laurence Olivier    |  1   |
|       Lee Marvin       |  1   |
|   Leonardo DiCaprio    |  1   |
|    Lionel Barrymore    |  1   |
|   Louis Gossett Jr.    |  1   |
|     Mahershala Ali     |  1   |
|      Mark Rylance      |  1   |
|     Martin Balsam      |  1   |
|     Martin Landau      |  1   |
|  Matthew McConaughey   |  1   |
|   Maximilian Schell    |  1   |
|    Michael Douglas     |  1   |
|     Morgan Freeman     |  1   |
|      Nicolas Cage      |  1   |
|       Paul Lukas       |  1   |
|       Paul Muni        |  1   |
|      Paul Newman       |  1   |
|     Paul Scofield      |  1   |
|      Peter Finch       |  1   |
| Philip Seymour Hoffman |  1   |
|      Ray Milland       |  1   |
|      Red Buttons       |  1   |
|      Rex Harrison      |  1   |
|    Richard Dreyfuss    |  1   |
|     Robert De Niro     |  1   |
|      Robert Donat      |  1   |
|     Robert Duvall      |  1   |
|    Roberto Benigni     |  1   |
|     Robin Williams     |  1   |
|      Rod Steiger       |  1   |
|     Ronald Colman      |  1   |
|     Russell Crowe      |  1   |
|      Sam Rockwell      |  1   |
|      Sean Connery      |  1   |
|     Sidney Poitier     |  1   |
|    Thomas Mitchell     |  1   |
|      Tim Robbins       |  1   |
|     Timothy Hutton     |  1   |
|    Tommy Lee Jones     |  1   |
|       Van Heflin       |  1   |
|    Victor McLaglen     |  1   |
|     Wallace Beery      |  1   |
|     Walter Huston      |  1   |
|     Walter Matthau     |  1   |
|     Warner Baxter      |  1   |
|     William Holden     |  1   |
|      William Hurt      |  1   |
|      Yul Brynner       |  1   |
+------------------------+------+

In [48]:
# Query: Return a list of actresses who have won an Oscar. In descending order of wins
# Explained: We are using two tables - best_actress and best_supporting_actress. Therefore we use UNION inside a subquery to 
# combine the results of two queries into one set. Each query counts the total for each actress so we sum both totals to get 
# the total number of wins for each actress.
actress_mostWins = engine.execute("SELECT actress, SUM(total_wins) AS total_wins \
FROM ( SELECT actress, COUNT(actress) AS total_wins \
FROM best_actress GROUP BY actress \
UNION SELECT actress, COUNT(actress) AS total_wins \
FROM best_supporting_actress GROUP BY actress) AS res \
GROUP BY actress ORDER BY total_wins DESC, actress ASC")

table = PrettyTable(['Actress', 'Wins'])
for x in actress_mostWins:
    table.add_row([x['actress'], x['total_wins']])
print(table)

+----------------------+------+
|       Actress        | Wins |
+----------------------+------+
|  Katharine Hepburn   |  4   |
|    Ingrid Bergman    |  3   |
|     Janet Gaynor     |  3   |
|     Meryl Streep     |  3   |
|     Bette Davis      |  2   |
|     Dianne Wiest     |  2   |
|   Elizabeth Taylor   |  2   |
|  Frances McDormand   |  2   |
|    Glenda Jackson    |  2   |
|     Hilary Swank     |  2   |
|      Jane Fonda      |  2   |
|     Jodie Foster     |  2   |
|     Luise Rainer     |  2   |
| Olivia de Havilland  |  2   |
|     Sally Field      |  2   |
|   Shelley Winters    |  2   |
|     Vivien Leigh     |  2   |
|     Alice Brady      |  1   |
|   Alicia Vikander    |  1   |
|    Allison Janney    |  1   |
|    Angelina Jolie    |  1   |
|   Anjelica Huston    |  1   |
|     Anna Magnani     |  1   |
|     Anna Paquin      |  1   |
|    Anne Bancroft     |  1   |
|     Anne Baxter      |  1   |
|    Anne Hathaway     |  1   |
|     Anne Revere      |  1   |
|    Audrey Hepburn    |  1   |
|   Barbra Streisand   |  1   |
|  Beatrice Straight   |  1   |
|    Brenda Fricker    |  1   |
|     Brie Larson      |  1   |
|    Cate Blanchett    |  1   |
| Catherine Zeta-Jones |  1   |
|     Celeste Holm     |  1   |
|   Charlize Theron    |  1   |
|         Cher         |  1   |
|    Claire Trevor     |  1   |
|  Claudette Colbert   |  1   |
|   Cloris Leachman    |  1   |
|     Diane Keaton     |  1   |
|      Donna Reed      |  1   |
|    Dorothy Malone    |  1   |
|    Eileen Heckart    |  1   |
|    Ellen Burstyn     |  1   |
|      Emma Stone      |  1   |
|    Emma Thompson     |  1   |
|   Estelle Parsons    |  1   |
|   Ethel Barrymore    |  1   |
|   Eva Marie Saint    |  1   |
|     Fay Bainter      |  1   |
|     Faye Dunaway     |  1   |
|   Gale Sondergaard   |  1   |
|     Geena Davis      |  1   |
|    Geraldine Page    |  1   |
|    Ginger Rogers     |  1   |
|    Gloria Grahame    |  1   |
|     Goldie Hawn      |  1   |
|     Grace Kelly      |  1   |
|     Greer Garson     |  1   |
|   Gwyneth Paltrow    |  1   |
|     Halle Berry      |  1   |
|   Hattie McDaniel    |  1   |
|     Helen Hayes      |  1   |
|      Helen Hunt      |  1   |
|     Helen Mirren     |  1   |
|     Holly Hunter     |  1   |
|     Jane Darwell     |  1   |
|      Jane Wyman      |  1   |
|  Jennifer Connelly   |  1   |
|   Jennifer Hudson    |  1   |
|    Jennifer Jones    |  1   |
|  Jennifer Lawrence   |  1   |
|    Jessica Lange     |  1   |
|    Jessica Tandy     |  1   |
|     Jo Van Fleet     |  1   |
|    Joan Crawford     |  1   |
|    Joan Fontaine     |  1   |
|   Joanne Woodward    |  1   |
|    Josephine Hull    |  1   |
|      Judi Dench      |  1   |
|    Judy Holliday     |  1   |
|    Julia Roberts     |  1   |
|    Julianne Moore    |  1   |
|    Julie Andrews     |  1   |
|    Julie Christie    |  1   |
|   Juliette Binoche   |  1   |
|     Kate Winslet     |  1   |
|     Kathy Bates      |  1   |
|    Katina Paxinou    |  1   |
|     Kim Basinger     |  1   |
|      Kim Hunter      |  1   |
|      Lee Grant       |  1   |
|     Lila Kedrova     |  1   |
|      Linda Hunt      |  1   |
|    Liza Minnelli     |  1   |
|    Loretta Young     |  1   |
|   Louise Fletcher    |  1   |
|    Lupita Nyong'o    |  1   |
|     Maggie Smith     |  1   |
|  Marcia Gay Harden   |  1   |
| Margaret Rutherford  |  1   |
|    Marie Dressler    |  1   |
|   Marion Cotillard   |  1   |
|     Marisa Tomei     |  1   |
|    Marlee Matlin     |  1   |
|      Mary Astor      |  1   |
|    Mary Pickford     |  1   |
|   Mary Steenburgen   |  1   |
|  Maureen Stapleton   |  1   |
|     Melissa Leo      |  1   |
| Mercedes McCambridge |  1   |
|    Mercedes Ruehl    |  1   |
|     Mira Sorvino     |  1   |
|    Miyoshi Umeki     |  1   |
|       Mo'Nique       |  1   |
|   Natalie Portman    |  1   |
|    Nicole Kidman     |  1   |
|    Norma Shearer     |  1   |
|   Octavia Spencer    |  1   |
|   Olympia Dukakis    |  1   |
|  Patricia Arquette   |  1   |
|    Patricia Neal     |  1   |
|      Patty Duke      |  1   |
|    Peggy Ashcroft    |  1   |
|    Penélope Cruz     |  1   |
|     Rachel Weisz     |  1   |
|  Reese Witherspoon   |  1   |
|   Renée Zellweger    |  1   |
|     Rita Moreno      |  1   |
|     Ruth Gordon      |  1   |
|    Sandra Bullock    |  1   |
|     Sandy Dennis     |  1   |
|    Shirley Booth     |  1   |
|    Shirley Jones     |  1   |
|   Shirley MacLaine   |  1   |
|   Simone Signoret    |  1   |
|     Sissy Spacek     |  1   |
|     Sophia Loren     |  1   |
|    Susan Hayward     |  1   |
|    Susan Sarandon    |  1   |
|     Tatum O'Neal     |  1   |
|    Teresa Wright     |  1   |
|    Tilda Swinton     |  1   |
|   Vanessa Redgrave   |  1   |
|     Viola Davis      |  1   |
|     Wendy Hiller     |  1   |
|   Whoopi Goldberg    |  1   |
+----------------------+------+

In [49]:
# Query: Return a list of directors who have won an Oscar. In descending order of wins
# Explained: Because the 1st Osars had winners in different categories we have to use substring to get rid of any brackets at
# the end of any names. With the names correct we can now get the total for each director
director_mostWins = engine.execute("SELECT director, SUM(num_wins) AS total_wins \
FROM (SELECT IF(SUBSTRING(director, LENGTH(director)) = ')', \
SUBSTRING(director, 1, POSITION('(' IN director) -1), director) AS director, \
COUNT( IF(SUBSTRING(director, LENGTH(director)) = ')', \
substring(director, 1, POSITION('(' IN Director) -1), Director)) AS num_wins \
FROM best_director GROUP BY Director ) AS res \
GROUP BY Director ORDER BY total_wins DESC, director ASC");

table = PrettyTable(['Director', 'Wins'])
for x in director_mostWins:
    table.add_row([x['director'], x['total_wins']])
print(table)

+------------------------------+------+
|           Director           | Wins |
+------------------------------+------+
|          John Ford           |  4   |
|         Frank Capra          |  3   |
|        William Wyler         |  3   |
|    Alejandro G. Iñárritu     |  2   |
|           Ang Lee            |  2   |
|         Billy Wilder         |  2   |
|        Clint Eastwood        |  2   |
|          David Lean          |  2   |
|          Elia Kazan          |  2   |
|        Frank Borzage         |  2   |
|         Frank Lloyd          |  2   |
|        Fred Zinnemann        |  2   |
|        George Stevens        |  2   |
|     Joseph L. Mankiewicz     |  2   |
|         Leo McCarey          |  2   |
|       Lewis Milestone        |  2   |
|         Miloš Forman         |  2   |
|         Oliver Stone         |  2   |
|       Steven Spielberg       |  2   |
|        Alfonso Cuarón        |  1   |
|      Anthony Minghella       |  1   |
|        Barry Levinson        |  1   |
|     Bernardo Bertolucci      |  1   |
|          Bob Fosse           |  1   |
|          Carol Reed          |  1   |
|        Coen Brothers         |  1   |
|       Damien Chazelle        |  1   |
|         Danny Boyle          |  1   |
|         Delbert Mann         |  1   |
|     Francis Ford Coppola     |  1   |
|    Franklin J. Schaffner     |  1   |
|         George Cukor         |  1   |
|       George Roy Hill        |  1   |
|      Guillermo del Toro      |  1   |
|        James Cameron         |  1   |
|       James L. Brooks        |  1   |
|       John G. Avildsen       |  1   |
|         John Huston          |  1   |
|       John Schlesinger       |  1   |
|        Jonathan Demme        |  1   |
|       Kathryn Bigelow        |  1   |
|        Kevin Costner         |  1   |
|       Martin Scorsese        |  1   |
|          Mel Gibson          |  1   |
|        Michael Cimino        |  1   |
|        Michael Curtiz        |  1   |
|     Michel Hazanavicius      |  1   |
|         Mike Nichols         |  1   |
|        Norman Taurog         |  1   |
|        Peter Jackson         |  1   |
|     Richard Attenborough     |  1   |
|        Robert Benton         |  1   |
|        Robert Redford        |  1   |
|         Robert Wise          |  1   |
| Robert Wise & Jerome Robbins |  1   |
|       Robert Zemeckis        |  1   |
|        Roman Polanski        |  1   |
|          Ron Howard          |  1   |
|          Sam Mendes          |  1   |
|      Steven Soderbergh       |  1   |
|        Sydney Pollack        |  1   |
|          Tom Hooper          |  1   |
|       Tony Richardson        |  1   |
|        Victor Fleming        |  1   |
|      Vincente Minnelli       |  1   |
|        Warren Beatty         |  1   |
|       William Friedkin       |  1   |
|         Woody Allen          |  1   |
+------------------------------+------+

C:\Users\Emmet\AppData\Roaming\Python\Python27\site-packages\sqlalchemy\engine\default.py:470: Warning: (1052L, u"Column 'Director' in group statement is ambiguous")
  cursor.execute(statement, parameters)

In [50]:
# Query: Return a list of best picture winning directors/companies in descending order of total wins
# Explained: This query is difficult because the nominee column can have multiple names in it. We are interested in the first
# name as that is usually the director. The names can be seperated by either commas or 'and' so we use search for the position 
# of the first comma. If a comma is found then use that as the maximum index for the substring. If not then search for the 
# position of ' and ' and use that as the maximum index. Finally return the substring and use it for the count.
picture_mostWins = engine.execute("SELECT \
IF (POSITION(',' IN nominee) > 0, SUBSTRING(nominee, 1, POSITION(',' IN nominee) -1) , \
IF(POSITION(' and ' IN nominee) > 0, \
SUBSTRING(nominee, 1, POSITION(' and ' IN nominee)), nominee) \
) AS director, COUNT(nominee) AS total_wins \
FROM best_picture GROUP BY director ORDER BY total_wins DESC, director ASC")

table = PrettyTable(['Director/Company', 'Wins'])
for x in picture_mostWins:
    table.add_row([x['director'], x['total_wins']])
print(table)

+---------------------------------+------+
|         Director/Company        | Wins |
+---------------------------------+------+
|       Metro-Goldwyn-Mayer       |  5   |
|         20th Century-Fox        |  3   |
|           Sam Spiegel           |  3   |
|           Arthur Freed          |  2   |
|          Clint Eastwood         |  2   |
|             Columbia            |  2   |
|            Paramount            |  2   |
|           Robert Wise           |  2   |
|           Saul Zaentz           |  2   |
| Selznick International Pictures |  2   |
|           Warner Bros.          |  2   |
|          Adele Romanski         |  1   |
|         Albert S. Ruddy         |  1   |
|      Alejandro G. Iñárritu      |  1   |
|         Arnold Kopelson         |  1   |
|        Barrie M. Osborne        |  1   |
|          Barry Spikings         |  1   |
|           Billy Wilder          |  1   |
|         Blye Pagon Faust        |  1   |
|            Brad Pitt            |  1   |
|          Brian Grazer           |  1   |
|           Bruce Cohen           |  1   |
|           Buddy Adler           |  1   |
|         Cecil B. DeMille        |  1   |
|         Charles H. Joffe        |  1   |
|         Christian Colson        |  1   |
|          David Parfitt          |  1   |
|          David Puttnam          |  1   |
|           Douglas Wick          |  1   |
|           Edward Saxon          |  1   |
|               Fox               |  1   |
|       Francis Ford Coppola      |  1   |
|          Frank McCarthy         |  1   |
|          Fred Zinnemann         |  1   |
|           Graham King           |  1   |
|           Grant Heslov          |  1   |
|       Guillermo del Toro        |  1   |
|           Harold Hecht          |  1   |
|           Iain Canning          |  1   |
|          Irwin Winkler          |  1   |
| J. Arthur Rank-Two Cities Films |  1   |
|          Jack L. Warner         |  1   |
|          James Cameron          |  1   |
|         James L. Brooks         |  1   |
|          Jeremy Thomas          |  1   |
|          Jerome Hellman         |  1   |
|           Jim Wilson            |  1   |
|            John Woolf           |  1   |
|         Kathryn Bigelow         |  1   |
|           Mark Johnson          |  1   |
|         Martin Richards         |  1   |
|            Mel Gibson           |  1   |
|         Michael Douglas         |  1   |
|           Michael Todd          |  1   |
|      Paramount Famous Lasky     |  1   |
|           Paul Haggis           |  1   |
|         Philip D'Antoni         |  1   |
|       Richard Attenborough      |  1   |
|        Richard D. Zanuck        |  1   |
|            RKO Radio            |  1   |
|    Robert Rossen Productions    |  1   |
|        Ronald L. Schwary        |  1   |
|          Sam Zimbalist          |  1   |
|    Samuel Goldwyn Productions   |  1   |
|           Scott Rudin           |  1   |
|         Stanley R. Jaffe        |  1   |
|         Steven Spielberg        |  1   |
|          Sydney Pollack         |  1   |
|         Thomas Langmann         |  1   |
|            Tony Bill            |  1   |
|         Tony Richardson         |  1   |
|            Universal            |  1   |
|          Walter Mirisch         |  1   |
|          Wendy Finerman         |  1   |
+---------------------------------+------+